<div class="card">
  
  <div mat-dialog-content class="contenedor">
    <a title="Cancelar" id="cerrarModal" style=" display: flex; justify-content: flex-end; align-items: center;" data-dismiss="modal" aria-label="Close" >
      <i class="fa-solid fa-circle-xmark" style="position: fixed; color: #06543c;font-size: 25px;" (click)="cerrarDialog(2)"></i>
    </a>
    <div class="container">
      <form action="" #formObjetivo="ngForm">
        <div class="ms-2">
          <h1 class="text-center" *ngIf="numero == 1">
            <strong> Asignar Indicador</strong>
          </h1>
          <h1 class="text-center" *ngIf="numero == 2">
            <strong> Asignar Indicador</strong>
          </h1>
        </div>
  
        <app-formulario-evaluacion-indicador
          [fuenteDatos]="fuenteDatos"
          [responsables]="responsables"
          [procesos]="procesos"
          [model]="model"
          (requiredValidityChange)="onRequiredFieldsValidityChange($event)"
        ></app-formulario-evaluacion-indicador>
      </form>
      <br />
      <div
        mat-dialog-actions
        class="d-flex justify-content-center align-items-center"
      >
        <button mat-raised-button color="warn" (click)="cerrarDialog(2)">
          Cancelar
        </button>
        <button
          *ngIf="numero == 2"
          mat-raised-button
          style="background-color: #068460; color: aliceblue"
          (click)="registrar()"
          [disabled]="!formObjetivo.valid || !requiredFieldsValid"
        >
          Registrar
        </button>
  
        <button
          *ngIf="numero == 1"
          mat-raised-button
          style="background-color: #068460; color: aliceblue"
          (click)="registrar()"
          [disabled]="!formObjetivo.valid || !requiredFieldsValid"
        >
          Registrar
        </button>
      </div>
    </div>
    
  </div>
</div>
<app-modal></app-modal>
