.matForm {
  width: 100%; /* Ajusta el ancho del mat-form-field según tus necesidades */

}
.matForm textarea {
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  font-family: 'Work Sans', sans-serif;
}
.matForm mat-select {
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  font-family: 'Work Sans', sans-serif;
}
mat-select {
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  font-family: 'Work Sans', sans-serif;
}
 mat-option{
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  font-family: 'Work Sans', sans-serif;
}
mat-label{
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  font-family: 'Work Sans', sans-serif; 
}
::ng-deep .mat-mdc-form-field-infix {
  padding: 0.1px;
}
.custom-input {
  border: none; /* Elimina el borde del input */
  box-shadow: none; /* Elimina la sombra */
  background-color: transparent; /* Fondo transparente */
  outline: none; /* Elimina el contorno de foco */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
}
.contedit {
  height: 8rem;
}
.matForm mat-select:disabled,
.mat-select-value,
textarea:disabled,
input:disabled {
  text-align: left;
  color: black;

  font-size: 14px;
}
/*cccccc*/
.custom-select .ngx-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  background-color: #fff;
  color: #000;
}

/* Estilo cuando se enfoca (hover) */
.custom-select .ngx-select:hover {
  border: 1px solid #000;
}
label {
  color: black !important;
  font-size: 13px;
}




