<!-- Button trigger modal -->
<button id="openModalButton" class="btn-agregar" data-toggle="modal" data-target="#myModal">
  Agregar actividad
  <i class="fa-solid fa-plus" style="color: #fff;"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-contedor">
      <form  [formGroup]="formParent" class="controller-auditoria" (ngSubmit)="saveForm()">
        <div>
          <button id="closeModal" style="display: none;" type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <a title="Cancelar" class="cancelar" data-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;margin-top: 13px;"></i>
          </a>
          <h4 class="modal-title" id="myModalLabel">Planificación de la Auditoria Interna</h4>
        </div>
        <div class="modal-body" >
          <!-- comienza lo dinamico planificación -->
          <div>
            <section class="container-date">
              <div>
                <label class="label-auditor">Fecha</label>
                <input bsDatepicker appFwCalendario appDateInputMask type="text" maxlength="10" placement="bottom"
                  class="forma-input" #dp2="bsDatepicker" placeholder="DD-MM-YYYY" title="Inicio de actividad"
                  formControlName="planAuditoria"
                  style="width:100px;margin-right: 0px; margin-left: 7px;border: 1px solid #068460;border-radius:5px; padding: 3px;height: 22px;"
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'}" />
                <i (click)="dp2.show()" class="fa-solid fa-calendar-days"
                  style="color: #06543c;font-size: 22px;padding: 8px;" [attr.aria-expanded]="dp2.isOpen">
                </i>
              </div>
              <br>
              <div class="select-botton-grup" >
                <label class="label-auditor">Auditor</label>
                <div>
                  <select class="select-auditor" style="margin-top: 6px;height: 26px;border-radius: 5px;" formControlName="auditor">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let auditor of listAuditor" [value]="auditor.nombrePst">{{auditor.nombrePst}}
                    </option>
                  </select>
                </div>
              </div>


            </section>
            <section>
              <div  style="display: flex;margin-top: 6px;align-items: baseline;border-radius:5px">
                <label class="label-auditor-cargo">Nombre y cargo del auditado (s)</label>
                <div>
                  <select class="select-auditor" formControlName="nameAuditor">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let auditor of arrayListResponsible" [value]="auditor.nombrePst">{{auditor.nombrePst}} - {{auditor?.cargo}}
                    </option>
                  </select>
                </div>
              </div>
              <div style="display: flex; align-items: baseline;margin-top: 5px;border-radius:5px">
                <label class="forma-hora">Hora</label>
                <input type="time" value="" class="input-hora" style="margin: 8px;" formControlName="planTime">
              </div>
            </section>
            <br>
          </div>
          <div style="margin-top: 0;text-align: initial;">
            <label class="obs-titulo">Observaciones de Auditoria</label>
            <textarea type="text" style="height: 61px;border-radius: 10px;" class="obs"
              formControlName="observacion"></textarea>
          </div>       
          <tabset>
            <tab (click)="tabOption('proceso')">
              <ng-template tabHeading>
                <span class="mi-encabezado-tab">Proceso</span>
              </ng-template> 
              <select class="select-process"  *ngIf="activeTab === 'proceso' " id="selectProcess" formControlName="proceso">
                <option value="" disabled selected>Seleccionar</option>
                <option value="Proceso 1">Proceso 1</option>
                <option value="Proceso 2">Proceso 2</option>
                <option value="Proceso 3">Proceso 3</option>
              </select>
            </tab>
            <tab  (click)="tabOption('actividad')">
              <ng-template tabHeading>
                <span class="mi-encabezado-tab">Actividad</span>
              </ng-template>
              <input type="text" value="" class="actividad" placeholder="Actividad" formControlName="actividad">
            </tab>
          </tabset>
          <div style="height: 20px;"></div>
          <tabset>
          <tab (click)="tabOption('norma')">
            <ng-template tabHeading>
              <span class="mi-encabezado-tab">Norma</span>
            </ng-template>
            <input type="text" value="" class="actividad" placeholder="Norma" formControlName="norma">
          </tab>
          <tab (click)="tabOption('requisito')">
            <ng-template tabHeading>
              <span class="mi-encabezado-tab">Requisito a auditar</span>
            </ng-template>
            <select class="select-process" id="selectNorma" formControlName="requisito">
              <option value="" disabled selected>Seleccionar</option>
              <option value="Norma 1">Norma 1</option>
              <option value="Norma 2">Norma 2</option>
              <option value="Norma 3">Norma 3</option>
            </select>
          </tab>
        </tabset>
          <div class="div-guardar">
            <button type="submit" [disabled]="formParent.invalid" class="btn-guardar">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>