.matForm {
    width: 100%; /* Ajusta el ancho del mat-form-field según tus necesidades */
  }
  .matForm input {
    font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
    font-family: 'Work Sans', sans-serif;
  }
  ::ng-deep .mat-mdc-form-field-infix {
    padding: 0.1px;
  }
  .custom-input {
    border: none; /* Elimina el borde del input */
    box-shadow: none; /* Elimina la sombra */
    background-color: transparent; /* Fondo transparente */
    outline: none; /* Elimina el contorno de foco */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
  }
  label {
    color: black !important;
    font-size: 13px;
  }