<app-app-header></app-app-header>
<div class = "cointainer">
<div class="titulo">
    <h1>FORMULARIO DE CARACTERIZACIÓN DE {{ categoriaRNTValues }}</h1>
    <app-app-header-arrow-left class="arrow"></app-app-header-arrow-left>
</div>
<form [formGroup]="formParent" class="controllerCaracterizacion" (ngSubmit)="saveForm()">
  <p>Todos los campos con el asterisco (*) son obligatorios</p>
    <div *ngFor="let campo of preguntasOrdenadas; let i = index" class="caracterizacion">
      <!-- <div *ngFor="let campo of datos.campos; let i = index" class="caracterizacion"> -->
        <div *ngIf="campo.MENSAJE != 'dependencia' && campo.NOMBRE !== '¿Cuáles servicios de aventura presta?'">
          <label class="labelAll">{{ campo.NOMBRE }}
            <span *ngIf="campo.REQUERIDO == true && campo.VALUES == null" style="color: red;">*</span>
          </label>
        </div>
        <div [ngSwitch]="campo.TIPO_DE_DATO">
          <div *ngIf="campo.MENSAJE != 'dependencia'">
              <input *ngSwitchCase="'int'" type="number" [formControlName]="campo.NOMBRE" class="campo-nombre"
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" appNumeros 
              [required]="campo.REQUERIDO">

              <input *ngSwitchCase="'local_reference_id'" type="text" [formControlName]="campo.NOMBRE" 
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">
              
              <input *ngSwitchCase="'string'" type="text" [formControlName]="campo.NOMBRE" [id]="i" 
              (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">
          </div>
         
          <div *ngSwitchCase="'option'">
            <div *ngIf="campo.MENSAJE === 'municipios'; else elseBlock"> 
              <select [formControlName]="campo.NOMBRE" [id]="i" (change)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
              [(ngModel)]="selectedOption" (change)="printSelectedOption()" [required]="campo.REQUERIDO">
                <option *ngFor="let municipio of municipios" [value]="municipio.nom_mpio">{{municipio.nom_mpio}}</option>
              </select>
              <div class="selectedOption">
                <label *ngFor="let option of selectedOptions; let i = index" class="labelX">{{ option }} 
                  <span><button class="x" (click)="selectedOptions.splice(i, 1)">X</button></span>
                </label>
              </div>
            </div> 
            <ng-template #elseBlock>
              <select [formControlName]="campo.NOMBRE" id="id-del-select" [id]="i" [required]="campo.REQUERIDO"
              (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)">
                <option *ngFor="let opcion of campo.DESPLEGABLE" [value]="opcion.ID_DESPLEGABLE">{{opcion.NOMBRE}}</option>
              </select>
            </ng-template>
          </div>

          <div *ngIf="categoriaRNTValues && categoriaRNTValues.includes('AGENCIAS DE VIAJES ')">
            <select *ngSwitchCase="'norma'" [formControlName]="campo.NOMBRE" [id]="i"
            (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">
              <option *ngFor="let opcion of dataNorma" [value]="opcion.ID_NORMA" 
              [hidden]="!opcionesNorma.includes(opcion.ID_NORMA)" >{{ opcion.NORMA }}</option>
            </select>
          </div>
          <div *ngIf="categoriaRNTValues && !categoriaRNTValues.includes('AGENCIAS DE VIAJES ')">
            <select *ngSwitchCase="'norma'" [formControlName]="campo.NOMBRE" [id]="i"
            (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">
              <option *ngFor="let opcion of dataNorma" [value]="opcion.ID_NORMA">{{ opcion.NORMA }}</option>
            </select>
          </div>

          <div *ngIf="campo.MENSAJE != 'dependencia' && campo.NOMBRE !== '¿Cuáles servicios de aventura presta?'">
            <div *ngSwitchCase="'checkbox'" class="containerCheck">
              <div *ngFor="let opcion of campo.DESPLEGABLE" class="check"> 
                <input type="checkbox" [formControlName]="campo.NOMBRE" [value]="opcion.ID_DESPLEGABLE_CARACTERIZACION" [required]="campo.REQUERIDO"
                class="checkbox" (change)="opcion.mostrarInput = opcion.NOMBRE === 'OTROS'? !opcion.mostrarInput : false"
                [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)">{{opcion.NOMBRE}}
                <div>
                  <input type="text" *ngIf="opcion.mostrarInput && opcion.NOMBRE === 'OTROS'" class="inputContainer"
                  placeholder="Especifica otro" [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                  [formControl]="otroControlA" [ngClass]="{'ng-invalid ng-touched': validarCampoOtroA()}">
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'radio'" class="containerRadio">
            <div *ngFor="let opcion of campo.DESPLEGABLE" class="radio">
              <div *ngIf="campo.NOMBRE === 'Cuenta con líder de sostenibilidad   (Si / No)'; else elseRadio" class="radio">
                <input type="radio" [formControlName]="campo.NOMBRE" [value]="opcion.ID_DESPLEGABLE_CARACTERIZACION" [id]="i"   
                (change)="showSostenibilidad = (opcion.NOMBRE === 'SI')" [required]="campo.REQUERIDO"         
                (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"> {{opcion.NOMBRE}}
              </div>
              <ng-template #elseRadio>
                 <div *ngIf="campo.NOMBRE === '¿Presta servicios de aventura?'; else elseBlock2" class="radio">
                  <input type="radio" [formControlName]="campo.NOMBRE" [value]="opcion.ID_DESPLEGABLE_CARACTERIZACION" [id]="i"   
                  (change)="showPrestaServiciosAventura = (opcion.NOMBRE === 'SI')" 
                  (change)="onChangeAventuraSeleccionada(opcion.NOMBRE === 'SI')" [required]="campo.REQUERIDO"
                  (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"> {{opcion.NOMBRE}}
                </div>
                <ng-template #elseBlock2>
                  <input type="radio" [formControlName]="campo.NOMBRE" [value]="opcion.ID_DESPLEGABLE_CARACTERIZACION" [id]="i"
                  (change)="showDependency = opcion.NOMBRE === 'SI'" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                  [required]="campo.REQUERIDO">{{opcion.NOMBRE}}
                  <!-- (change)="onChangeRadio({nombre: 'SI'}, i)"    -->                
                  <!-- (change)="showSostenibilidad = opcion.nombre === 'SI'" -->
                  <!-- (change)="showSostenibilidad = (opcion.nombre === 'SI' && campo.NOMBRE === 'Cuenta con líder de sostenibilidad   (Si / No)')" --> 
                </ng-template>             
              </ng-template>
            </div>
          </div>

          <div *ngIf="showDependency && campo.MENSAJE === 'dependencia' && hasDepency(campo.DEPENDIENTE)">
            <div *ngFor="let item of campo.DESPLEGABLE">
              <input *ngSwitchCase="'string'" type="text" [formControlName]="campo.NOMBRE" [value]="item.nombre"
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)">
            </div>
            <div *ngSwitchCase="'checkbox'" class="containerCheck">
              <label class="labelDependency">{{ campo.NOMBRE }} 
                <span *ngIf="campo.REQUERIDO == true && campo.VALUES == null" style="color: red;">*</span>
              </label>
              <div *ngFor="let opcion of campo.DESPLEGABLE" class="check"> 
                <input type="checkbox" [value]="opcion.ID_DESPLEGABLE_CARACTERIZACION" class="checkbox" [formControlName]="campo.NOMBRE"
                (change)="opcion.mostrarInput = opcion.NOMBRE === 'OTROS'? !opcion.mostrarInput : false" 
                [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                [required]="campo.REQUERIDO">          
                {{opcion.nombre}}
                <div>
                  <input type="text" *ngIf="opcion.mostrarInput && opcion.NOMBRE === 'OTROS'" class="inputContainer" 
                  placeholder="Especifica otro" [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                  [formControl]="otroControlB" [ngClass]="{'ng-invalid ng-touched': validarCampoOtroB()}">
                </div>
              </div>
            </div>
          </div>   

          <div *ngIf="showSostenibilidad && campo.MENSAJE === 'dependencia'">
              <label class="labelDependency">{{ campo.NOMBRE }} </label>
              <input *ngSwitchCase="'string'" type="text" [formControlName]="campo.NOMBRE"
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">
              
              <input *ngSwitchCase="'int'" type="number" [formControlName]="campo.NOMBRE" class="campo-nombre"
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">

              <input *ngSwitchCase="'local_reference_id'" type="text" [formControlName]="campo.NOMBRE" 
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)" [required]="campo.REQUERIDO">
          </div>

          <div *ngIf="showPrestaServiciosAventura && campo.MENSAJE === 'dependencia'" >
            <div *ngSwitchCase="'checkbox'" class="containerCheck">
              <label class="labelDependency">{{ campo.NOMBRE }} 
                <span *ngIf="campo.REQUERIDO == true && campo.VALUES == null" style="color: red;">*</span>
              </label>
              <div *ngFor="let opcion of campo.DESPLEGABLE; let j = index" class="check"> 
                <input type="checkbox" [formControlName]="campo.NOMBRE" [value]="opcion.id" 
                class="checkbox" (change)="opcion.mostrarInput = opcion.NOMBRE === 'OTROS'? !opcion.mostrarInput : false"
                [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                [required]="campo.REQUERIDO">           
                {{opcion.NOMBRE}}
                <div>
                  <input type="text" *ngIf="opcion.mostrarInput && opcion.NOMBRE === 'OTROS'" class="inputContainer" 
                  placeholder="Especifica otro" [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                  [formControl]="otroControlC" [ngClass]="{'ng-invalid ng-touched': validarCampoOtroC()}">
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="error-message" *ngIf="campo.REQUERIDO && campo.VALUES == null && formParent.controls[campo.NOMBRE]?.invalid 
        && formParent.controls[campo.NOMBRE]?.touched">
          <span style="color: tomato;">*Este campo es obligatorio</span>
        </div>            
    </div>
    <div *ngIf="mostrarMensaje && !formParent.valid" class="completarCamposLabel">
      Por favor complete todos los campos obligatorios.
    </div>
    <div class="divBtn">     
      <button type="submit" class="btn" [disabled]="!formParent">Guardar</button>
    </div> 
</form>
<app-app-footer></app-app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>
</div>