.controllerCaracterizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
.caracterizacion{
  width: 60vw;
}
.labelAll{
    font-family: 'Work Sans', sans-serif !important;
    font-size: 16px !important;
    color: #000000 !important;
    /* margin: 10px 0 15px 0 !important; */
}
.labelDependency{
  vertical-align:middle;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}
input, select{ 
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 40px;
    margin: 5px 0 15px 0;
    padding: 5px;
    width: 60vw;
}
option:hover{
  background-color: #068460;
    border: 2px solid #068460;;
    border-radius: 20px;
    height: 40px;
    width: 60vw;
    margin: 2px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
input[type=number]
  {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    border: 2px solid #068460;
    
  }
input:disabled{
    background: #FFFFFF;
    border: 2px solid #068460;
    background-color: #f2f2f2fa;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #068460;
    margin: 15vh 0 2vh 0;
    width: 60vw;
    text-align: center;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: red;
    margin: 10px 0 20px 0;
}
.containerCheck,
.containerRadio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.containerRadio {
  width: 16.5vw;
}
.inputContainer {
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin: 5px 0 5px 15px !important;
    width: 40vw !important;
}
div.check,
div.radio{
  position: relative; /* establece posición relativa */
  display: flex;
  flex-direction: row;
  align-items:center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  width: 60vw;
  height: 20px !important;
  margin: 10px 5px 10px 0 !important;
  padding: 3px;
  }
  input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #068460;
    margin: 10px 10px 10px 0 !important;
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
    outline: none;
    margin: 10px 10px 10px 0 !important;
}
  input[type=checkbox].label
  {
    margin: 40px 10px 10px 0 !important;
  }
  div.check input[type=checkbox]:checked::before {
    content: "✔";
    font-size: 18px;
    color: #068460;
    position: absolute;
    top: 10px;
    left: 11px;
    transform: translate(-51%, -52%);
}
  div.radio input[type=radio] {
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #068460;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 10px 10px 10px 0 !important;
  }
  div.radio input[type=radio]:before {
    content: '';
    position: absolute;
    background-color: white;
    top: 4.5px;
    left: 4.5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
  div.radio input[type=radio]:checked:before {
    background-color: #068460;
  }
  div.radio input[type=radio]:checked:after {
    content: "●";
    font-size: 1px;
    color: #068460;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.btn{
  margin: 6vh 3vw;
  height: 35px;
  width: 165px;
  padding: 5px;
  background-color: #068460;
  border-radius: 100px;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.divBtn{
  display: flex;
  justify-content: row;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  -moz-appearance:textfield; 
}

.x{
  all: unset;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.labelX{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  margin: 0 2vw 0 0.5vw; 
}

.selectedOption{
  margin: 0 0 1.5vh 0;
  width: 60vw;
}
@media (max-width: 900px) {
  .containerRadio {
    width: 26vw;
  }
  input[type=radio]{
      width: 5%;
  }
}