<form [formGroup]="formParent" class="controllerDiagnostico" (ngSubmit)="saveForm()">
  <div formArrayName="campos">
    <div *ngFor="let campo of datos.campos" class="diagnostico">
      <div *ngFor="let subcampo of campo.listacampos; let i = index" class="formDiagnostico">
        <label>Titulo del requisito</label>
        <input type="text" [value]="subcampo.titulo" disabled="true" [id]="'requisito-' + i">
        <label>*Requisito</label>
        <textarea type="text" [value]="subcampo.requisito" style="height: 200px" disabled="true" [id]="'requisito-' + i"></textarea>
        <label>*Posible evidencia</label>
        <textarea type="text" [value]="subcampo.nombre_evidencia" style="height: 200px" disabled="true" [id]="'requisito-' + i"></textarea>
        <div class="cont">
          <div *ngFor="let opcion of subcampo.desplegable" class="containerRadio">
            <label>{{opcion.descripcion}}<span style="color: red;">*</span></label>
            <div class="radio">
              <input type="radio" [value]="opcion.item" [name]="i" [id]="subcampo.numeralespecifico" formControlName="opcionSeleccionada"> {{opcion.valor}}
            </div>
          </div>
        </div>
        <label>Observacion</label>
        <textarea type="text" style="height: 200px" [id]="'observacion-' + subcampo.numeralespecifico" class="obs"></textarea>
        <div class="linea"></div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn" [disabled]="!allRadioSelected" [class.btn-disabled]="!allRadioSelected">Guardar</button>
</form>


<div class="div">
  <div class="titulo" (click)="toggleSection('contexts')" [ngClass]="{'verde': contextsVisible}">
      <h3>Ley 300 de 1996</h3>
  </div>
  <div class="detalle" *ngIf="contextsVisible">
      <h2>Emitida por:</h2>
      <p>Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
      <h4 style="font-weight: bolder;">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
      <p>TÍTULO VIII. ASPECTOS OPERATIVOS DEL TURISMO. CAPÍTULO I. DEL REGISTRO NACIONAL DE TURISMO. 
      Ir al inicio ARTÍCULO 61. REGISTRO NACIONAL DE TURISMO. Artículo modificado por el artículo 142 
      del Decreto Ley 2106 de 2019. El nuevo texto es el siguiente: El Ministerio de Comercio, Industria 
      y Turismo delegará en las Cámaras de Comercio el Registro Nacional de Turismo, en el cual deberán 
      inscribirse todos los prestadores de servicios turísticos contemplados en el artículo 12 de la Ley 
      1101 de 2006.</p>
  </div>
</div>
<div>
  <div class="adicionar" (click)="toggleSection('adicionar')">
      <button class="adicionarBtn">Adicionar requisito legal +</button>
  </div>
  <div class="detalleAdicionar" *ngIf="adicionarVisible">
      <label class="adicionarLabel">Tipo de normatividad</label>
      <select class="adicionarInput" #selectOption (change)="onSelect(selectOption.value)">
          <option value="0">Seleccione una opción</option>
          <option value="ley">Ley</option>
          <option value="decreto">Decreto</option>
          <option value="decretoLey">Decreto Ley</option>
          <option value="otro">Otro</option>
      </select>
      <div *ngIf="selectedOption === 'otro'" class="changeOtro">
          <label class="adicionarLabel">Otro ¿Cuál?</label>
          <input type="text" class="adicionarInput">
      </div>
      <label class="adicionarLabel" for="numero">Número</label>
      <input type="text" class="adicionarInput" id="numero">
      <label class="adicionarLabel" for="año">Año</label>
      <input type="text" class="adicionarInput" id="año">
      <label class="adicionarLabel">Descripción</label>
      <textarea style="height: 100px" class="adicionarInput"></textarea>
      <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
      <textarea style="height: 100px" class="adicionarInput"></textarea>
      <button type="submit" class="btnAdd">Agregar</button>
  </div>
</div>