<form class="controllerCaracterizacion" (ngSubmit)="saveForm()">
    <div *ngFor="let campo of preguntasOrdenadas; let i = index" class="caracterizacion">
        <div [ngSwitch]="campo.TIPO_DE_DATO">
          
          <div *ngIf="campo.MENSAJE != 'dependencia' && campo.NOMBRE !== '¿Cuáles servicios de aventura presta?'">
            <div *ngSwitchCase="'checkbox'" class="containerCheck">
              <div *ngFor="let opcion of campo.DESPLEGABLE" class="check"> 
                <input type="checkbox">{{opcion.NOMBRE}}
                <div>
                  <input type="text" *ngIf="opcion.mostrarInput && opcion.NOMBRE === 'OTROS'" class="inputContainer"
                  placeholder="Especifica otro" [id]="i" formControlName="otroControlA" 
                  [ngClass]="{'ng-invalid ng-touched': validarCampoOtroA()}">
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="showDependency && campo.MENSAJE === 'dependencia' && hasDepency(campo.DEPENDIENTE)">
            <div *ngFor="let item of campo.DESPLEGABLE">
              <input *ngSwitchCase="'string'" type="text" [formControlName]="campo.NOMBRE" [value]="item.nombre"
              [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)">
            </div>
            <div *ngSwitchCase="'checkbox'" class="containerCheck">
              <label class="labelDependency">{{ campo.NOMBRE }}</label>
              <div *ngFor="let opcion of campo.DESPLEGABLE" class="check"> 
                <input type="checkbox">{{opcion.nombre}}
                <div>
                  <input type="text" *ngIf="opcion.mostrarInput && opcion.NOMBRE === 'OTROS'" class="inputContainer" 
                  placeholder="Especifica otro" [id]="i" (ngModelChange)="capturarValor(i, $event, campo.ID_CARACTERIZACION_DINAMICA)"
                  formControlName="otroControlB" [ngClass]="{'ng-invalid ng-touched': validarCampoOtroB()}">
                </div>
              </div>
            </div>
          </div>   
          
          <div *ngIf="showPrestaServiciosAventura && campo.MENSAJE === 'dependencia'" >
            <div *ngSwitchCase="'checkbox'" class="containerCheck">
              <label class="labelDependency">{{ campo.NOMBRE }}</label>
              <div *ngFor="let opcion of campo.DESPLEGABLE" class="check"> 
                <input type="checkbox">{{opcion.NOMBRE}}
                <div>
                  <input type="text" *ngIf="opcion.mostrarInput && opcion.NOMBRE === 'OTROS'" class="inputContainer" 
                  placeholder="Especifica otro" [id]="i" formControlName="otroControlC" 
                  [ngClass]="{'ng-invalid ng-touched': validarCampoOtroC()}">
                </div>
              </div>
            </div>
          </div>
        </div>            
    </div>
</form>