<form [formGroup]="formParent" class="controllerDiagnostico" (ngSubmit)="saveForm()">
  <div formArrayName="campos">
    <div *ngFor="let campo of datos.campos" class="diagnostico">
      <div *ngFor="let subcampo of campo.listacampos; let i = index" class="formDiagnostico">
        <label>Titulo del requisito</label>
        <input type="text" [value]="subcampo.titulo" disabled="true" [id]="'requisito-' + i">
        <label>*Requisito</label>
        <textarea type="text" [value]="subcampo.requisito" style="height: 200px" disabled="true" [id]="'requisito-' + i"></textarea>
        <label>*Posible evidencia</label>
        <textarea type="text" [value]="subcampo.nombre_evidencia" style="height: 200px" disabled="true" [id]="'requisito-' + i"></textarea>
        <div class="cont">
          <div *ngFor="let opcion of subcampo.desplegable" class="containerRadio">
            <label>{{opcion.descripcion}}<span style="color: red;">*</span></label>
            <div class="radio">
              <input type="radio" [value]="opcion.item" [name]="i" [id]="subcampo.numeralespecifico" formControlName="opcionSeleccionada"> {{opcion.valor}}
            </div>
          </div>
        </div>
        <label>Observacion</label>
        <textarea type="text" style="height: 200px" [id]="'observacion-' + subcampo.numeralespecifico" class="obs"></textarea>
        <div class="linea"></div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn" [disabled]="!allRadioSelected" [class.btn-disabled]="!allRadioSelected">Guardar</button>
</form>
