<app-app-header class="encuesta-app-header"></app-app-header>
<div class="containerEncuesta">
    <div class="titulo">
        <h1>Tabla de encuesta</h1>
        <app-app-header-arrow-left [redirectToDashboard]="true"></app-app-header-arrow-left>
    </div>
    <div class="encuesta">
        <app-menu-corto  class="menu-corto menu"></app-menu-corto>
        <mat-menu #menu="matMenu">
            <app-menu-corto class="responsi-menu" ></app-menu-corto>
        </mat-menu>
        <div class="resposi-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #ffffff;">
                <i class="fa-solid fa-bars" style="font-size: 20px;"></i>
              </button>
        </div>
        <div class="form">
            <div class="top">
                <div class="buscar">            
                    <input type="text" placeholder="Buscar..." class="buscador" [(ngModel)]="busqueda" *ngIf="mostrarBuscador" (input)="filtrarDatos()">
                </div>
                <button class="compartir" routerLink="/encuesta/crear" routerLinkActive="activebutton"  *ngIf="getRolValue() !== 4 && getRolValue() !== 5 &&  getRolValue() !== 7 " >
                    <i class="fa-regular fa-rectangle-list" style="color: #ffffff; margin-right: 0.5vw;"></i>Crear encuesta
                </button>
            </div>
            <table class="table-gestion" style="margin-top: 8px;">
                <thead>
                    <tr>
                        <th scope="col">Título de la encuesta</th>
                        <th scope="col">Personas encuestadas</th>
                        <th scope="col">Aceptar respuestas</th>
                        <th scope="col" style="text-align: center;" (click)="mostrarBuscador = !mostrarBuscador">
                            <i class="fa-solid fa-magnifying-glass" title="Buscar" style="cursor: pointer;"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campo of datos; let i = index">
                        <td>{{campo.TITULO}}</td>
                        <td>{{campo.NUM_ENCUESTADOS}}</td>
                        <td>
                            OFF
                            <mat-slide-toggle [(ngModel)]="campo.ESTADO_HABILITADO" (change)="cambiarEstadoEncuesta(campo)"></mat-slide-toggle> 
                            ON
                        </td>
                        <td *ngIf="getRolValue() !== 4 && getRolValue() !== 5 &&  getRolValue() !== 7">
                            <a title="Editar" (click)="editarEncuesta(campo.ID_MAE_ENCUESTA)">
                                <i class="fa-solid fa-pen" style="color: #06543c;"></i>
                            </a>
                            <app-app-eliminar-encuesta [indice]="indiceAEliminar" (click)="eliminarEncuesta(campo.ID_MAE_ENCUESTA)" 
                            (valorEnviado)="recibirValor($event)"></app-app-eliminar-encuesta>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="result"
            style="text-align: center;margin-top: 3vh; font-size: 19px; font-family: 'Work Sans', sans-serif;">
            No hay resultado para la búsqueda
            </p>
            <!-- Paginacion -->
            <footer class="page-style">
                <div class="container-label">
                    <label class="paginas">
                        Página: {{ pages }} / {{ totalPaginas }} Mostrando: {{ totalRegistros }} Registros: {{ datatotal }}
                    </label>
                    <div class="ls-pagina ">
                        <pagination lastText="&raquo;" nextText="&rsaquo;" firstText="&laquo;" previousText="&lsaquo;"
                            [maxSize]="3" [itemsPerPage]="7" [boundaryLinks]="true" [(ngModel)]="currentPage"
                            [ngClass]="{'page-item': true}" [totalItems]="contentArray.length"
                            (pageChanged)="pageChanged($event)">
                        </pagination>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<app-app-footer></app-app-footer>
<app-modal></app-modal>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>