.containerEncuesta{
    display: flex;
    flex-direction: column;
    /* margin: 2vh 1vw 0 2vw; */
    background-color: var(--color-wallpaper, #f6f8f9);
    padding: 2vh 0 0 1.5vw;
}
.titulo{
    display: flex;
    flex-direction: row-reverse;
    margin: 2vh 0;
}
h1{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: var(--color-title, #962d46);
    text-align: center;
    margin: 2vh 0;
}
.encuesta{
    display: flex;
}
.compartir{
    margin: 1vh 1vw;
    height: 6vh;
    width: auto;
    padding: 10px;
    background-color: #068460;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 1vh 0.5vw;
}
.table-gestion,
.table-gestion-modal {
    width: 77vw;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    min-width: auto;
    border: 2px solid #068460; 
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0 0.5vw 3vh 2vw;
}
.table-gestion-modal{
    width: 55vw !important;
    font-size: 14px !important;
    margin: 0 1vw !important;
}
.table-gestion thead tr,
.table-gestion-modal thead tr {
    background-color: #068460;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}
.table-gestion th,
.table-gestion tbody td {
    padding: 10px;
}
.table-gestion-modal th,
.table-gestion-modal tbody td {
    padding: 5px;
}
.table-gestion tbody tr,
.table-gestion-modal tbody tr {
    border-bottom: 1px solid white;
}
.table-gestion tr th,
.table-gestion-modal tr th {
    text-align: center !important;
}
.buscar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buscador{
    margin: 1vh 1vw;
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 6vh;
    padding: 5px;
    width: 30vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    align-self: flex-end;
}
.menu{
    margin: 6vh 0 0 0
}
.top{
    display: flex;
    justify-content: flex-end;
}
/* pagination */
.page-style {
    display: flex;
    justify-content: flex-end;
}
.paginas {
    display: inline-block;
    max-width: 100%;
    margin: 10px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}
.container-label {
    display: flex;
    align-items: center;
}
.resposi-icon {
    display: none;
}
@media (max-width: 970px) {

    /* NOMBRE DE LA CABECERA  */
    .encuesta-app-header 
        .container-pst p {
            display: none;
        }
    

    /* MENU */

    button[mat-menu-trigger-for="menu"] {
        display: block;
      }

    .menu-corto {
        display: none
    }
     

    .responsi-menu  .linea {
            width: auto;      
        }

        .responsi-menu  .td-menu{
            width: auto;
        }
        .responsi-menu   .p-menu {
            margin: 0.6vh 0.5vw
    
}
   /* .menu-corto {
        position: absolute;
        right: 0;
        top: 5px;
        width: 27%;
        height: auto;
        background-color: #a09a9a;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
    }

    .menu-corto {

        .table-auditoria h3,
        .linea {
            display: none
        }

        .td-menu {
            width: auto;
            padding: 2px;
        }

        .td-menu p,
        i {
            color: white;
            font-size: 15px;
        }
    } */

    .resposi-icon {
        display: flex;
    }

    .resposi-icon {
        width: 95%;
        top: 3px;
        justify-content: flex-end;
        display: flex;
        position: absolute;
        flex-direction: row;
    }

    .navbar-toggle {
        padding: 0;
        margin-right: 18px;
        margin-top: 7px;
        position: relative;
    }
     /* REGISTRO ACTIVIDAD */
    .bodyNuevoregistro{
        width: 95%;
     }

    .h1,
    h1 {
        font-size: 30px;
    }

    .titulo {
        margin: 0;
    }

    /* FILTROS */
    .filtros {
        display: flex;
        justify-content: flex-start;
    }

    /* TABLA  */
    .form {
        width: 100% !important;
    }

    .table-gestion {
        width: auto;
        margin-top: 4px;
        margin: 9px;
        padding: 11px;
    }

    .table-gestion th,
    .table-gestion tbody td {
        padding: 11px;
    }
    
}

@media(max-width: 480px) {

    .h1,
    h1 {
        font-size: 22px;
    }

    .encuesta-alta-gerencia 
        .table-gestion {
            font-size: 13px;
        }
    

    /* PAGINADO */
    .page-style {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container-label {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* TABLA */
    .color-estado {
        display: none;
    }

    .table-gestion{
        
        font-size: 13px;
         min-width: 0;
    }
}