.containerActividades{
    display: flex;
    flex-direction: column;
    margin: 2vh 0 0 1.5vw;
}
.titulo{
    display: flex;
    flex-direction: row-reverse;
    margin: 2vh 0;
}
h1{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #068460;
    text-align: center;
    margin: 2vh 0;
}
.actividades{
    display: flex;
}
.table-gestion {
    width: 77vw;
    /* font-size: 16px; */
    font-family: 'Work Sans', sans-serif;
    min-width: 450px;
    border: 2px solid #068460; 
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0 0.5vw 3vh 2vw;
}
.table-gestion thead tr {
    background-color: #068460;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}
.table-gestion th,
.table-gestion tbody td {
    padding: 10px;
}
.table-gestion tbody tr {
    border-bottom: 1px solid white;
}
.table-gestion tr th{
    text-align: center !important;
}
.bodyNuevoregistro{
    margin: 0 0.5vw 3vh 2vw;
    border: 1px solid #068460;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    width: 77vw;
}
label{
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    margin: 1vh 0;
    font-weight: 500;
}
.containerSection{
    display: flex;
    flex-direction: row;
    margin: 0 0.4vw;
}
.section,
.sectionIcon{
    display: flex;
    flex-direction: column;
    margin: 0 0.4vw;
}
.sectionIcon{
    margin: 5vh 0.4vw !important;
    flex-direction: row !important;
}
.bodyNuevoregistro p{
    text-align:left;
    padding: 9px;
    color:#333;
    font-weight: bold;
    font-size: 18px;
    margin: 0vh 0vw;
}
.buscador{
    /* background: #FFFFFF;
    border-radius: 5px;
    height: 4vh;
    padding: 5px;
    width: 22vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    border: 1px solid #000000;
    margin: 0.5vh 0; */


    margin: 0 1vw 3vh 0;
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    width: 30vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    align-self: flex-end;
}
/* .input ::placeholder{
    font-size: 12px;
} */
.input{
    background: #FFFFFF;
    border-radius: 5px;
    height: 4vh;
    padding: 5px;
    width: 21.7vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    border: 1px solid #000000;
    margin: 0.5vh 0;
}

.items{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 1vh 0.5vw;
}
.btn {
    background: #068460;
    color: white;
    border-radius: 15px;
    width: 161px;
    height: 36px;
    border: 1px solid white;
    cursor: pointer;
    margin: 0 2vw 3vh 2vw;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* pagination */
.page-style {
    display: flex;
    justify-content: flex-end;
}

.paginas {
    display: inline-block;
    max-width: 100%;
    margin: 10px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.container-label {
    display: flex;
    align-items: center;
}

.buscar{
    display: flex;
    justify-content: flex-end;
}

.btn-buscar{
    margin-left: 11px;
    width: 75px;
    background: #068460;
    color: white;
    border-radius: 15px;
    height: 36px;
    border: 1px solid white;
    cursor: pointer;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
