.container-form-informe-auditoria{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
 /* stylos del titulo vista general*/
 
 .titulo{
    width: 100%;
 }
 .titulo-nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 38px;
    color: #068460;
    text-align: center;
    margin-top: 89px;
}
.componente-global{
    margin-left: 60px;
    margin-right: 60px;
}
/* stylos de el titulo del formulario */
 
 .sub-titulo{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 20px;
    line-height: 24px;
    color: #068460;
    margin-top: 20px;
}
 
/* stylos del formulario cabecera */

.container-form{
    width: 78%;
    margin-top: 19px;
}

/* stylos de los label */

.select-auditor{
    border-radius: 5px;
    margin-left: 73px;
    height: 4vh;
    width: 165px;
    border: 1px solid#068460; 
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.label-color{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749; 
}


/* stylos del select multiple */

 .multiselect-dropdown .dropdown-btn {
    display: inline-block!important;
    width: 175px!important;
    padding: 9px 12px!important;
    margin-bottom: 0!important;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 12px !important;
    font-weight: 400!important;
    line-height: 1.1 !important;
    border: 1px solid #068460 !important;
    text-align: left!important;
    vertical-align: middle!important;
    cursor: pointer!important;
    background-image: none!important;
    border-radius: 5px!important;
    margin: -56px 10px 10px 172px!important;
    height: 28px!important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    right: 115px !important;
    top: -39px !important;
}

.dropdown-list{
    position: absolute;
    padding-top: 6px;
    width: 38% !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    margin-left: 172px !important;
    margin-top: -22px !important;
    box-shadow: 0 1px 5px #959595;
    font-family: 'Work Sans', sans-serif !important;
}

/* stylos del textarea */

.obs{
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    width: 347px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000000;
}
.container-textarea{
    margin-top: -9px; 
}

.container-textarea-2{
    margin-top: -29px;
}

/* .grup-label-equipo{
    display: flex;
    justify-content: flex-end;
} */

.label-auditor{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749;
    margin:9px 0 14px 0;
}

/* stylos de input calendario */
.forma-campo{
    display: flex;
    align-items: center;
    margin-top: -12px;
}


/* input[type=text]{
    background: #FFFFFF;
    border-radius: 6px;
    height: 4vh;
    border: solid 1px #068460 !important;
    margin: 6px 10px 10px 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
} */


.obs-titulo{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749;
}

label{
    margin-bottom: 12px;
}

.forma-input{
    background: #FFFFFF;
    border-radius: 6px;
    height: 20px;
    width: 127px;
    padding: 16px;
    border: solid 1px #068460 !important;
    margin-left: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
.input-alcance{
    background: #FFFFFF;
    border-radius: 6px;
    height: 4vh;
    border: solid 1px #068460 !important;
    margin: 6px 10px 10px 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
.forma-input-cierre{
    background: #FFFFFF;
    border-radius: 6px;
    height: 20px;
    width: 127px;
    padding: 16px;
    border: solid 1px #068460 !important;
    margin-left: 59px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    margin-top: 0px;
}
.forma-input-calendario{
    background: #FFFFFF;
    border-radius: 6px;
    height: 22px;
    width: 100px;
    padding: 4px;
    border: solid 1px #068460 !important;
    margin: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

/* .forma-dia{
    margin-left: 34px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749;
} */

.forma-hora{
    margin-left: 3px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749;
}

/* .toggle-auditor{
    display: flex;
    flex-direction: column;
} */


.div-guardar{
    display: flex;
    justify-content: center; 
}

.btn-guardar{
    display: flex;
    justify-content: space-around;
    margin: 31px 0 3px 0;
    height: 35px;
    width: 165px;
    padding: 5px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn-guardar:disabled{
    background-color: #999999;
    color: #000000;
}


/* stylos de validaciones */
input.ng-invalid.ng-touched {
    border: solid 2px tomato !important;
    border-radius: 10px;
  }
  textarea.ng-invalid.ng-touched {
    border: solid 2px tomato !important;
    border-radius: 10px;
  }

  input.ng-valid,select.ng-valid{
    border: solid 2px #068460 !important;
    border-radius: 10px;
  }

  /* stylos del input hora  */
  .input-hora{
    background: #FFFFFF;
    border-radius: 6px;
    height: 4vh;
    border: solid 1px #068460 !important;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    padding: 5px;
  }
  
  .select-process{
    border-radius: 5px;
    margin-left: 6px;
    height: 27px;
    margin: 0px;
    border: 1px solid#068460; 
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

/* .switch-grup{
    display: flex;
} */


/* .select-botton-grup{
    display: flex;
    margin-top: 17px;
} */

/* .label-auditor-cargo{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749;
} */

.seleccionar{
    display: flex;
    justify-content: space-around;
    height: 26px;
    width: 111px;
    padding: 5px;
    background-color: #068460;
    border-radius: 5px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    border: none;
    cursor: pointer;
}  

/* stylos del primer formulario */

.contenedor-1form{
    display: flex; 
}
.sub-menu-form1{
    margin-top: 8px; 
}

/* stylos del segundo formulario */

.contenedor-form2{
    margin-right: 30px;
}

/* stylos de tabla de actividades */
.tr-table{
    background: #068460;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
}

.table>thead>tr>th {
    vertical-align: inherit !important;
    border-bottom: 2px solid #ddd;
}

.obs-acti-editar{
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    width: 248px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000000;
}

.select-auditor-acti{
    border-radius: 5px;
    height: 4vh;
    width: 122px;
    border: 1px solid#068460;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.forma-input-acti{
    width: 100px;
    border: 1px solid #068460;
    border-radius: 3px;
    padding: 3px;
    height: 22px;
}