<app-app-header></app-app-header>
<div class="containerNoticia">
  <!--<div class="barra-header">
    <div class="img-container">
      <img class="img-header" src="https://upload.wikimedia.org/wikipedia/commons/3/30/LOGO_PLAN_DE_DESARROLLO_COLOMBIA_POTENCIA_DE_LA_VIDA_2022-2026.png"/>
      <img class="img-header" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Logo_Ministerio_de_Comercio_Industria_y_Turismo_2022-2026.png/1200px-Logo_Ministerio_de_Comercio_Industria_y_Turismo_2022-2026.png"/>
    </div>
  </div>-->
  <app-app-header2></app-app-header2>
  <div class="titulo">
    <h1>Noticia</h1>
    <app-app-header-arrow-left [redirectToGestorNoticias]="true"></app-app-header-arrow-left>
  </div>

  <div class="noticia-content">
    <div class="info-view">
      <div class="titulo-not">
        <h2 class="titu-noticia">{{this.noticiaSelected.TITULO}}</h2>
      </div>
      <hr>
      <div class="descripcion-noticia">
        <img class="img-noticiaaa" [src]="this.imagen"/>
        <div class="descrip-noticia" style="img{width: 100%; height: auto;}" id="descrip-noticia" [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(this.noticiaSelected.DESCRIPCION)">{{this.noticiaSelected.DESCRIPCION}}</div>
      </div>
      <hr>
      <div class="share-noticia">
        <p>Comparta esta publicación</p>
        <div class="iconos-share">
          <a href="https://www.facebook.com/"><i class="fi fi-brands-facebook"></i></a>
          <a href="https://www.instagram.com/"><i class="fi fi-brands-instagram"></i></a>
          <a href="https://www.youtube.com/"><i class="fi fi-brands-youtube"></i></a>
          <a href="https://web.whatsapp.com/"><i class="fi fi-brands-whatsapp"></i></a>
        </div>
      </div>
      <hr>
    </div>
    <div class="categorizacion-view">
      <div class="categorias">
        <div class="val-cat" *ngFor="let val of arrayCategorias; let i = index">
            <div class="cat-n">
                <i class="fi fi-sr-angle-right"></i>
                <p class="cat-notica">{{val.DESCRIPCION}}</p>
            </div>
            <p class="contador">{{val.N_REGISTROS}}</p>
        </div>
      </div>
      <div class="btn-noticia">
        <button class="btn-crear" (click)="showModalEditar = true" *ngIf="getRolValue() !== 5 && getRolValue() !== 7">Editar Noticia&emsp;<i class="fi fi-rr-arrow-circle-right"></i></button>
        <button class="btn-delete" (click)="deleteNoticia()" *ngIf="getRolValue() !== 5 && getRolValue() !== 7">Eliminar Noticia&emsp;<i class="fi fi-rr-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>
  <!--<div class="barra-final">
    <div class="img-container-final">
        <p class="ejecutado-por">EJECUTADO POR: </p>
        <img class="img-header" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEsHzxTrRb-PWp5RSTU86xdutn0Ta3lTbklA&usqp=CAU"/>
        <img class="img-header" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Logo_Ministerio_de_Comercio_Industria_y_Turismo_2022-2026.png/1200px-Logo_Ministerio_de_Comercio_Industria_y_Turismo_2022-2026.png"/>
    </div>
  </div>-->
  <app-footer2></app-footer2>
  <!--<div *ngIf="datosNoticia" class="datosNoticia">
    <p class="fecha"><span><i class="fas fa-light fa-clock"></i></span>
      {{datosNoticia.NOMBRE }} | {{datosNoticia.FECHA_ACT | date: 'dd/MM/yyyy' }}
     </p>
    <h2>{{datosNoticia.TITULO | uppercase }}</h2>
    <img *ngIf="imagen" [src]="imagen">
    <p class="descripcion" [innerHTML]="sanitizer.bypassSecurityTrustHtml(datosNoticia.DESCRIPCION)"></p>
  </div>-->

  <!-- Modal Editar Noticia -->
  <div class="modal-background" id="modal-success" *ngIf="showModalEditar">
    <div class="modal-content">
        <a title="Cerrar" data-dismiss="modal" aria-label="Close" class="x">
                <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;"
                    (click)="showModalEditar = false"></i>
            </a>
        <div class="modal-title-editar">
            <h2>Editar noticia</h2>
            <div class="linea"></div>
        </div>
        <form [formGroup]="editarNoticiaForm" (ngSubmit)="saveModalEditar()" class="form" #forma="ngForm">
            <label for="">Usuario</label>
            <input type="text" id="usuario" formControlName="usuario" [(ngModel)]="noticiaSelected.NOMBRE"
                [disabled]="true"><br>
            <label for="">Título de la noticia</label>
            <input type="text" id="titulo" formControlName="titulo" [(ngModel)]="noticiaSelected.TITULO" ><br>
            <label for="" class="indicador-max" *ngIf="editarNoticiaForm.controls['titulo'].hasError('maxlength')">El titulo ingresado no debe tener más de 50 caractéres</label>
            <label for="">Descripción de la noticia</label>
            <!--<angular-editor placeholder="Agregar una descripción" formControlName="descripcion"
                style="margin-top:2vh;" id="descripcion"
                [(ngModel)]="noticiaSelected.DESCRIPCION"></angular-editor>-->
            <br>
            <editor [(ngModel)]="noticiaSelected.DESCRIPCION" formControlName="descripcion" name="descripcion" (onChange)="limitWordsDescripcion=limitWords()"
                [init]="{
                  base_url: '/tinymce',
                  suffix: '.min',
                  height: 500,
                  plugins: [
                      'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                      'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                      'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
                  ],
                  toolbar:
                  'undo redo | casechange blocks | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist checklist outdent indent | removeformat | a11ycheck code table help',
                  content_style: 'img { max-width: 100%; height: auto; }',
                  image_dimensions: true, 
                  image_dimensions_unit: 'px'
                }"
            ></editor>
            <label for="" class="indicador-max" *ngIf="limitWordsDescripcion==true || editarNoticiaForm.controls['descripcion'].hasError('maxlength')">El texto ingresado no debe superar los 500 caractéres</label>
            <div class="containerFile" style="margin-top:2vh;">
                <input type="file" (change)="captureImage($event)" class="file" id="archivo" #archivo>
                <label for="archivo" class="fileBtn">Seleccionar imagen</label>
                <label id="nombre" class="fileName" *ngIf="this.noticiaSelected.IMAGEN==''">Ningún archivo seleccionado</label>
                <label id="nombre" class="fileName" *ngIf="this.noticiaSelected.IMAGEN!=''">{{ this.noticiaSelected.IMAGEN }}</label>
            </div><br>
            <button class="botonG" type="submit" [disabled]="limitWordsDescripcion==true || editarNoticiaForm.controls['descripcion'].hasError('maxlength') || editarNoticiaForm.controls['titulo'].hasError('maxlength') || noticiaSelected.invalid">
                <i class="fa-regular fa-floppy-disk" style="color: #fff;"></i>
                Editar noticia
            </button>
        </form>
    </div>
  </div>
</div>
<app-app-footer></app-app-footer>
<app-modal></app-modal>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>