

  <app-modal></app-modal>

  <div mat-dialog-content class="contenedor">
    <a title="Cancelar" id="cerrarModal" style="display: flex; justify-content: flex-end; align-items: center;" data-dismiss="modal" aria-label="Close" >
      <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;" (click)="cerrarDialog(2)"></i>
    </a>
    <div class="detalle-card">
        <mat-card-header class="text-center">
          <h1>Detalle</h1>
         
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <h2 class="subtitulo"><strong>Indicador:</strong> {{ model.TITULO }}</h2>
          
          <div class="detalle">
            
            <p><strong>Proceso:</strong> {{ model.NOMBRE_PROCESO }}</p>
            <p><strong>Período de Medición:</strong> {{ model.FECHA_PERIODO}}</p>
            <p><strong>Fórmula:</strong> {{ model.FORMULA_TEXT }}</p>
            <p><strong>Objetivo:</strong> {{ model.TITULO_OBJETIVO }}</p>
            
            
            <p><strong>Variables de Evaluación:</strong></p>
            <ul>
              <li *ngFor="let variable of model.VARIABLES_EVALUACION">{{ variable.NOMBRE }} : <strong>{{variable.VALOR}}</strong></li>
            </ul>
            <p><strong>Resultado:</strong> {{ model.RESULTADO}} %</p>
            <p><strong>Meta:</strong> {{ model.META}} %</p>
            <p><strong>Estado:</strong> {{ model.ESTADO}}</p>
            <p><strong>Analisis:</strong> {{ model.ANALISIS}}</p>
            <p><strong>Acción Correctiva:</strong> {{ model.ACCION}}</p>
            
          </div>
        </mat-card-content>
      </div>
    <div
      mat-dialog-actions
      class="d-flex justify-content-center align-items-center"
    >
      <button mat-raised-button color="warn" (click)="cerrarDialog(2)">
        Cancelar
      </button>
    </div>
  </div>
