
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #068460;
    text-align: center;
   
  }
  
  .subtitulo {
    font-size: 20px;
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .detalle {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .detalle p {
    margin: 8px 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .detalle ul {
    list-style-type: disc;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .detalle li {
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }
  p, h2{
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
  label {
    color: black !important;
    font-size: 13px;
  }
  .dot-green, .dot-yellow, .dot-red {
    display: inline-block;
    width: 10px; /* Tamaño de la bolita */
    height: 10px;
    border-radius: 50%; /* Forma redonda */
    margin-right: 5px; /* Espacio entre la bolita y el texto */
  }
  .dot-green {
    background-color: green;
  }
  
  .dot-yellow {
    background-color: yellow;
  }
  
  .dot-red {
    background-color: red;
  }
  .truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto */
    width: 100%; /* Opcional, para asegurarse de que ocupe todo el ancho disponible */
  }