
 input {
  font-size: 14px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  
}
.containerResultadosAuditoria {
  display: flex;
  flex-direction: column;
  margin: 2vh 0 0 1.5vw;
}
.titulo {
  display: flex;
  flex-direction: row-reverse;
  margin: 2vh 0;
}

.resultados {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 1vh 0.5vw;
}
.table-gestion {
  width: 75vw;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  min-width: 450px;
  border: 2px solid #068460;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 0.5vw 3vh 2vw;
}
.table-gestion thead tr {
  background-color: #068460;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
}
.table-gestion th,
.table-gestion tbody td {
  padding: 10px;
}
.table-gestion tbody tr {
  border-bottom: 1px solid white;
}
.table-gestion tr th {
  text-align: center !important;
}
.buscar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.buscador {
  margin: 2vh 0.5vw 3vh 0;
  background: #ffffff;
  border: 2px solid #068460;
  border-radius: 10px;
  height: 40px;
  padding: 5px;
  width: 30vw;
 
  font-size: 14px;
  color: #000000;
  align-self: flex-end;
}
/* pagination */
.page-style {
  display: flex;
  justify-content: flex-end;
}
.paginas {
  display: inline-block;
  max-width: 100%;
  margin: 2rem;
  font-weight: 700;
  font-size: 14px;
 
}
.container-label {
  display: flex;
  align-items: center;
}
.btn-nueva-auditoria {
  height: 30px;
  width: 206px;
  background-color: #068460;
  border-radius: 5px;
  color: white;

  font-size: 14px;
  border: none;
  cursor: pointer;
}
.mat-header-row {
  background-color: #068460;
  color: #fff !important;
}
th {
  color: #fff;
}
/*menu*/
.resposi-icon {
  display: none;
}
@media (max-width: 970px) {
  /* NOMBRE DE LA CABECERA  */

  .indicadores-app-header 
    .container-pst p {
      display: none;
    }
  

  /* MENU */

  .menu-oculto {
    display: none;
  }
  
    .responsi-gerencia-menu  .linea {
      width: auto;
    }
    .responsi-gerencia-menu  .td-menu {
      width: auto;
    }
  
  .resposi-icon {
    display: flex;
  }

  .resposi-icon {
    width: 95%;

    top: 3px;

    justify-content: flex-end;

    display: flex;

    position: absolute;

    flex-direction: row;
  }
}

/**********/
td,th
{
  font-size: 16px; /* Ajusta el tamaño de fuente del input según tus necesidades */

}
th{
  font-weight: bold;
}
.alinear-buscador{
  display: flex;
  align-items: center;
}
label {
  color: black !important;
  font-size: 13px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Espaciado entre los elementos dentro del contenedor */
  align-items: center;
 
}

/* Media query para estilos responsivos */
@media (max-width: 767px) {
  .header-container {
    flex-direction: column; 
    align-items: flex-start; 
  }

  h1 {
    order: 1;
  }
  .container{
      padding-left: 0rem;
  }
  app-app-header-arrow-left {
    order: 2; 
    
  }
}