<form action="" #formObjetivo="ngForm">
  <div class="row">
    <div class="col-md-12">
      <label for="NOMBRE">Título</label>

      <textarea
        #NOMBRE
        matInput
        [(ngModel)]="model.NOMBRE"
        name="NOMBRE"
        required
        class="form-control"
        [ngClass]="{
                   'required-field-error': formObjetivo.controls.indicador?.invalid && formObjetivo.controls.indicador?.touched
                 }"
        row="3"
        (ngModelChange)="submitForm(formObjetivo)"
      ></textarea>
    </div>
    <div class="col-md-12">
      <label for="descripcion">Descripción</label>
      <textarea
        #descripcion
        matInput
        [(ngModel)]="model.DESCRIPCION"
        name="descripcion"
        class="form-control"
        row="3"
        (ngModelChange)="submitForm(formObjetivo)"
      ></textarea>
    </div>
    
  </div>
</form>
