<app-app-header></app-app-header>
<div class="containerActividadesPlanificadas">
    <div class="titulo">
        <h1>Actividades planificadas</h1>
        <app-app-header-arrow-left></app-app-header-arrow-left>
    </div>
    <div class="resultados">
        <app-app-menu-alta-gerencia></app-app-menu-alta-gerencia>
        <div class="form">
            <!--*** BLOQUE DE BUSQUEDA  ***-->
            <div class="buscar">            
                <input type="text" placeholder="Buscar..." class="buscador" [(ngModel)]="busqueda" *ngIf="mostrarBuscador" (input)="filtrarDatos()">
            </div>
            <!-- *** SECCIÓN DE LA TABLA ***-->
            <table class="table-gestion" style="margin-top: 8px;">
                <thead>
                    <tr>
                        <th scope="col">Responsable</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: center;" (click)="mostrarBuscador = !mostrarBuscador">
                            <i class="fa-solid fa-magnifying-glass" title="Buscar" style="cursor: pointer;"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campo of estadoArray">
                        <td>{{campo.NOMBRE_RESPONSABLE}}</td>
                        <td>{{campo.DESCRIPCION}}</td>
                        <td>{{campo.ESTADO_PLANIFICACION}}</td>
                        <td><i class="fa fa-circle" [ngStyle]="{'color': campo.statecolor}"></i></td>
                        <td>
                            <a title="Editar" routerLink="/planificacion" routerLinkActive="activebutton">
                                <i class="fa-solid fa-pen" style="color: #06543c;"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="result" style="text-align: center;margin-top: 3vh; font-size: 19px; font-family: 'Work Sans', sans-serif;" >
                No hay resultados para la búsqueda
            </p>
            <!-- Paginacion -->
            <footer class="page-style">
                <div class="container-label">
                    <label class="paginas">
                        Página: {{ pages }} / {{ totalPaginas }} Mostrando: {{ totalRegistros }} Registros: {{ datatotal }}
                    </label>
                    <div class="ls-pagina ">
                        <pagination 
                        lastText="&raquo;"
                        nextText="&rsaquo;" 
                        firstText="&laquo;" 
                        previousText="&lsaquo;"
                        [maxSize]="3" 
                        [itemsPerPage]="7" 
                        [boundaryLinks]="true" 
                        [(ngModel)]="currentPage"
                        [ngClass]="{'page-item': true}"
                        [totalItems]="contentArray.length" 
                        (pageChanged)="pageChanged($event)">
                        </pagination>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<app-app-footer></app-app-footer>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="small"
    template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>">
</ngx-spinner>