<app-app-header class="resultados-app-header"></app-app-header>
<div class="containerResultadosEncuestas">
    <div class="titulo">
        <h1>Resultados de encuestas</h1>
        <app-app-header-arrow-left [redirectToDashboard]="true"></app-app-header-arrow-left>
    </div>
    <div class="resultados">
        <app-app-menu-alta-gerencia class="menu-alta-gerencia"></app-app-menu-alta-gerencia>
        <mat-menu #menu="matMenu">
            <app-app-menu-alta-gerencia class="responsi-gerencia-menu"></app-app-menu-alta-gerencia>
        </mat-menu>
        <div class="resposi-icon">
            <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #ffffff;">
                <i class="fa-solid fa-bars" style="font-size: 20px;"></i>
            </button>
        </div>
        <div class="form">
            <table class="table-gestion" style="margin-top: 8px;">
                <thead>
                    <tr>
                        <th scope="col">Título de la encuesta</th>
                        <th scope="col">Personas encuestadas</th>
                        <th scope="col">Ver resultados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campo of datos; let i = index">
                        <td>{{campo.TITULO}}</td>
                        <td>{{campo.NUM_ENCUESTADOS}}</td>
                        <td>
                            <a title="Ver" (click)="fnShowModal(campo.ID_MAE_ENCUESTA)">
                                <i class="fa-solid fa-eye" style="color: #06543c; cursor: pointer;"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Paginacion -->
            <footer class="page-style">
                <div class="container-label">
                    <label class="paginas">
                        Página: {{ pages }} / {{ totalPaginas }} Mostrando: {{ totalRegistros }} Registros: {{
                        datatotal }}
                    </label>
                    <div class="ls-pagina ">
                        <pagination lastText="&raquo;" nextText="&rsaquo;" firstText="&laquo;" previousText="&lsaquo;"
                            [maxSize]="3" [itemsPerPage]="7" [boundaryLinks]="true" [(ngModel)]="currentPage"
                            [ngClass]="{'page-item': true}" [totalItems]="contentArray.length"
                            (pageChanged)="pageChanged($event)">
                        </pagination>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal personas que respondieron la encuesta -->
    <div class="modal-background" id="modal-success" *ngIf="showModal">
        <div class="modal-content">
            <div class="modal-title">
                <a title="Cerrar" data-dismiss="modal" aria-label="Close" class="x">
                    <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;"
                        (click)="showModal = false;"></i>
                </a>
                <h2 style="margin-top: 1vh;">Lista de destinatarios</h2>
                <div class="linea"></div>
            </div>
            <div class="formModal">
                <table class="table-gestion-modal" style="margin-top: 8px;">
                    <thead>
                        <tr>
                            <th scope="col">Encuestados</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Ver resultados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="selectedEncuesta?.NUM_ENCUESTADOS === 0">
                            <tr>
                                <td [attr.colspan]="3">No hay personas encuestadas</td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="selectedEncuesta?.NUM_ENCUESTADOS > 0">
                            <tr *ngFor="let i of personasArray(selectedEncuesta.NUM_ENCUESTADOS); let j = index">
                                <td>Persona {{i}}</td>
                                <td>{{ getFechaRespuesta() }}</td>
                                <td>
                                    <a title="Ver resultados" (click)="fnShowResultados(selectedEncuesta?.ID_MAE_ENCUESTA, j+1)">
                                        <i class="fa-solid fa-eye" style="color: #06543c; cursor: pointer;"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-app-footer></app-app-footer>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="small"
    template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>">
</ngx-spinner>