<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modal</title>
  </head>
  <body>
    <div class="modal-background" id="modal-inicial" *ngIf="isOpen">
      <div class="modal-content">
        <div class="modal-title">
          <p class="text-title">Seleccionar Norma</p>
          <button class="modal-btn" (click)="closeModal()">X</button>
        </div>
        <table class="table">
          <thead>
            <tr class="class-norma text text-justify pointer ">
              <ng-container>
                <th class="text dinamic"
                  *ngFor="let element of data"
                  id="{{ element.NORMA }}"
                  style="width: 350px; margin: 6px 6px 6px 6px"
                  (click)="linkToDashboard($event,element.ID_NORMA)"
                >
                  {{ element.NORMA }}
                </th>
              </ng-container>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </body>
</html>
