<div class="table-auditoria">
    <h3>Menú</h3>
    <div class="linea"></div>
    <table class="dropdown">
      <tbody>
        <tr>
          <td class="td-menu">
            <p class="p-menu" routerLink="/mejoraContinua" routerLinkActive="activebutton">
                <i class="fa-solid fa-chart-line" style="font-size: 20px; margin-right: 8px;"></i> Mejora contínua
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu" routerLink="/actividades" routerLinkActive="activebutton">
                <i class="fa-solid fa-list-check" style="font-size: 20px; margin-right: 8px;"></i> Actividades
            </p>
          </td>
        </tr> 
        <tr>
          <td class="td-menu">
            <p class="p-menu" routerLink="/tablaEncuestas" routerLinkActive="activebutton">
                <i class="fa-solid fa-square-poll-vertical" style="font-size: 20px; margin-right: 8px;"></i> Generar encuesta
            </p>
          </td>
        </tr>
      </tbody>
    </table>
</div>