h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #068460;
  }
  
  .form-container {
    font-family: 'Work Sans', sans-serif;   
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="button"] {
    font-family:'Work Sans', sans-serif;
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: #068460;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  