<app-app-header></app-app-header>
<div class="form-container">
  <h1>Recuperación de contraseña</h1>
  <form>
    <div class="form-group">
      <label>Código de Recuperación:</label>
      <input id="code" name="code" (input)="onPasswordInput()">
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" (input)="onPasswordInput()">
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirmar contraseña:</label>
      <input type="password" id="confirm-password" name="confirm-password" (input)="onPasswordInput()">
    </div>

    <button type="button" (click)="resetPassword()">Actualizar contraseña</button>

    <div class="error-message" *ngIf="error">{{ error }}</div>
  </form>
</div>





<app-app-footer
  index->
</app-app-footer>
