.containerTarjeta{
    display: flex;
    flex-direction: column;
}
.tarjetas{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 70vw;
    height: auto;
    padding: 20px;
    border-top: none !important;
    border-left: 10px solid #068460;
    margin: 3vh 2vw !important;
    background-color: white
}
.select-header{
    background: #FFFFFF;
    border-radius: 10px;
    height: auto;
    font-family: 'Work Sans', sans-serif;
    border: 1px solid #000000;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 1vh 0 0 0;
}
.pregunta{
    background: #FFFFFF;
    border-radius: 10px;
    height: auto;
    padding: 8px;
    font-family: 'Work Sans', sans-serif;
    border: 1px solid #000000;
    margin: 1vh 2vw 1vh 0;
    width: 44vw;
}
.section{
    display: flexs;
}
.linea{
    border-top: 1.5px solid rgb(131, 131, 131);
    width: 65vw;
    padding: 0;
    margin: 3vh 0 ;
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2vw;
}
.obligatorio{
    margin: 0 0.1vw !important;
    font-family: 'Work Sans', sans-serif;
    /* font-size: 16px; */
}
.select-wrapper {
    position: relative;
    display: inline-block;
    width: auto;
    z-index: 1;
}
.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    padding: 3% 20% 3% 8%;
    margin: 0;
    list-style: none;
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    display: none;
}
.options-container li {
    padding: 6px 2px;
    cursor: pointer;
    width: max-content;
}
.options-container li:hover {
    background-color: #f2f2f2;
}
.fa-angle-down{
    color: #000000;
    cursor: pointer;
    font-size: 15px;
}
.respuesta,
.respuestaTextarea,
.respuestaSpan,
.respuestaSpan2{
    background: #FFFFFF;
    height: 6vh;
    padding: 5px;
    width: auto;
    font-family: 'Work Sans', sans-serif;
    /* font-size: 15px; */
    border: none;
    border-bottom: 1px solid #a4a4a4;
    margin: 1vh 0;
}
.respuestaSpan,
.respuestaSpan2{
    width: 8vw !important;
    cursor: pointer;
    color: #878787;
}
.respuestaSpan2{
    width: 10vw !important;
}
.spanOtro{
    color: blue;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.radioButton{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.eliminar{
    display: flex;
}
.x{
    align-self: flex-end;
    margin: 0 0 1vh 1vw;
    cursor: pointer;
}
.fa-angle-down{
    margin: 0.3vh 0 0 1vw;
}
/*personalizar el checkbox*/
.toggle-input {
    display: none;
}
.toggle-label {
    display: inline-block;
    width: 5%;
    padding: 1.1% 1.1%;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 0 1%;
} 
.toggle-label::before {
    content: "";
    display: block;
    width: 20%;
    padding: 20% 20%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}
.toggle-input:checked + .toggle-label {
    background-color: #068460;
}
.toggle-input:checked + .toggle-label::before {
    transform: translateX(120%);
}
.botones{
    display: flex;
    align-self: flex-end;
}
.agregar,
.eliminarBoton{
    border: none;
    background-color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 13vw;
    height: 6vh;
    border-radius: 10px;
    margin: 1vh 2vw 4vh 1vw;
}
.eliminarBoton{
    margin: 1vh 2vw 4vh 0 !important;
}