<form [formGroup]="form" class="tarjetas">
    <div class="section">
        <input type="text" class="pregunta" placeholder="Ingrese su pregunta" id="pregunta" formControlName="pregunta">
        <div class="select-wrapper">
            <div class="select-header" (click)="toggleOptions()">
              <span id="selectedOption">
                <i [ngClass]="selectedOption.icon"></i> {{ selectedOption.label }}
              </span>
              <i class="fa-solid fa-angle-down"></i>
            </div>
            <ul id="optionsContainer" class="options-container" [ngStyle]="{'display': showOptions ? 'block' : 'none'}">
              <li *ngFor="let option of options" (click)="selectOption(option)">
                <i [ngClass]="option.icon"></i> {{ option.label }}
              </li>
            </ul>
        </div>
            <input *ngIf="selectedOption.value === 'respuestaCorta'" type="text" class="respuesta"  placeholder="Respuesta corta" formControlName="respuestaCorta">
            <textarea *ngIf="selectedOption.value === 'respuestaLarga'" style="height: 50px;" class="respuestaTextarea" placeholder="Respuesta larga" formControlName="respuestaLarga"></textarea>
            <div *ngIf="selectedOption.value === 'radioButton'" class="radioButton">
                <input type="text" class="respuesta" placeholder="Opción 1" formControlName="opcion1Radio">
                <span>
                    <span type="text" class="respuestaSpan" (click)="agregarInputRadio()">Añadir opción</span> o 
                    <span class="spanOtro" (click)="agregarOtro()">Añadir respuesta 'Otro'</span>
                </span>           
                <div class="respuestaRadio" formArrayName="opcionesRadio">
                    <ng-container *ngFor="let control of opcionesRadio.controls; let i = index">
                        <div class="eliminar">
                            <input type="text" class="respuesta" [placeholder]="'Opción ' + (i + 2)" [formControlName]="i">
                            <span (click)="removeRadioOption(i)" class="x">
                                <i class="fa-solid fa-xmark" style="color: #8c8c8c;"></i>
                            </span>
                        </div>
                    </ng-container>
                </div>
                <input type="text" class="respuesta" placeholder="Otro" *ngIf="showOtro" formControlName="otroRadio">
            </div>
            <div *ngIf="selectedOption.value === 'checkbox'" class="radioButton">
                <input type="text" class="respuesta" formControlName="checkbox" placeholder="1. Opción 1" formControlName="opcion1Checkbox">
                <span>
                    <span type="text" class="respuestaSpan" (click)="agregarInputCheckbox()">Añadir opción</span> o 
                    <span class="spanOtro" (click)="agregarOtro()">Añadir respuesta "Otro"</span>
                </span>              
                <div class="respuestaRadio" formArrayName="opcionesCheckbox">
                    <ng-container *ngFor="let control of opcionesCheckbox.controls; let i = index">
                        <div class="eliminar">
                            <input type="text" class="respuesta" [placeholder]="'Opción ' + (i + 2)" [formControlName]="i">
                            <span (click)="removeRadioOption(i)" class="x">
                                <i class="fa-solid fa-xmark" style="color: #8c8c8c;"></i>
                            </span>
                        </div>
                    </ng-container>
                </div>
                <input type="text" class="respuesta" placeholder="Otro" *ngIf="showOtro" formControlName="otroCheckbox">
            </div>
            <div *ngIf="selectedOption.value === 'desplegable'" class="radioButton">
                <input type="text" class="respuesta" placeholder="1. Opción 1" formControlName="desplegableOpcion1">
                <span type="text" class="respuestaSpan2" (click)="agregarInputDesplegable()">Añadir opción</span>
                <div class="respuestaRadio" formArrayName="opcionesDesplegable">
                    <ng-container *ngFor="let control of opcionesDesplegable.controls; let i = index">
                        <div class="eliminar">
                            <input type="text" class="respuesta" [placeholder]="(i + 2) + '. Opción ' + (i + 2)" [formControlName]="i">
                            <span (click)="removeRadioOption(i)" class="x">
                                <i class="fa-solid fa-xmark" style="color: #8c8c8c;"></i>
                            </span>
                        </div>
                    </ng-container>
                </div>
            </div>
    </div>
    <div class="linea"></div>
    <div class="footer">
        <p class="obligatorio">Obligatorio</p>
        <input type="checkbox" [id]="'toggleButton' + index" class="toggle-input" formControlName="obligatorio">
        <label [for]="'toggleButton' + index" class="toggle-label"></label>                       
    </div>
</form>