<div class="govco-footer">
  <div class="govco-portales-contenedor m-0">
    <div class="col-4 govco-footer-logo-portal">
      <div class="govco-logo-container-portal">
        <span class="govco-logo"></span>
        <span class="govco-separator"></span>
        <span class="govco-co"></span>
      </div>
    </div>
    <div class="govco-separator-rows">
      <h6 class="text">Ministerio de comercio, industria y turismo</h6>
      <p class="parrafo">
        <b class="b">Sede principal</b><br>
        Calle 28 No. 13 A – 15 Bogotá D.C.
      </p>
      <p class="parrafo">
        <b class="b">Sede Palma Real </b><br>
      Carrera 13 No. 28 – 01 Bogotá D.C, Atención Grupo de Relación con el Ciudadano Piso 8.
      </p>
      <div class="codigo-postal parrafo">
        <p><b class="b"> Código Postal: </b></p>
        <p>110311</p>
      </div>
      
    </div>

    <div class="govco-separator-rows">
      <div>
        <h6 class="text t-bold">
          <img
            src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-12-13/b11497d5-a424-47f6-8974-881bca7be9ab-1imagen_noticia.svg"
            style="width: 15px"
            data-filename="ícono telefono.svg"
            alt="Icono ayuda teléfono "
            title="Icono ayuda teléfono "
          /><b>&nbsp;&nbsp;</b>Contacto
        </h6>
        <p class=" parrafo">
           <b class="b">Línea gratuita nacional:</b><br>01 8000 958283
            Lunes a viernes de 8:00 a.m. a 5:00 p.m. - Jornada continua<br>
            <b class="b">Línea Bogotá:</b><br>+57 601 6067676
            Lunes a viernes de 8:00 a.m. a 5:00 p.m. - Jornada continua
          </p><br>
            <p class="parrafo"><b class="b"> Linea Anticorrupción:</b></p>
            <p class="parrafo">
              <a
                href="mailto:soytransparente@mincit.gov.co"
                aria-label="Permite enviar correo"
                target="_blank"
                > soytransparente@mincit.gov.co</a
              >
        <p class="parrafo"><b class="b"> Correo Institucional:</b></p>
        <p class="parrafo">
          <a
            href="mailto:info@mincit.gov.co"
            aria-label="Permite enviar correo"
            target="_blank"
            >info@mincit.gov.co</a
          >
        </p>
        <p><br /></p>
      </div>
    </div>
    <div class="govco-separator-rows">
      <div class="flex-column texto-enriquecido-footer">
        <p class="parrafo">
          <a
            href="https://www.mincit.gov.co/servicio-ciudadano/politicas-de-tratamiento-de-datos-personales"
            target="_blank"
            >Políticas de privacidad y condiciones de uso</a
          >
        </p>
        <p class="parrafo">
          <a
            href="https://www.mincit.gov.co/servicio-ciudadano/canales-de-atencion"
            target="_blank"
            >Contacto</a
          >
        </p>
        <p class="parrafo">
          <a href="https://www.mincit.gov.co/sitemap" aria-label="Mapa del sito"
            >Mapa del sitio</a
          >
        </p>
        <br>
        <p class="flex-center parrafo">
          <img
            src="../../../../assets/img-dashboard/facebook-square.svg"
            style="width: 20px"
            alt="prueba"
            title="prueba"
          />&nbsp;&nbsp;<a
            href="https://www.facebook.com/MincomercioCo"
            target="_blank"
            >Síguenos en Facebook</a
          >
        </p>
        <p class="flex-center parrafo">
          <img
            src="../../../../assets/img-dashboard/instagram-square.svg"
            style="width: 20px"
            alt="prueba"
            title="prueba"
          />&nbsp;&nbsp;<a
            href="https://www.instagram.com/mincomercioco/"
            target="_blank"
            >Síguenos en Instagram</a
          >
        </p>
        <p class="flex-center parrafo">
          <img
            src="../../../../assets/img-dashboard/twitter-square.svg"
            style="width: 20px"
            alt="rueba"
            title="rpueba"
          />&nbsp;&nbsp;<a
            href="https://twitter.com/MincomercioCo"
            target="_blank"
            >Síguenos en Twitter</a
          >
        </p>
        <p class="flex-center parrafo">
          <img
            src="../../../../assets/img-dashboard//youtube-square.svg"
            style="width: 20px"
            alt="rueba"
            title="rpueba"
          />&nbsp;&nbsp;<a
            href="https://www.youtube.com/mincomerciocolombia"
            target="_blank"
            >Síguenos en Youtube</a
          >
        </p>
        <p class="flex-center parrafo">
          <img
            src="../../../../assets/img-dashboard/linkedin.svg"
            style="width: 20px"
            alt="rueba"
            title="rpueba"
          />&nbsp;&nbsp;<a
            href="https://www.linkedin.com/company/ministerio-de-comercio-industria-y-turismo"
            target="_blank"
            >Síguenos en Linkedin</a
          >
        </p>
       
      </div>
    </div>
  </div>
</div>
