<div class="table-auditoria">
    <h3>Menú</h3>
    <div class="linea"></div>
    <table class="dropdown">
      <tbody>
        <tr>
          <td class="td-menu">
            <p class="p-menu" routerLink="/resultadosAuditoria" routerLinkActive="activebutton">
                <i class="fa-solid fa-list-check" style="font-size: 20px; margin-right: 8px;"></i> Resultados de auditoría
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu" routerLink="/resultadosEncuestas" routerLinkActive="activebutton">
                <i class="fa-solid fa-square-poll-vertical" style="font-size: 20px; margin-right: 8px;"></i> Resultados de encuestas
            </p>
          </td>
        </tr> 
        <tr>
          <td class="td-menu">
            <p class="p-menu" routerLink="/actividadesPlanificadas" routerLinkActive="activebutton">
                <i class="fa-regular fa-calendar-days" style="font-size: 20px; margin-right: 8px;"></i> Actividades planificadas
            </p>
          </td>
        </tr>
        <tr>
            <td class="td-menu">
              <p class="p-menu" routerLink="/tablaPartesInteresadas" routerLinkActive="activebutton">
                <i class="fa-solid fa-users-line" style="font-size: 20px; margin-right: 8px;"></i> Matriz de partes interesadas
              </p>
            </td>
          </tr>
      </tbody>
    </table>
</div>