@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&display=swap');

.containerGestorNoticia {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
    background-color: var(--color-wallpaper, #f6f8f9);
}

.titulo {
    display: flex;
    flex-direction: row-reverse;
    margin: 3vh 0 2vh 0;
}

h1,
h2 {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-title, #068460);
    text-align: center;
    font-weight: bold;
}

.btn {
    background: #068460;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 165px;
    border: none;
    cursor: pointer;
    margin: 0.5vh 0 3vh 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    align-self: flex-end;
}

tr th {
    text-align: center !important;
}

.table-gestion {
    min-width: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    min-width: 450px;
    border: 2px solid #068460;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.table-gestion thead tr {
    background-color: #068460;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}

.table-gestion th,
.table-gestion tbody td {
    padding: 15px;
}

.table-gestion tbody tr {
    border-bottom: 1px solid white;
}

.page-style {
    display: flex;
    justify-content: flex-end;
    margin: 2vh 0 0 0;
}

.container-label {
    display: flex;
    align-items: center;
}

::placeholder {
    color: black;
    font-size: 12px;
}

.paginas {
    display: inline-block;
    max-width: 100%;
    margin: 10px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 51vw;
    height: 78vh;
    padding: 2vh 2.5vw;
    background-color: white;
    border-radius: 15px;
    position: initial;
    justify-content: flex-start;
    overflow: auto;
}

.modal-title,
.modal-title-editar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    margin: 1vh 0 2vh 0;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background-color: #dddddd;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #888888;
}

.linea {
    border-top: 2px solid rgb(168, 168, 168);
    ;
    width: 45vw;
    padding: 0;
}

.botonG {
    margin: 3vh 0 2vh 0;
    height: 40px;
    width: 200px;
    padding: 10px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: center;
}

.botonG:disabled {
    background-color: #7cc4af;
    color: #000000;
}

input,
textarea {
    background: #FFFFFF;
    border: 1px solid #adadad;
    border-radius: 4px;
    height: 30px;
    padding: 10px;
    width: 45.3vw;
}
select{
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #adadad;
    border-radius: 4px;
    height: 30px;
    width: 45.3vw;
    color: #000000;
}
textarea {
    height: 100px !important;
}

.x {
    align-self: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerFile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file {
    display: none;
}

.file+label {
    display: flex;
    flex: 1;
}

.fileName,
.fileBtn {
    padding: 5px 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    margin: 0.5vh 0;
}

.fileBtn {
    background: #f9f9f9;
    border: 1px solid #adadad;
    border-radius: 4px;
    flex: 1;
    cursor: pointer;
}

.fileBtn:hover {
    background-color: #dddddd;
}

.buscador {
    margin: 2vh 2vw 3vh 0;
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    width: 100%;
    /* width: 30vw; */
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    align-self: flex-end;
}

.divTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
span{
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: red;
    margin: 0 0 2vh 0;
}

.notificacion-noticias{
    display: flex;
    align-items: center;
}
.notificacion-noticias input{
    width: 21px;
    margin: 3px;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn {

    color: #000000 !important;
    display: inline-block;
    border: 1px solid #adadad !important;
    width: 100% !important;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px !important;
    margin-top: 0;
}

/*BARRA HEADER*/
.barra-header{
    width: 100%;
    height: auto;
}
.img-container{
    width:100%;
    height:auto;
    margin: 0px, 0px, 0px, 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color:#fff;*/
}
.img-header{
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
/*CENTRO DE CARDS NOTICIAS*/
.noticia-content{
    width: 90%;
    height: auto;
    margin: 0px 10%;    
    display: flex;
}
.cards-view{
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border-bottom: 1px solid #418B3B;*/
}
.categorizacion-view{
    width: 20%;
    height: auto;
}
.categoria-noticia{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.borde-cat p{
    margin: 10px 0px;
    background-color: #D8D8D8;
    display: flex;
    text-align: center;
    padding: 3px 10px;
    border-radius: 5px;
    color: #565656;
    text-align: justify;
}
.descripcion-noticia{
    width: 100%;
}
.titulo-noticia{
    font-size: large;
    margin-bottom: 20px;
    font-weight: bold;
}
/*CARD NOTICIA*/
.card-noticia{
    width: 45%;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000000;
    transition: all 300ms ease;
}
.card-noticia:hover{
    background-color: transparent;
    transform: scale(1.01);
}
.img-noticia{
    width: 100%;
    height: auto;
}
.img-noticiaaa{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.categorias{
    border-bottom: 1px solid #068460;
    border-top: 1px solid #068460;
}
.val-cat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.cat-n{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador{
    background-color: #dddddd;
    padding: 0px 5px;
    border-radius: 3px;
}
.btn-crear{
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    background-color: #259DFF;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btn-noticia{
    border-bottom: 1px solid #068460;
}
.barra-final{
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.img-container-final{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    border: 0.5px solid #b4b4b4;
    margin: 5px 0px;
}
.page-style{
    width: 100%;
    height: auto;
    display: block;

}
.container-label{
    display: flex;
    justify-content: flex-end;
}
/* Estilos para pantallas pequeñas (menos de 970px de ancho) */
@media (max-width: 970px) {
  .noticias-app-header .container-pst p {
            display: none;
        }
    

    h1 {
        font-size: 30px;
    }

    .modal-dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-dialog .modal-content,
    .modal-contedor {
        width: auto;
    }

    /* MODAL DE DESCRIPCIÓN */
    .modal-content div a {
        padding-right: 0px !important;
        padding-top: 2px !important;
    }

    .table-gestion {
        min-width: 100% !important;
        font-size: 13px;
        text-align: center;
    }

    /* MODAL DE AGREGAR NOTICIAS */
    .modal-content {
        width: 56%;
        height: auto
    }

    .modal-title h2 {
        font-size: 20px;
    }

    /* MODAL DE EDITAR NOTICIAS */
    .modal-title-editar h2 {
        font-size: 20px;
    }

    .form input {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .input-field {
        width: 100%;
    }

    .buscador {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
        /* Mantiene la proporción de la imagen */
    }
    .notificacion-noticias input{
        width: 21px;
        margin: 3px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 27px;
    }

    /* MODAL DE AGREGAR NOTICIAS */
    .modal-content {
        width: 80%;
        height: auto
    }

    .modal-title h2 {
        font-size: 20px;
    }

    .container-label {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer .ls-pagina pagination {
        font-size: 12px;
    }

    table .title-tabla {
        display: none;
    }

    table .inf-tabla {
        display: none;
    }
    .noticia-content{
        width: 100%;
        height: auto;
        display: flex;
    }
    .categorizacion-view{
        display: none;
    }
    .cards-view{
        width: 95%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /*border-bottom: 1px solid #418B3B;*/
    }
    .card-noticia{
        width: 80%;
        height: auto;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 10px;
        margin-bottom: 30px;
        text-decoration: none;
        color: #000000;
        transition: all 300ms ease;
    }
    .img-container-final{
        width: 500px;
        height: auto;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .img-container-final p{
        font-size: small;
        text-align: center;
    }
}
