<app-app-header class="noticias-app-header" [esVisible]="true" [esInfoHeader]="true"></app-app-header>
<div class="row ">
    <div class="col-md-8 campana text-end">
      <div class="container-notificaciones position-relative" style="margin-left: -50rem;">
        <div class="notification-icon">
          <button
            class="btn"
            style="all: initial; cursor: pointer"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseContent"
            aria-expanded="false"
            aria-controls="collapseContent"
          >
            <i class="far fa-bell" style="color: #ffffff"></i>
          </button>
   
          <div
            class="collapse custom-popover position-absolute start-100 translate-middle-x"
            id="collapseContent"
          >
            <h3
              class="text text-success"
              style="text-align: center; margin-bottom: -10px"
            >
              Notificaciones
            </h3>
            <div *ngIf="result && !resultInicadores" style="text-align: center">
              <!-- <div class="linea"></div> -->
              <hr />
              <p class="text text-success">No hay recordatorios</p>
            </div>
            <div *ngIf="!result || resultInicadores">
              <hr style="margin-bottom: 2px" />
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  style="cursor: pointer"
                  *ngFor="let notificacion of datosTarjetaActividad.slice(0, 2)"
                >
                  <p
                    style="margin-bottom: -2px"
                    (click)="
                      indexReminder(notificacion.fkIdActividad, notificacion.dato)
                    "
                  >
                    {{ notificacion.descripcion?.slice(0, 20) }}
                  </p>
                </li>
   
                <li
                  class="list-group-item"
                  style="cursor: pointer"
                  *ngFor="
                    let campo of listaIndicadores.slice(0, 2);
                    let index = index
                  "
                >
                  <p style="margin-bottom: -2px" (click)="indexReminderIndicador()">
                    {{ campo.NOMBRE_INDICADOR?.slice(0, 20) }}
                  </p>
                </li>
              </ul>
              <hr style="margin-top: 1px" />
              <a
                routerLink="/planificacion"
                class="btn btn-primary btn-block mt-2"
                style="display: block; text-align: center; justify-content: center"
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
   
</div>

<div class="containerGestorNoticia">
    <app-app-header2></app-app-header2>
    <div class="titulo">
        <h1> NOTICIAS </h1>
        <app-app-header-arrow-left></app-app-header-arrow-left>
    </div>
    
    <div class="noticia-content">
        <div class="cards-view">
                <a class="card-noticia" *ngFor="let val of filterArray; let i = index" (click)="indexCard(val.ID_NOTICIA)">
                    <div class="img-noticia">
                        <img class="img-noticiaaa" [src]="val.RUTA_IMAGEN"/>
                    </div>
                    <div class="categoria-noticia">
                        <div class="borde-cat"><p class="nombre-categoria">{{val.DESCRIPCION_CAT}}</p></div>
                    </div>
                    <div class="descripcion-noticia">
                        <p class="titulo-noticia">{{val.TITULO}}</p>
                        <p class="fecha-noticia">{{formatFechaText(val.FECHA_REG)}}</p>
                        <p class="descripcion" [innerHTML]="val.DESC_CORTA">{{val.DESC_CORTA}}</p>
                    </div>
                </a>
            <!-- Paginacion -->
    <footer class="page-style">
        <hr>
        <div class="container-label">
            <label class="paginas">
                Página: {{ pages }} / {{ totalPaginas }} Mostrando: {{ totalRegistros }} Registros: {{ datatotal }}
            </label>
            <div class="ls-pagina ">
                <pagination lastText="&raquo;" nextText="&rsaquo;" firstText="&laquo;" previousText="&lsaquo;"
                    [maxSize]="3" [itemsPerPage]="6" [boundaryLinks]="true" [(ngModel)]="currentPage"
                    [ngClass]="{'page-item': true}" [totalItems]="contentArray.length"
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </div>
        </div>
    </footer>
        </div>
        <div class="categorizacion-view">
            <div class="categorias">
                <div class="val-cat" *ngFor="let val of arrayCategorias; let i = index">
                    <div class="cat-n">
                        <i class="fi fi-sr-angle-right"></i>
                        <p class="cat-notica">{{val.DESCRIPCION}}</p>
                    </div>
                    <p class="contador">{{val.N_REGISTROS}}</p>
                </div>
            </div>
            <div class="btn-noticia">
                <button class="btn-crear" (click)="showModal = true" *ngIf="getRolValue() !== 5 && getRolValue() !== 7">CREAR NUEVA NOTICIA&emsp;<i class="fi fi-rr-arrow-circle-right"></i></button>
            </div>
        </div>
    </div>

    <!-- Modal Agregar Noticia -->
    <div class="modal-background" id="modal-success" *ngIf="showModal">
        <div class="modal-content">
            <a title="Cerrar" data-dismiss="modal" aria-label="Close" class="x">
                    <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;"
                        (click)="showModal = false;"></i>
                </a>
            <div class="modal-title">
                <h2>Agregar noticia</h2>
                <div class="linea"></div>
            </div>
            <form [formGroup]="saveForm" class="form" (ngSubmit)="saveModal()" #forma="ngForm">
                <ng-multiselect-dropdown *ngIf="getRolValue() === 3 || getRolValue() === 4"
                    formControlName="selectMultipleNorma" [placeholder]="'Seleccione una norma'"
                    [settings]="dropdownSettingsNorma" [data]="dropdownListNorma" [ngModel]="selectedItemsNorma"
                    (onSelect)="onItemSelect($event, 'norma')" (onSelectAll)="onSelectAll($event, 'norma')"
                    (onDeSelect)="onDeSelect($event, 'norma')" (onDeSelectAll)="onDeSelectAll($event, 'norma')"
                    ></ng-multiselect-dropdown>
                <ng-multiselect-dropdown *ngIf="getRolValue() === 3 || getRolValue() === 4"
                    formControlName="selectMultipleCategoria" [placeholder]="'Seleccione una categoría'"
                    [settings]="dropdownSettingsCategoria" [data]="dropdownListCategoria"
                    [ngModel]="selectedItemsCategoria" (onSelect)="onItemSelect($event, 'categoria')"
                    (onSelectAll)="onSelectAll($event, 'categoria')" (onDeSelect)="onDeSelect($event, 'categoria')"
                    (onDeSelectAll)="onDeSelectAll($event, 'categoria')"
                    style="margin-top:2vh;" ></ng-multiselect-dropdown>
                <ng-multiselect-dropdown *ngIf="getRolValue() === 3 || getRolValue() === 4"
                    formControlName="selectMultipleSubCategoria" [placeholder]="'Seleccione una sub categoría'"
                    [settings]="dropdownSettingsSubCategoria" [data]="dropdownListSubCategoria"
                    [ngModel]="selectedItemsSubCategoria" (onSelect)="onItemSelect($event, 'subcategoria')"
                    (onSelectAll)="onSelectAll($event, 'subcategoria')"
                    (onDeSelect)="onDeSelect($event, 'subcategoria')"
                    (onDeSelectAll)="onDeSelectAll($event, 'subcategoria')"
                    style="margin-top:2vh;"></ng-multiselect-dropdown>
                    <ng-multiselect-dropdown *ngIf="getRolValue() === 3  || getRolValue() === 4"
                    formControlName="selectMultipleAdmin" [placeholder]="'Seleccione un prestador de servicios'"
                    [settings]="dropdownSettings" [data]="dropdownListPst" [ngModel]="selectedItems"
                    (onSelect)="onItemSelect($event, 'admin')" (onSelectAll)="onSelectAll($event, 'admin')"
                    (onDeSelect)="onDeSelect($event, 'admin')"
                    (onDeSelectAll)="onDeSelectAll($event, 'admin')"  style="margin-top:2vh;"></ng-multiselect-dropdown>
                <ng-multiselect-dropdown *ngIf="getRolValue() === 1 || getRolValue() === 6 "
                    formControlName="selectMultiplePST" [placeholder]="'Seleccione un colaborador'"
                    [settings]="dropdownSettings" [data]="dropdownList" [ngModel]="selectedItems"
                    (onSelect)="onItemSelect($event, 'pst')" (onSelectAll)="onSelectAll($event, 'pst')"
                    (onDeSelect)="onDeSelect($event, 'pst')" (onDeSelectAll)="onDeSelectAll($event, 'pst')"
                    style="margin-top:2vh;"></ng-multiselect-dropdown>
                <input type="text" placeholder="Agregar un título" formControlName="tituloNoticia" id="tituloNoticia"
                    style="margin-top:2vh;">
                <label for="" class="indicador-max" *ngIf="saveForm.controls['tituloNoticia'].hasError('maxlength')">El titulo ingresado no debe tener más de 50 caractéres</label>
                <select id="CategoriaNoticia" name="CategoriaNoticia" formControlName="CategoriaNoticia" class="list-categorias">
                    <option value="">Seleccione una categoría</option>
                    <option *ngFor="let val of arrayCategorias; let i = index" [ngValue]="val.ID_CATEGORIA">{{val.DESCRIPCION}}</option>
                </select>
                <!--<angular-editor placeholder="Agregar una descripción" formControlName="descripcionNoticia"
                    id="descripcionNoticia" style="margin-top:2vh;"></angular-editor>-->
                <br>
                <!--<editor formControlName="descripcionNoticia" name="descripcionNoticia"
                    [init]="{
                      height: 500,
                      plugins: [
                         'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                        'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                        'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
                      ],
                      toolbar:
                       'undo redo | casechange blocks | bold italic backcolor | \
                       alignleft aligncenter alignright alignjustify | \
                       bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
                    }"
                ></editor>-->

                <editor formControlName="descripcionNoticia" name="descripcionNoticia"
                    [init]="{
                        base_url: '/tinymce',
                        suffix: '.min',
                        height: 500,
                        plugins: [
                            'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                            'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                            'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
                        ],
                        toolbar:
                        'undo redo | casechange blocks | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist checklist outdent indent | removeformat | a11ycheck code table help',
                        content_style: 'img { max-width: 100%; height: auto; }',
                        image_dimensions: true,
                        image_dimensions_unit: 'px'
                    }"
                ></editor>
                <label for="" class="indicador-max">El texto ingresado no debe superar los 500 caractéres</label>
                <div class="containerFile" style="margin-top:2vh;">
                    <input type="file" accept="image/*" (change)="captureImage($event)" class="file" id="archivo"
                        formControlName="imagenNoticia" #archivo>
                    <label for="archivo" class="fileBtn">Seleccionar imagen (*)</label>
                    <label id="nombre" class="fileName">Ningún archivo seleccionado</label>
                </div>
                <span>Las dimensiones de la imagen no deben exceder el máximo de 760 x 760 píxeles.</span>
                <div>
                    <label class="notificacion-noticias">
                        <input type="checkbox" name="recibirNoticias"  [checked]="recibirNoticias" (change)="onChangeCheckbox($event)"> Deseo recibir noticias por correo electrónico.
                    </label>
                </div>
                <button type="submit" class="botonG"
                    [disabled]=" ( (saveForm.controls.selectMultipleAdmin?.value?.length||0) === 0 && (saveForm.controls.selectMultipleNorma?.value?.length||0) === 0  && (saveForm.controls.selectMultipleCategoria.value?.length||0) === 0 && (saveForm.controls.selectMultipleSubCategoria.value?.length||0) === 0 && (saveForm.controls.selectMultiplePST.value?.length||0) === 0) || !saveForm.controls.CategoriaNoticia.value || !saveForm.controls.tituloNoticia.value || !saveForm.controls.descripcionNoticia.value || this.imagen==null ">
                    <i class="fa-regular fa-floppy-disk" style="color: #fff;"></i>
                    Guardar noticia</button>
            </form>
        </div>
    </div>
    <!-- Modal Editar Noticia -->
    <div class="modal-background" id="modal-success" *ngIf="showModalEditar">
        <div class="modal-content">
            <div class="modal-title-editar">
                <a title="Cerrar" data-dismiss="modal" aria-label="Close" class="x">
                    <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;"
                        (click)="showModalEditar = false;fnCancelar(caracteristicaIndice)"></i>
                </a>
                <h2>Editar noticia</h2>
                <div class="linea"></div>
            </div>
            <form [formGroup]="editarNoticiaForm" (ngSubmit)="saveModalEditar()" class="form">
                <label for="">Usuario</label>
                <input type="text" id="usuario" formControlName="usuario" [(ngModel)]="editarCaracteristica.NOMBRE"
                    [disabled]="true"><br>
                <label for="">Título de la noticia</label>
                <input type="text" id="titulo" formControlName="titulo" [(ngModel)]="editarCaracteristica.TITULO" maxlength="50"><br>
                <label for="">Descripción de la noticia</label>
                <angular-editor placeholder="Agregar una descripción" formControlName="descripcion"
                    style="margin-top:2vh;" id="descripcion"
                    [(ngModel)]="editarCaracteristica.DESCRIPCION"></angular-editor>
                <div class="containerFile" style="margin-top:2vh;">
                    <input type="file" (change)="captureImage($event)" class="file" id="archivo" #archivo>
                    <label for="archivo" class="fileBtn">Seleccionar imagen</label>
                    <label id="nombre" class="fileName">Ningún archivo seleccionado</label>
                </div><br>
                <button class="botonG" type="submit" [disabled]="editarNoticiaForm.invalid">
                    <i class="fa-regular fa-floppy-disk" style="color: #fff;"></i>
                    Editar noticia
                </button>
            </form>
        </div>
    </div>
    <!-- Modal Lista de destinatarios -->
    <div class="modal-background" id="modal-success" *ngIf="showModalLista">
        <div class="modal-content">
            <div class="modal-title-editar">
                <a title="Cerrar" data-dismiss="modal" aria-label="Close" class="x">
                    <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;"
                        (click)="showModalLista = false;"></i>
                </a>
                <h2>Lista de destinatarios</h2>
                <div class="linea"></div>
            </div>

            <div class="form" *ngFor="let campo of datosLista">
                <li *ngIf="campo.NOMBRE_DESTINATARIO">{{campo.NOMBRE_DESTINATARIO}}</li>
                <li *ngIf="campo.CATEGORIAS">{{campo.CATEGORIAS}}</li>
                <li *ngIf="campo.SUB_CATEGORIAS">{{campo.SUB_CATEGORIAS}}</li>
                <div class="form" *ngFor="let campo of descripcionNormas">
                    <li>{{ campo.NORMA}}</li>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal detalle de la descripción  -->
    <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" *ngIf="showModalNoticia"
        [ngClass]="{'show': showModalNoticia}" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-contedor" style="height: auto;">
                <div>
                    <a title="Cancelar"
                        style="display: flex;justify-content: flex-end;padding-right: 30px;padding-top: 18px;"
                        data-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-circle-xmark" style="color: #06543c;font-size: 25px;"
                            (click)="showModalNoticia = false;"></i>
                    </a>
                    <h1 class="modal-title" style="font-size:20px !important;margin: 0 !important;">Descripción de la
                        Noticia</h1>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(descripcion)"></p>
                </div>
                <div style="padding: 15px;text-align: center;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="showModalNoticia = false;">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-img">
        <app-footer2></app-footer2>
    </div> 
</div>
    <app-app-footer></app-app-footer>
    <app-modal></app-modal>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="small"
        template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>">
    </ngx-spinner>
