<div class="menu-container">
  <mat-nav-list>
    <h3>Menú</h3>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/paquetes" routerLinkActive="active" class="menu-item">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <mat-icon>business</mat-icon>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
          <span>Paquetes </span> 
        </div>
      </div>
     
     
    </mat-list-item>
    <mat-list-item routerLink="/objetivos" routerLinkActive="active" class="menu-item">
      
     
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <mat-icon>list_check</mat-icon>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
          <span>Objetivos </span>
        </div>
      </div>
    </mat-list-item>

    <mat-list-item routerLink="/indicadores" routerLinkActive="active" class="menu-item">
     
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <mat-icon>poll</mat-icon>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
          <span>Indicadores </span>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item routerLink="/evaluaciones" routerLinkActive="active">
     
      
        
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <mat-icon>bar_chart</mat-icon>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
          <span>Evaluación Indicadores </span>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item routerLink="/recordatorios" routerLinkActive="active">
      
    
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 ">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 ">
          <span> Recordatorios</span>
        </div>
      </div>
    </mat-list-item>

    

    
  </mat-nav-list>
</div>