<app-app-header></app-app-header>
<div class="componente-global">
  <div class="titulo">
    <h1 class="titulo-nav">Informe de Auditoría</h1>
  </div>

  <div class="container-form-informe-auditoria">
   <app-app-menu></app-app-menu>

    <!-- formulario -->
    <div class="container-form">
      <table
        class="table"
        style="margin-left: 64px; margin-top: 36px; max-width: 70%"
        id="table_proceso"
       
      >
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>FECHA DE INFORME DE AUDITORÍA</th>
            <th>AUDITOR</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let audit of procesoFinal">
            <td>{{ audit.codigo }}</td>
            <td>{{ audit.fechA_AUDITORIA }}</td>
            <td>{{ audit.proceso }}</td>
            <td>
              <button (click)="selectAudit(audit)"  class="seleccionar">
                SELECCIONAR
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container-form">
        <form id="formAuditoria" 
        [formGroup]="formParent" 
        style="display: none"
        (ngSubmit)="saveForm()"
        >
          <div class="informe-auditoria">
            <label class="label-auditor"
              >Proceso / Actividad auditados :
              {{ this.selectedProceso?.proceso }}</label
            >
            <br />
            <label class="label-auditor"
              >Auditor lider : {{ this.selectedProceso?.auditoR_LIDER }}
            </label>
            <br />
            <label class="label-auditor"
              >Equipo auditor : {{ this.selectedProceso?.equipO_AUDITOR }}</label
            >
            <br />
            <label class="label-auditor"
              >Fecha de informe de auditoría :
              {{ this.selectedProceso?.fechA_AUDITORIA }}</label
            >
            <br />
            <label class="label-auditor"
              >Objetivo de la auditoria :
              {{ this.selectedProceso?.objetivo}}
            </label>
            <br />
            <label class="label-auditor"
              >Alcance de la auditoría :
              {{ this.selectedProceso?.alcance}}
            </label>
            <br />
            <label class="label-auditor"
              >Criterios de auditoría :
              {{ this.selectedProceso?.criterio}}
            </label>
            <br />
            <label class="label-auditor"
              >Reunión de cierre : {{ this.selectedProceso?.fechA_REUNION_CIERRE }}
            </label>
            <br />
            <label class="label-conformidad"
              >Conformidad del sistema de gestion de sostenibilidad
            </label>
            <br />
            <table class="table" id="table_audit">
              <thead>
                <tr>
                  <div class="text-th">
                    <th>Descripción</th>
                    <th style="margin-left: 376px">NTC</th>
                    <th style="margin-left: 54px">Legales</th>
                  </div>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total de <b>NO CONFORMIDADES</b> detectadas en esta auditoría</td>
                  <td>
                    <div class="input-check">
                      <input type="radio" style="margin-left: -128px" name="no_conformidades" value="si" (change)="capturarValor($event)">
                      <input type="radio" style="margin-right: 23px;" name="no_conformidades" value="no" (change)="capturarValor($event)">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Total de <b>OBSERVACIONES</b> detectadas en esta auditoría</td>
                  <td>
                    <div class="input-check">
                      <input type="radio" style="margin-left: -128px" name="observaciones" value="si" (change)="capturarValor($event)">
                      <input type="radio" style="margin-right: 23px;" name="observaciones" value="no" (change)="capturarValor($event)">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Total de <b>OPORTUNIDADES DE MEJORA</b> detectadas en esta auditoría</td>
                  <td>
                    <div class="input-check">
                      <input type="radio" style="margin-left: -128px" name="oportunidades" value="si" (change)="capturarValor($event)">
                      <input type="radio" style="margin-right: 23px;" name="oportunidades" value="no" (change)="capturarValor($event)">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Total de <b>FORTALEZAS</b> detectadas en esta auditoría</td>
                  <td>
                    <div class="input-check">
                      <input type="radio" style="margin-left: -128px" name="fortalezas" value="si" (change)="capturarValor($event)">
                      <input type="radio" style="margin-right: 23px;" name="fortalezas" value="no" (change)="capturarValor($event)">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Total de <b>CONFORMIDADES</b> detectadas en esta auditoría  </td>
                  <td>
                    <div class="input-check">
                      <input type="radio" style="margin-left: -128px" name="conformidades" value="si" (change)="capturarValor($event)">
                      <input type="radio" style="margin-right: 23px;" name="conformidades" value="no" (change)="capturarValor($event)">
                    </div>
                  </td>
                </tr>
              </tbody>
              
            </table>
            <label class="label-conformidad">Proceso / Actividad : </label>
            <br />
            <table class="table" id="table_audit">
              <thead>
                <tr>
                  <th>Requisito</th>
                  <th>Hallazgo</th>
                  <th>Observación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let requisito of arrRequisito">
                  <td>{{ requisito?.requisito }}</td>
                  <td>{{ requisito?.hallazgo }}</td>
                  <td>{{ requisito?.observacion }}</td>
                  
                </tr>
              </tbody>
            </table>
            <label class="label-nota"
              ><b>Nota:</b> Agregar los campos necesarios para registrar los
              resultados por Proceso/ Actividad y números de requisitos
              evaluados.</label
            >
            <br />

            <div class="container-textarea">
              <label class="label-auditor">Conclusiones de la auditoría</label>
              <textarea
                type="text"
                class="obs"
                formControlName="conclusiones"
              ></textarea>
            </div>
            <div class="div-guardar">
              <button type="submit"  [disabled]="formParent.invalid"  class="btn-guardar">
                
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
      ></script>
    </div>
  </div>
</div>
