svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 1vh 0;
  /* display: flex; */
}
.containerMonitorizacion{
  display: flex;
  flex-direction: column;
  margin: 2vh 1vw 0 2vw;
}
.titulo{
  display: flex;
  flex-direction: row-reverse;
  margin: 2vh 0;
}
h1, h4{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #068460;
  text-align: center;
  margin: 2vh 0;
}
h4{
  color: black !important;
  text-align: left;
}
.monitorizacion {
  display: flex;
  flex-direction: column;
}
.filtros{
  display: flex;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad;
  width: 40%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}
.select{
  width: 50%;
  margin: 0 3vw 0 0;
}

.tarjeta {
  position: absolute;
 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 240px; /* Establece el ancho máximo de la tarjeta */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px; /* Tamaño de fuente más pequeño */
  max-height: 300px; /* Ajusta esto según tus necesidades */

  /* Habilita el scroll vertical si el contenido excede la altura máxima */
  overflow-y: auto;
}
.mapa-container {
  position: relative;
  /* Otros estilos del contenedor del mapa */
}


.tarjeta h2 {
  font-size: 16px; /* Tamaño de fuente para el encabezado más grande */
}

.tarjeta p {
  margin-top: 5px;
}

.cerrar-tarjeta {
  position: absolute;
  top: 5px; 
  right: 5px; 
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
}

.cerrar-tarjeta:hover {
  color: black; 
}
