.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    display: flex;
    background-color: white;
    padding: 53px;
    border-radius: 5px;
    width: 273px;
    position: fixed;
    height: 214px;
    top: 282px;
    right: 503px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #068460;
  }
  
  .modal-title{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 7px;
    padding: 5px;
    font-family:'Work Sans', sans-serif;
  }

  button{
    border: none;
    background: #068460;
    width: 33px;
    height: 26px;
    margin: 15px;
    border-radius: 5px;
    color: white;
  }
   
  
  .text{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family:'Work Sans', sans-serif;
  }

  #modal-success{display:none}