<!-- <div id="modalRegister" style="width: 100vw">
    <div class="content-fluid" title="tERMINOS Y CONDICIONES">
      <section class="modal-content">
        <h2>Política de tratamiento de datos</h2>
        <p>
          ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>
        <div class="forma-label-sin-izquierda col-xs-12 col-md-12">
          <input
            class="checkbox"
            type="checkbox"
            formControlName="checkbox"
          />
          <label class="forma-label col-xs-12 col-md-9"
            >He leído la política de tratamiento de datos</label
          >
        </div>
        <div class="button-container-2">
          <button class="btn" (click)="closeModal()">Aceptar</button>
        </div>
      </section>
    </div>
  </div> -->