@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');

a{
    color: #005eff !important;
    font-weight: normal;
}
.arrow{
  margin-left: 5rem;
}
.linea {
  border-top: 1px solid gray;
}
.custom-border{
  border: 0.5px solid gray;
}
p{
  font-size: 1.1rem;
}
/* Agregar estilos en tu hoja de estilos global o local */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
