@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');

/* p{
    margin: 10px 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    color: #474749;
    margin: 3vw;
} */
a{
    color: #005eff !important;
    font-weight: normal;
}
.arrow{
  margin-left: 5rem;
}
.linea {
  border-top: 1px solid gray;
}
.custom-border{
  border: 0.5px solid gray;
}
p{
  font-size: 1.1rem;
}