
<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
  <div class="header">
  <app-app-header></app-app-header>
  </div>
  
  <div class="container-gestion">
    <div class="titulo">
      Gestión de Asesores
      <div class="container-btn">
      <div>
        <p class="p-close" (click)="openModalNuevoAsesor()">Registrar un nuevo asesor</p>
      </div>
      <div>
         <p class="p-close"routerLink="">Cerrar Sesión</p>
      </div>
    </div>
  </div>
    <div class="subtitulo">
      <label>RNT</label>
      <input type="text" [value]="rnt" (change)="capturarValorRnt($event)"/>
      <label>Empresa</label>
      <input type="text" [value]="razonsocial" (change)="capturarValorEmpresa($event)"/>
      <label>Asesor</label>
      <input type="text" (change)="capturarValorAsesor($event)" />   
      <label class="padding-label">Estado</label>
      <select class="estado" (click)="filterResult() "(change)="capturarValorE($event)">
        <option  *ngFor="let element of arrEstado">{{ element }}</option>
      </select>
      <button (click)="filterResult()" class="buscar">
        <i class="fa-solid fa-magnifying-glass" style="color: #f4f7fa;"></i>
        Buscar</button>
    </div>  
    <div>
      <table class="table-gestion">
        <thead>
          <tr>
            <th scope="col">RNT</th>
            <th scope="col">Empresa</th>
            <th scope="col">Asesor</th>
            <th scope="col">Estado</th>
            <th scope="col" style="text-align: center;">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of returnedArray">
            <th scope="row"> {{ user.rnt }}</th>
            <td> {{ user.razonsocial | uppercase }}</td>
            <td>{{ user.asesorasignado  | titlecase }}</td>
            <td>{{ user.estadoatencion  | titlecase }}</td>
            <td class="btn-container">
              
              <button type="button" class="btn btn-default btn-atencion" (click)="linkToDashboard(user)">
                Iniciar atención
              </button>
              <button  type="button" class="btn btn-default btn-asignar"  (click)="nuevoAsesor(user)">Asignar asesor</button>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="result"  style="text-align: center;margin-top: 10px; font-size: 19px; font-family: 'Work Sans', sans-serif;" >
        No hay resultado para la búsqueda
      </p>
    </div>
    <!-- paginacion -->
    <div class="page-style">
      <tr>
        <td colspan="7">
            <div class="container-label" style="float:left;">
                <label class="paginas">
                    Página: {{ pages }} / {{ filtroTable.TotalPaginas }} Mostrando: {{ filtroTable.TotalRegistros }} Registros: {{ dataTotal }}
                </label>
            <div class="ls-pagina ">
              <pagination  
              [ngClass]="{'page-item': true}" 
              [boundaryLinks]="true" 
              [totalItems]="contentArray.length"
              [itemsPerPage]="7"
              [maxSize]="3"
             (pageChanged)="pageChanged($event)"  
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
              >
             </pagination>
            </div>
            </div>
        </td>
      </tr>
    </div>
    </div>
    
    <!-- modal asignar asesor -->   
    <div id="modalPst"  *ngIf="isOpen">
      <div class="modal-background" >
        <div class="modal-content">
          <div class="modal-title">
            <select name="select" id="select-pst" [(ngModel)]="opcionSeleccionado" (change)="capturarValueSelect($event)" >
                <option value=""  selected>Selecciona un Asesor</option>
                <option class="po" *ngFor="let element of arrListAsesor"  [ngValue]="element" selected>{{element.nombre}}</option>
              </select>
              
            </div>
              <div class="btn-grup">
                <button type="button" class="modal-btn"  (click)="updateNewAsesor()" >OK</button>
                <button type="button" class="modal-btn-cancel" (click)="cerrar()">Cancelar</button>
              </div>
        </div>
        </div>
    </div>

    <!-- modal para registrar nuevo asesor -->   
    <div id="modalAsesor">  
      <div class="modal-asesor" >
        <div class="asesor">
          <div class="title-asesor">
            <h1 class="titulo-modal">Registrar Nuevo Asesor</h1>
            <form
            class="formRegister"
            [formGroup]="registerNewAsesor"
            (ngSubmit)="saveNewAsesor()"
            >
            <label class="label-titulo">Usuario</label>
            <input style="width: 389px;font-size:14px;height: 28px;padding-left: 10px;" 
            (change) = onChangeModalInput($event)
            appLetras
            placeholder="Escriba su usuario"
            class="input-asesor"
            [(ngModel)]="registroNacionalDeTurismo"
            type="text"
            id="registroNacionalDeTurismo"
            formControlName="registroNacionalDeTurismo"
            />
           <label class="label-titulo">Nombre</label>
           <input style="width: 389px;font-size: 14px;height: 28px;padding-left: 10px;"
           (change) = onChangeModalInput($event)
           appLetras
           placeholder="Escriba su nombre"
           class="input-asesor"
           [(ngModel)]="nombre"
           type="text"
           id="nombre"
           formControlName="nombre"
          />
          <label class="label-titulo">Correo</label>
          <br>
          <input style="width: 389px;font-size:14px;height: 28px;padding-left: 10px;"
          (change) = onChangeModalInput($event)
          placeholder="Correo@email.com"
          class="input-asesor"
          [(ngModel)]="correo"
          type="email"
          id="correo"
          formControlName="correo"
          />
          <label
          class="control-error textDanger"
          *ngIf="registerNewAsesor.controls['correo'].hasError('pattern')">
          Debe contener un correo válido
          </label>
          <br>
        </form>
          </div>
              <div class="btn-grup-asesor">
                <button type="button" class="btn-register" [disabled]="registerNewAsesor.invalid"  (click)="saveNewAsesor()">OK</button>
                <button type="button" class="btn-cancel" (click)="cerraModalNewAsesor()">Cancelar</button>
              </div>
        </div>
        </div>
    </div>
</html>
<app-modal></app-modal>