<app-modal></app-modal>
<app-app-header></app-app-header>
<div class="controllerEvidencia">  
    <div class="tituloP">
        <h1>Evidencia e Implementación</h1>
        <app-app-header-arrow-left class="arrow"></app-app-header-arrow-left>
    </div>
        <div class="div" *ngFor="let nivel of jsonData.Niveles">
            <div class="titulo" (click)="toggleSection(nivel.Nombre)"  [ngClass]="{'verde': nivel.Mostrar}">
                <h3>{{ nivel.Orden.length > 0 ? nivel.Orden + '.' : '' }} {{ nivel.Nombre }}</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="nivel.Mostrar" [class.fa-angle-down]="!nivel.Mostrar"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="nivel.Mostrar">
                <div *ngFor="let elemento of nivel.Elementos, let i=index">
                    <p *ngIf="elemento.Detalle.length == 0"> {{ elemento.Orden.length > 0 ? elemento.Orden + '.' : '' }} {{ elemento.Nombre }} |
                      <ng-container *ngFor="let item of elemento.Opcion" >
                        <a *ngIf="item.Nombre!='Cargar documento'" [routerLink]="item.router.length > 0 ? item.router : '/evidencia/:section'">{{item.Nombre}} |</a>
                        <a *ngIf="item.Nombre=='Cargar documento'" (click)="cargarDocumento(elemento)">{{item.Nombre}} |</a>
                       
                      </ng-container>
                      
                      
                    </p> 
                    <div class="subDetalle" *ngIf="elemento.Detalle.length != 0">
                      <div class="subtitulo" (click)="toggleSubContexts(i,nivel.Nombre )" [ngClass]="{'verde': elemento.Mostrar}">
                         <p>{{ elemento.Orden.length > 0 ? elemento.Orden + '.' : '' }} {{ elemento.Nombre }}</p>
                          <div class="subIconos">
                              <i class="fa-solid" [class.fa-angle-up]="elemento.Mostrar" [class.fa-angle-down]="!elemento.Mostrar"></i>
                          </div>
                      </div>
                      <div class="subDetalleContext" *ngIf="elemento.Mostrar">
                        <p *ngFor="let subItem of elemento.Detalle"> {{ subItem.Orden ? subItem.Orden + ' .' : '' }} {{ subItem.Nombre }} |
                         <!--<a *ngFor="let subOpcion of subItem.Opcion"> {{subOpcion.Nombre}} |</a> --> 
                          <ng-container *ngFor="let subOpcion of subItem.Opcion" >
                            <a *ngIf="subOpcion.Nombre!='Cargar documento' || subOpcion.Nombre!='Cargar Documento' ">{{subOpcion.Nombre}} |</a>
                            <a *ngIf="subOpcion.Nombre=='Cargar documento' || subOpcion.Nombre=='Cargar Documento'  " (click)="cargarDocumento(subItem)">{{subOpcion.Nombre}} |</a>
                           
                          </ng-container>
                        </p> 
                      </div>
                  </div>
                </div>
            </div>
        </div>
</div>
<app-app-footer></app-app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>