<app-app-header></app-app-header>
<div class="controllerEvidencia">
    <h1>Evidencia e Implementación</h1>  
        <div class="div">
            <div class="titulo" (click)="toggleSection('contexts')" [ngClass]="{'verde': contextsVisible}">
                <h3>4. CONTEXTO DE LA ORGANIZACIÓN</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="contextsVisible" [class.fa-angle-down]="!contextsVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="contextsVisible">
                <div>
                    <p>4.1 Cumplimiento de la legislación |
                        <a routerLink="/EMatrizRequisitosLegales" routerLinkActive="activebutton">Matriz de requisitos legales</a> |
                        <a routerLink="/requisitosLegales" routerLinkActive="activebutton"> Procedimiento de requisitos legales</a> |
                        <a>Cargar documento</a> 
                    </p> 
                    <div *ngIf="subirVisible41" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>4.2 Comprensión de la organización y de su contexto <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item42')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible42" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>4.3 Comprensión de las necesidades y expectativas de las partes interesadas |
                        <a routerLink="" routerLinkActive="activebutton">Taller de partes interesadas</a> |
                        <a routerLink="/partesInteresadas" routerLinkActive="activebutton"> Matriz de partes interesadas</a> | 
                        <a (click)="toggleSubir('item43')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible43" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>4.4 Determinación del alcance del sistema de gestión de la sostenibilidad <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item44')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible44" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div class="subDetalle">
                    <div class="subtitulo" (click)="toggleSubContexts()" [ngClass]="{'verde': subContextsVisible}">
                        <p>4.5 Sistema de gestión de la sostenibilidad</p>
                        <div class="subIconos">
                            <i class="fa-solid" [class.fa-angle-up]="subContextsVisible" [class.fa-angle-down]="!subContextsVisible"></i>
                        </div>
                    </div>
                    <div class="subDetalleContext" *ngIf="subContextsVisible">
                        <div>
                            <p>4.5.1 Sistema de gestión de la sostenibilidad <a> | Generar documento</a> | 
                                <a (click)="toggleSubir('item451')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible451" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                        <div>
                            <p>4.5.2 Sistema de gestión de la sostenibilidad <a> | Generar documento</a> | 
                                <a (click)="toggleSubir('item452')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible452" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('liderazgo')" [ngClass]="{'verde': liderazgoVisible}">
                <h3>5. LIDERAZGO</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="liderazgoVisible" [class.fa-angle-down]="!liderazgoVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="liderazgoVisible">
                <div>
                    <p>5.1. Liderazgo y compromiso <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item51')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible51" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>5.2. Política <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item52')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible52" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>5.3 Roles, responsabilidades y autoridades <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item53')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible53" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('planificacion')" [ngClass]="{'verde': planificacionVisible}">
                <h3>6. PLANIFICACIÓN</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="planificacionVisible" [class.fa-angle-down]="!planificacionVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="planificacionVisible">
                <div class="subDetalleA">
                    <div class="subtituloPlanificacion" (click)="toggleSubPlanificacionA()" [ngClass]="{'verde': subPlanificacionA}">
                        <p>6.1 Acciones para abordar riesgos y oportunidades</p>
                        <div class="subIconos">
                            <i class="fa-solid" [class.fa-angle-up]="subPlanificacionA" [class.fa-angle-down]="!subPlanificacionA"></i>
                        </div>
                    </div>
                    <div class="subDetallePlanificacion" *ngIf="subPlanificacionA">
                        <div>
                            <p>6.1.1 Generalidades <a> | Generar documento</a> | 
                            <a (click)="toggleSubir('item611')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible611" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                        <div>
                            <p>6.1.2 Identificación y evaluación de las cuestiones <a> | Generar documento</a> | 
                            <a (click)="toggleSubir('item612')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible612" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subDetalleB">
                    <div class="subtituloPlanificacion" (click)="toggleSubPlanificacionB()" [ngClass]="{'verde': subPlanificacionB}">
                        <p>6.2 Objetivos de sostenibilidad y planificación para lograrlos</p>
                        <div class="subIconos">
                            <i class="fa-solid" [class.fa-angle-up]="subPlanificacionB" [class.fa-angle-down]="!subPlanificacionB"></i>
                        </div>
                    </div>
                    <div class="subDetallePlanificacion" *ngIf="subPlanificacionB">
                        <div>
                            <p>6.2.1 Objetivos de sostenibilidad y planificación para lograrlos <a> | Generar documento</a> | 
                                <a (click)="toggleSubir('item621')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible621" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('apoyo')" [ngClass]="{'verde': apoyoVisible}">
                <h3>7. APOYO</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="apoyoVisible" [class.fa-angle-down]="!apoyoVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="apoyoVisible">
                <div>
                    <p>7.1 Recursos <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item71')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible71" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>7.2 Competencia <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item72')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible72" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>7.3 Toma de conciencia <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item73')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible73" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>7.4 Comunicación <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item74')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible74" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>  
                <div class="subDetalle">
                    <div class="subtituloApoyo" (click)="toggleSubApoyo()" [ngClass]="{'verde': subApoyoVisible}">
                        <p>7.5 Información documentada</p>
                        <div class="subIconos">
                            <i class="fa-solid" [class.fa-angle-up]="subApoyoVisible" [class.fa-angle-down]="!subApoyoVisible"></i>
                        </div>
                    </div>
                    <div class="subDetalleApoyo" *ngIf="subApoyoVisible">
                        <div>
                            <p>7.5.1 Generalidades <a> | Generar documento</a> | 
                                <a (click)="toggleSubir('item751')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible751" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                        <div>
                            <p>7.5.2 Creación y actualización <a> | Generar documento</a> | 
                                <a (click)="toggleSubir('item752')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible752" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                        <div>
                            <p>7.5.3 Control de la información documentada <a> | Generar documento</a> | 
                                <a (click)="toggleSubir('item753')">Cargar documento</a>
                            </p>
                            <div *ngIf="subirVisible753" class="subDetalleSubirVisible">
                                <div class="containerFile">
                                    <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                    <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                    <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                                </div>
                                <button class="btnFile" (click)="uploadFile()">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('operacion')" [ngClass]="{'verde': operacionVisible}">
                <h3>8. OPERACIÓN</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="operacionVisible" [class.fa-angle-down]="!operacionVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="operacionVisible">
                <div>
                    <p>8.1 Planificación y control operacional <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item81')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible81" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>8.2 Tratamiento de actividades, productos o servicios modificados <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item82')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible82" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>8.3 Gestión de la cadena de suministro <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item83')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible83" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('evaluacion')" [ngClass]="{'verde': evaluacionVisible}">
                <h3>9. EVALUACIÓN DEL DESEMPEÑO</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="evaluacionVisible" [class.fa-angle-down]="!evaluacionVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="evaluacionVisible">
                <div>
                    <p>9.1 Seguimiento, medición, análisis y evaluación <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item91')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible91" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div class="subDetalle">
                    <div class="subtituloEvaluacion" (click)="toggleSubEvaluacion()" [ngClass]="{'verde': subEvaluacionVisible}">
                        <p>9.2 Auditoría interna</p>
                        <div class="subIconos">
                            <i class="fa-solid" [class.fa-angle-up]="subEvaluacionVisible" [class.fa-angle-down]="!subEvaluacionVisible"></i>
                        </div>
                    </div>
                    <div class="subDetalleEvaluacion" *ngIf="subEvaluacionVisible">
                        <p>9.2.2 Auditoría interna <a> | Generar documento</a> | 
                            <a (click)="toggleSubir('item922')">Cargar documento</a>
                        </p>
                        <div *ngIf="subirVisible922" class="subDetalleSubirVisible">
                            <div class="containerFile">
                                <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                                <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                                <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                            </div>
                            <button class="btnFile" (click)="uploadFile()">Subir</button>
                        </div>
                    </div>
                </div>
                <div>
                    <p>9.3 Revisión por la dirección <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item93')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible93" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('mejora')" [ngClass]="{'verde': mejoraVisible}">
                <h3>10. MEJORA</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="mejoraVisible" [class.fa-angle-down]="!mejoraVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="mejoraVisible">
                <div>
                    <p>10.1 No conformidad y acción correctiva <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item101')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible101" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
                <div>
                    <p>10.2 Mejora continua <a> | Generar documento</a> | 
                        <a (click)="toggleSubir('item102')">Cargar documento</a>
                    </p>
                    <div *ngIf="subirVisible102" class="subDetalleSubirVisible">
                        <div class="containerFile">
                            <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                            <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                            <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                        </div>
                        <button class="btnFile" (click)="uploadFile()">Subir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('anexoA')" [ngClass]="{'verde': anexoAVisible}">
                <h3>ANEXO A</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="anexoAVisible" [class.fa-angle-down]="!anexoAVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="anexoAVisible">
                <p>Contenido Anexo A <a> | Generar documento</a> | 
                    <a (click)="toggleSubir('itemA')">Cargar documento</a>
                </p>
                <div *ngIf="subirVisibleA" class="subDetalleSubirVisible">
                    <div class="containerFile">
                        <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                        <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                        <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                    </div>
                    <button class="btnFile" (click)="uploadFile()">Subir</button>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('anexoB')" [ngClass]="{'verde': anexoBVisible}">
                <h3>ANEXO B</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="anexoBVisible" [class.fa-angle-down]="!anexoBVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="anexoBVisible">
                <p>Contenido Anexo B <a> | Generar documento</a> | 
                    <a (click)="toggleSubir('itemB')">Cargar documento</a>
                </p>
                <div *ngIf="subirVisibleB" class="subDetalleSubirVisible">
                    <div class="containerFile">
                        <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                        <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                        <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                    </div>
                    <button class="btnFile" (click)="uploadFile()">Subir</button>
                </div>
            </div>
        </div>
        <div class="div">
            <div class="titulo" (click)="toggleSection('anexoC')" [ngClass]="{'verde': anexoCVisible}">
                <h3>ANEXO C</h3>
                <div class="iconos">
                    <i class="fa-solid" [class.fa-angle-up]="anexoCVisible" [class.fa-angle-down]="!anexoCVisible"></i>
                </div>
            </div>
            <div class="detalle" *ngIf="anexoCVisible">
                <p>Contenido Anexo C <a> | Generar documento</a> | 
                    <a (click)="toggleSubir('itemC')">Cargar documento</a>
                </p>
                <div *ngIf="subirVisibleC" class="subDetalleSubirVisible">
                    <div class="containerFile">
                        <input type="file" (change)="capturarFile()" class="file" id="archivo" #archivo>
                        <label for="archivo" class="fileBtn">Seleccionar archivo</label>
                        <label id="nombre" class="fileName">Ningun archivo seleccionado</label>
                    </div>
                    <button class="btnFile" (click)="uploadFile()">Subir</button>
                </div>
            </div>
        </div>
    <button type="button" (click)="goBack()" class="btn">Atrás</button>
</div>
<app-app-footer></app-app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>