<app-app-header></app-app-header>
<div class="containerMatrizRequisitosLegales">
    <h1>Matriz de requisitos legales</h1> 
    <div class="div">
        <div class="titulo" (click)="toggleSection('contexts')" [ngClass]="{'verde': contextsVisible}">
            <h3>Ley 300 de 1996</h3>
            <div class="iconos">
                <i class="fa-solid" [class.fa-angle-up]="contextsVisible" [class.fa-angle-down]="!contextsVisible"></i>
            </div>
        </div>
        <div class="detalle" *ngIf="contextsVisible">
            <h2>Emitida por:</h2>
            <p>Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
            <h4 style="font-weight: bolder;">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
            <p>TÍTULO VIII. ASPECTOS OPERATIVOS DEL TURISMO. CAPÍTULO I. DEL REGISTRO NACIONAL DE TURISMO. 
            Ir al inicio ARTÍCULO 61. REGISTRO NACIONAL DE TURISMO. Artículo modificado por el artículo 142 
            del Decreto Ley 2106 de 2019. El nuevo texto es el siguiente: El Ministerio de Comercio, Industria 
            y Turismo delegará en las Cámaras de Comercio el Registro Nacional de Turismo, en el cual deberán 
            inscribirse todos los prestadores de servicios turísticos contemplados en el artículo 12 de la Ley 
            1101 de 2006.</p>
            <br>
            <label>Estado de cumplimiento</label>
            <select name="" id="">
                <option value="">Si</option>
                <option name="" id="">No</option>
                <option name="" id="">En proceso</option>
                <option name="" id="">No aplica</option>
            </select>
            <br>
            <label for="">RESPONSABLE DE DAR CUMPLIMIENTO</label>
            <select name="" id="">
                <option value="">Responsable de dar cumplimiento</option>
                <option value="">Responsable</option>
            </select>
            <br>
            <label for="">EVIDENCIA DEL CUMPLIMIENTO</label>
            <input type="text">
            <br>
            <label for="">OBSERVACIONES / INCUMPLIMIENTO</label>
            <input type="text">
            <br>
            <h3>Plan de intervención</h3>
            <br>
            <label for="">ACCIONES A REALIZAR</label>
            <textarea name="" id="" cols="20" rows="10" placeholder="Acciones"></textarea>
            <br>
            <label for="">FECHA PARA LA EJECUCIÓN</label>
            <input type="date">
            <br>
            <label for="">RESPONSABLE DE DAR CUMPLIMIENTO</label>
            <select name="" id="">
                <option value="">Responsable de dar cumplimiento</option>
                <option value="">Responsable</option>
            </select>
            <br>
            <label for="">ESTADO</label>
            <select name="" id="">
                <option value="">Abierto</option>
                <option value="">Cerrado</option>
            </select>
        </div>
    </div>
    <div id="divAdd" class="div">
        <div class="titulo" (click)="toggleSection('contexts')" [ngClass]="{'verde': contextsVisible}">
            <h3 id="tituloNormativa"></h3>
            <!-- <div class="iconos">
                <i class="fa-solid" [class.fa-angle-up]="contextsVisible" [class.fa-angle-down]="!contextsVisible"></i>
            </div> -->
        </div>
        <div class="detalle" *ngIf="contextsVisible">
             
        <!-- <p id="anio"></p>
        <p ></p>
        <p id="numero"></p> -->
            <!-- <h2>Emitida por:</h2>
            <p>Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
            <h4 style="font-weight: bolder;">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4> -->
            <textarea id="descripcion" *ngIf="contextsVisible"></textarea>
            <br>
            <!-- <div>
                <label>Estado de cumplimiento</label>
                <select name="" id="">
                    <option value="">Si</option>
                    <option name="" id="">No</option>
                    <option name="" id="">En proceso</option>
                    <option name="" id="">No aplica</option>
                </select>
                <br>
                <label for="">RESPONSABLE DE DAR CUMPLIMIENTO</label>
                <select name="" id="">
                    <option value="">Responsable de dar cumplimiento</option>
                    <option value="">Responsable</option>
                </select>
                <br>
                <label for="">EVIDENCIA DEL CUMPLIMIENTO</label>
                <input type="text">
                <br>
                <label for="">OBSERVACIONES / INCUMPLIMIENTO</label>
                <input type="text">
                <br>
                <h3>Plan de intervención</h3>
                <br>
                <label for="">ACCIONES A REALIZAR</label>
                <textarea name="" id="" cols="20" rows="10" placeholder="Acciones"></textarea>
                <br>
                <label for="">FECHA PARA LA EJECUCIÓN</label>
                <input type="date">
                <br>
                <label for="">RESPONSABLE DE DAR CUMPLIMIENTO</label>
                <select name="" id="">
                    <option value="">Responsable de dar cumplimiento</option>
                    <option value="">Responsable</option>
                </select>
                <br>
                <label for="">ESTADO</label>
                <select name="" id="">
                    <option value="">Abierto</option>
                    <option value="">Cerrado</option>
                </select>
            </div> -->
        </div>
    </div>
    <div>
        <div class="adicionar" (click)="toggleSection('adicionar')">
            <button class="adicionarBtn">Adicionar requisito legal +</button>
        </div>
        <div class="detalleAdicionar" *ngIf="adicionarVisible">
            <!-- <label class="adicionarLabel">Tipo de normatividad</label>
            <select class="adicionarInput" #selectOption (change)="onSelect(selectOption.value)">
                <option value="0">Seleccione una opción</option>
                <option value="ley">Ley</option>
                <option value="decreto">Decreto</option>
                <option value="decretoLey">Decreto Ley</option>
                <option value="otro">Otro</option>
            </select>
            
            <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                <label class="adicionarLabel">Otro ¿Cuál?</label>
                <input type="text" class="adicionarInput" (change)="otro">
            </div>-->
            
            <label class="adicionarLabel">Número</label>
            <input type="text" class="adicionarInput" id="numeroInput"> 
            
            <label class="adicionarLabel">Año</label>
            <input type="text" class="adicionarInput" id="anioInput">
            
            <label class="adicionarLabel">Descripción</label>
            <textarea style="height: 100px" class="adicionarInput" id="descripcionTextArea"></textarea>
            
            <!-- <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
            <textarea style="height: 100px" class="adicionarInput"></textarea> -->
            
            <button type="submit" class="btnAdd" (click)="agregarDiv()">Agregar</button>
        </div>
    </div>
    <button type="submit" class="btn">Guardar</button>
</div>
<app-app-footer></app-app-footer>
<ngx-spinner></ngx-spinner>