<app-app-header></app-app-header>
<div class="MainContainerMatrizRequisitosLegales">
<h1>Matriz de requisitos legales</h1>
<input type="text" [(ngModel)]="busqueda" (input)="buscarTitulos()" placeholder="Buscar..." class="buscador">
  <div class="containerTabs">
    <div class="tabs">
        <div class="tab" (click)="cambiarTab('tab1')" [ngClass]="{ 'active': tabActual === 'tab1' }">Turismo</div>
        <div class="tab" (click)="cambiarTab('tab2')" [ngClass]="{ 'active': tabActual === 'tab2' }">Ambiental</div>
        <div class="tab" (click)="cambiarTab('tab3')" [ngClass]="{ 'active': tabActual === 'tab3' }">Laboral SGSST</div>
        <div class="tab" (click)="cambiarTab('tab4')" [ngClass]="{ 'active': tabActual === 'tab4' }">Social</div>
        <div class="tab" (click)="cambiarTab('tab5')" [ngClass]="{ 'active': tabActual === 'tab5' }">Económico</div>
        <div class="tab" (click)="cambiarTab('tab6')" [ngClass]="{ 'active': tabActual === 'tab6' }">Particular de Norma</div>
    </div>
    <div [ngSwitch]="tabActual" class="contenidoTabs">
        <div *ngSwitchCase="'tab1'">
            <div class="containerTabActual">              
                <div class="reporte">
                    <button type="button" class="btnReporte" (click)="generateReporteTurismo()">Descargar reporte</button>
                </div>
                
                <div class="div" *ngFor="let campo of leyesTurismo; let i = index">
                    <div class="titulo" (click)="toggleSectionLey('primeraLey', i, campo.ID_MATRIZ)" [ngClass]="{'verde': isLeyVisible(i)}">
                        <div class="h3">
                            <h3>{{ campo.TIPO_NORMATIVIDAD }} {{ campo.NUMERO }} de {{ campo.ANIO }}</h3> 
                        </div>    
                        <div class="iconos">
                            <i class="fa-solid" [class.fa-angle-up]="isLeyVisible(i)" [class.fa-angle-down]="!isLeyVisible(i)"></i>
                        </div>
                    </div>
                    <div class="detalle" *ngIf="isLeyVisible(i)">
                        <ng-container *ngFor="let subCampo of campo.subLeyes; let j = index">
                            <div class="subdetalle">
                                <h2>Emitida por:</h2>
                                <p class="parrafo">{{campo.DESCRIPCION}}</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ subCampo.DOCS_ESPECIFICOS}}</p>
                                <app-app-formulario [selectedMatrizId]="subCampo.ID_MATRIZ" [data]="subCampo" [idMatriz]="idMatriz"></app-app-formulario>
                            </div>
                        </ng-container>
                    </div>
                </div>
                
                <div *ngIf="divsVisible">
                    <div class="div" id="divAdd" *ngFor="let div of divsTab1; let i = index">
                        <div *ngIf = "div.DESCRIPCION || div.SECCIONES || div.NUMERO || div.ANIO || div.TIPO_NORMATIVIDAD">
                                <div class="titulo" (click)="toggleSectionDivAdd('divAdd', i)" [ngClass]="{'verde': isDivAddVisible(i)}">
                                    <div class="h3">
                                        <h3 id="tituloNormativa">{{div.TIPO_NORMATIVIDAD !== 'otro' ? div.TIPO_NORMATIVIDAD : otroValor}} {{div.NUMERO}} de {{div.ANIO}}</h3> 
                                    </div> 
                                    <i class="fa-solid" [class.fa-angle-up]="isDivAddVisible(i)" [class.fa-angle-down]="!isDivAddVisible(i)"></i>
                                    <button (click)="eliminarDivAdd()" class="boton-eliminar">x</button>
                                </div>
                                <div class="detalle" id="detalleAdd" *ngIf="isDivAddVisible(i)">       
                                    <h2>Emitida por:</h2>
                                    <p class="parrafo">Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
                                    <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                    <p class="parrafo">{{ div.DESCRIPCION }}</p>
                                    <p class="parrafo">{{ div.SECCIONES }}</p>
                                    <app-app-formulario></app-app-formulario>
                                </div> 
                        </div>  
                    </div>
                </div>
                  
                <ng-template #inputTemplate>
                    <div>
                      <input type="text" [(ngModel)]="nuevoDiv.anio">
                      <input type="text" [(ngModel)]="nuevoDiv.numero">
                      <textarea [(ngModel)]="nuevoDiv.descripcion"></textarea>
                      <textarea [(ngModel)]="nuevoDiv.secciones"></textarea>
                      <input type="text" [(ngModel)]="nuevoDiv.tipoNormatividad">
                    </div>
                </ng-template>

                <div id="ContainerdetalleAdicionar">
                    <div class="adicionar" (click)="toggleSection('adicionarTurismo')">
                        <button class="adicionarBtn" id="adicionarRequisitoTurismo">Adicionar requisito legal +</button>
                    </div>
                    <div class="detalleAdicionar" id="detalleAdicionarRequisito" *ngIf="adicionarVisibleTurismo">
                        <form [formGroup]="tab1Form">
                            <label class="adicionarLabel">Tipo de normatividad</label>
                            <select class="adicionarInput" id="tipoNormatividadSelect" #selectOption (change)="onSelect(selectOption.value)"
                            formControlName="tipoNormatividad">
                                <option value="" disabled selected hidden>Seleccione una opción</option>
                                <option value="Ley">Ley</option>
                                <option value="Decreto">Decreto</option>
                                <option value="Decreto Ley">Decreto Ley</option>
                                <option value="otro">Otro</option>
                            </select>
                            <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                                <label class="adicionarLabel">Otro ¿Cuál?</label>
                                <input type="text" class="adicionarInput" id="otroInput" (input)="onOtroInputChange($event)" appLetras>
                            </div>
                                
                            <label class="adicionarLabel">Número</label>
                            <input type="number" class="adicionarInput" id="numeroInput" formControlName="numero" appNumeros> 
                                
                            <label class="adicionarLabel">Año</label>
                            <input type="number" class="adicionarInput" id="anioInput" maxlength="4" formControlName="anio" appNumeros>
                                
                            <label class="adicionarLabel">Descripción</label>
                            <textarea style="height: 100px" class="adicionarInput" id="descripcionTextAreaAdd" formControlName="descripcion"></textarea>
                                
                            <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
                            <textarea style="height: 100px" class="adicionarInput" id="seccionesTextAreaAdd" formControlName="secciones"></textarea>
                                
                            <button type="submit" class="btnAdd" (click)="agregarDiv()" [disabled]="tab1Form.invalid">Agregar</button>
                        </form>
                    </div>
                </div>

                <button type="button" (click)="goBack()" class="btn">Atrás</button>
            </div>
        </div>
        <div *ngSwitchCase="'tab2'">    
            <div class="containerTabActual">
                <div class="reporte">
                    <button type="submit" class="btnReporte" (click)="generateReporteAmbiental()">Descargar reporte</button>
                </div>
                <div class="div" *ngFor="let campo of leyesAmbiental; let i = index">
                    <div class="titulo" (click)="toggleSectionLey('primeraLey', i, campo.ID_MATRIZ)" [ngClass]="{'verde': isLeyVisible(i)}">
                        <div class="h3">
                            <h3>{{ campo.TIPO_NORMATIVIDAD }} {{ campo.NUMERO }} de {{ campo.ANIO }}</h3> 
                        </div>    
                        <div class="iconos">
                            <i class="fa-solid" [class.fa-angle-up]="isLeyVisible(i)" [class.fa-angle-down]="!isLeyVisible(i)"></i>
                        </div>
                    </div>
                    <div class="detalle" *ngIf="isLeyVisible(i)">
                        <ng-container *ngFor="let subCampo of campo.subLeyes; let j = index">
                            <div class="subdetalle">
                                <h2>Emitida por:</h2>
                                <p class="parrafo">{{campo.DESCRIPCION}}</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ subCampo.DOCS_ESPECIFICOS}}</p>
                                <app-app-formulario [selectedMatrizId]="subCampo.ID_MATRIZ" [idMatriz]="idMatriz"></app-app-formulario>
                            </div>
                        </ng-container>       
                    </div>
                </div>
                
                <div *ngIf="divsVisible">
                    <div class="div" id="divAdd" *ngFor="let div of divsTab2; let i = index">
                        <div *ngIf = "div.DESCRIPCION || div.SECCIONES || div.TIPO_NORMATIVIDAD || div.NUMERO || div.ANIO">
                                <div class="titulo" (click)="toggleSectionDivAdd('divAdd', i)" [ngClass]="{'verde': isDivAddVisible(i)}">
                                    <div class="h3">
                                        <h3 id="tituloNormativa">{{div.TIPO_NORMATIVIDAD !== 'otro' ? div.TIPO_NORMATIVIDAD : otroValor}} {{div.NUMERO}} de {{div.ANIO}}</h3> 
                                    </div> 
                                <i class="fa-solid" [class.fa-angle-up]="isDivAddVisible(i)" [class.fa-angle-down]="!isDivAddVisible(i)"></i>
                                <button (click)="eliminarDivAdd()" class="boton-eliminar">x</button>
                                </div>
                            <div class="detalle" id="detalleAdd" *ngIf="isDivAddVisible(i)">       
                                <h2>Emitida por:</h2>
                                <p class="parrafo">Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ div.DESCRIPCION }}</p>
                                <p class="parrafo">{{ div.SECCIONES }}</p>
                                <app-app-formulario></app-app-formulario>
                            </div> 
                        </div>  
                    </div>
                </div>
                  
                <ng-template #inputTemplate>
                    <div>
                      <input type="text" [(ngModel)]="nuevoDiv.anio">
                      <input type="text" [(ngModel)]="nuevoDiv.numero">
                      <textarea [(ngModel)]="nuevoDiv.descripcion"></textarea>
                      <textarea [(ngModel)]="nuevoDiv.secciones"></textarea>
                      <input type="text" [(ngModel)]="nuevoDiv.tipoNormatividad">
                    </div>
                </ng-template>
                             
                <div id="ContainerdetalleAdicionar">
                    <div class="adicionar" (click)="toggleSection('adicionarAmbiental')">
                        <button class="adicionarBtn" id="adicionarRequisitoTurismo">Adicionar requisito legal +</button>
                    </div>
                    <div class="detalleAdicionar" id="detalleAdicionarRequisito" *ngIf="adicionarVisibleAmbiental">
                        <form [formGroup]="tab2Form">
                                <label class="adicionarLabel">Tipo de normatividad</label>
                                <select class="adicionarInput" id="tipoNormatividadSelect" #selectOption (change)="onSelect(selectOption.value)"
                                formControlName="tipoNormatividad">
                                    <option value="" disabled selected hidden>Seleccione una opción</option>
                                    <option value="Ley">Ley</option>
                                    <option value="Decreto">Decreto</option>
                                    <option value="Decreto Ley">Decreto Ley</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                                    <label class="adicionarLabel">Otro ¿Cuál?</label>
                                    <input type="text" class="adicionarInput" id="otroInput" (input)="onOtroInputChange($event)" appLetras>
                                </div>
                                
                                <label class="adicionarLabel">Número</label>
                                <input type="number" class="adicionarInput" id="numeroInput" formControlName="numero" appNumeros> 
                                
                                <label class="adicionarLabel">Año</label>
                                <input type="number" class="adicionarInput" id="anioInput" maxlength="4" formControlName="anio" appNumeros>
                                
                                <label class="adicionarLabel">Descripción</label>
                                <textarea style="height: 100px" class="adicionarInput" id="descripcionTextAreaAdd" formControlName="descripcion"></textarea>
                                
                                <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
                                <textarea style="height: 100px" class="adicionarInput" id="seccionesTextAreaAdd" formControlName="secciones"></textarea>
                                
                                <button type="submit" class="btnAdd" (click)="agregarDiv()" [disabled]="tab2Form.invalid">Agregar</button>
                        </form>
                    </div>
                </div>

                <button type="button" (click)="goBack()" class="btn">Atrás</button>
            </div>
        </div>
        <div *ngSwitchCase="'tab3'">
            <div class="containerTabActual">
                <div class="reporte">
                    <button type="submit" class="btnReporte" (click)="generateReporteLaboral()">Descargar reporte</button>
                </div>
                <div class="div" *ngFor="let campo of leyesLaboral; let i = index">
                    <div class="titulo" (click)="toggleSectionLey('primeraLey', i, campo.ID_MATRIZ)" [ngClass]="{'verde': isLeyVisible(i)}">
                        <div class="h3">
                            <h3>{{ campo.TIPO_NORMATIVIDAD }} {{ campo.NUMERO }} de {{ campo.ANIO }}</h3> 
                        </div>    
                        <div class="iconos">
                            <i class="fa-solid" [class.fa-angle-up]="isLeyVisible(i)" [class.fa-angle-down]="!isLeyVisible(i)"></i>
                        </div>
                    </div>
                    <div class="detalle" *ngIf="isLeyVisible(i)">
                        <ng-container *ngFor="let subCampo of campo.subLeyes; let j = index">
                            <div class="subdetalle">
                                <h2>Emitida por:</h2>
                                <p class="parrafo">{{campo.DESCRIPCION}}</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ subCampo.DOCS_ESPECIFICOS}}</p>
                                <app-app-formulario [selectedMatrizId]="subCampo.ID_MATRIZ" [idMatriz]="idMatriz"></app-app-formulario>
                            </div>
                        </ng-container>       
                    </div>
                </div>
                
                <div *ngIf="divsVisible">
                    <div class="div" id="divAdd" *ngFor="let div of divsTab3; let i = index">
                        <div *ngIf = "div.DESCRIPCION || div.SECCIONES || div.TIPO_NORMATIVIDAD || div.NUMERO || div.ANIO">
                            <div class="titulo" (click)="toggleSectionDivAdd('divAdd', i)" [ngClass]="{'verde': isDivAddVisible(i)}">
                                <div class="h3">
                                    <h3 id="tituloNormativa">{{div.TIPO_NORMATIVIDAD !== 'otro' ? div.TIPO_NORMATIVIDAD : otroValor}} {{div.NUMERO}} de {{div.ANIO}}</h3> 
                                </div> 
                                <i class="fa-solid" [class.fa-angle-up]="isDivAddVisible(i)" [class.fa-angle-down]="!isDivAddVisible(i)"></i>
                                <button (click)="eliminarDivAdd()" class="boton-eliminar">x</button>
                            </div>
                            <div class="detalle" id="detalleAdd" *ngIf="isDivAddVisible(i)">       
                                <h2>Emitida por:</h2>
                                <p class="parrafo">Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ div.DESCRIPCION }}</p>
                                <p class="parrafo">{{ div.SECCIONES }}</p>
                                <app-app-formulario></app-app-formulario>
                            </div> 
                        </div>  
                    </div>
                </div>
                  
                <ng-template #inputTemplate>
                    <div>
                      <input type="text" [(ngModel)]="nuevoDiv.anio">
                      <input type="text" [(ngModel)]="nuevoDiv.numero">
                      <textarea [(ngModel)]="nuevoDiv.descripcion"></textarea>
                      <textarea [(ngModel)]="nuevoDiv.secciones"></textarea>
                      <input type="text" [(ngModel)]="nuevoDiv.tipoNormatividad">
                    </div>
                </ng-template>
                             
                <div id="ContainerdetalleAdicionar">
                    <div class="adicionar" (click)="toggleSection('adicionarLaboral')">
                        <button class="adicionarBtn" id="adicionarRequisitoTurismo">Adicionar requisito legal +</button>
                    </div>
                    <div class="detalleAdicionar" id="detalleAdicionarRequisito" *ngIf="adicionarVisibleLaboral">
                        <form [formGroup]="tab3Form">
                                <label class="adicionarLabel">Tipo de normatividad</label>
                                <select class="adicionarInput" id="tipoNormatividadSelect" #selectOption (change)="onSelect(selectOption.value)"
                                formControlName="tipoNormatividad">
                                    <option value="" disabled selected hidden>Seleccione una opción</option>
                                    <option value="Ley">Ley</option>
                                    <option value="Decreto">Decreto</option>
                                    <option value="Decreto Ley">Decreto Ley</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                                    <label class="adicionarLabel">Otro ¿Cuál?</label>
                                    <input type="text" class="adicionarInput" id="otroInput" (input)="onOtroInputChange($event)" appLetras>
                                </div>
                                
                                <label class="adicionarLabel">Número</label>
                                <input type="number" class="adicionarInput" id="numeroInput" formControlName="numero" appNumeros> 
                                
                                <label class="adicionarLabel">Año</label>
                                <input type="number" class="adicionarInput" id="anioInput" maxlength="4" formControlName="anio" appNumeros>
                                
                                <label class="adicionarLabel">Descripción</label>
                                <textarea style="height: 100px" class="adicionarInput" id="descripcionTextAreaAdd" formControlName="descripcion"></textarea>
                                
                                <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
                                <textarea style="height: 100px" class="adicionarInput" id="seccionesTextAreaAdd" formControlName="secciones"></textarea>
                                
                                <button type="submit" class="btnAdd" (click)="agregarDiv()" [disabled]="tab3Form.invalid">Agregar</button>
                        </form>
                    </div>
                </div>
  
                <button type="button" (click)="goBack()" class="btn">Atrás</button>
            </div>
        </div>
        <div *ngSwitchCase="'tab4'">
            <div class="containerTabActual">
                <div class="reporte">
                    <button type="submit" class="btnReporte" (click)="generateReporteSocial()">Descargar reporte</button>
                </div>
                <div class="div" *ngFor="let campo of leyesSocial; let i = index">
                    <div class="titulo" (click)="toggleSectionLey('primeraLey', i, campo.ID_MATRIZ)" [ngClass]="{'verde': isLeyVisible(i)}">
                        <div class="h3">
                            <h3>{{ campo.TIPO_NORMATIVIDAD }} {{ campo.NUMERO }} de {{ campo.ANIO }}</h3> 
                        </div>    
                        <div class="iconos">
                            <i class="fa-solid" [class.fa-angle-up]="isLeyVisible(i)" [class.fa-angle-down]="!isLeyVisible(i)"></i>
                        </div>
                    </div>
                    <div class="detalle" *ngIf="isLeyVisible(i)">
                        <ng-container *ngFor="let subCampo of campo.subLeyes; let j = index">
                            <div class="subdetalle">
                                <h2>Emitida por:</h2>
                                <p class="parrafo">{{campo.DESCRIPCION}}</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ subCampo.DOCS_ESPECIFICOS}}</p>
                                <app-app-formulario [selectedMatrizId]="subCampo.ID_MATRIZ" [idMatriz]="idMatriz"></app-app-formulario>
                            </div>
                        </ng-container>    
                    </div>
                </div>
                
                <div *ngIf="divsVisible">
                    <div class="div" id="divAdd" *ngFor="let div of divsTab4; let i = index">
                        <div *ngIf = "div.DESCRIPCION || div.SECCIONES || div.TIPO_NORMATIVIDAD || div.NUMERO || div.ANIO">
                            <div class="titulo" (click)="toggleSectionDivAdd('divAdd', i)" [ngClass]="{'verde': isDivAddVisible(i)}">
                                <div class="h3">
                                    <h3 id="tituloNormativa">{{div.TIPO_NORMATIVIDAD !== 'otro' ? div.TIPO_NORMATIVIDAD : otroValor}} {{div.NUMERO}} de {{div.ANIO}}</h3> 
                                </div> 
                                <i class="fa-solid" [class.fa-angle-up]="isDivAddVisible(i)" [class.fa-angle-down]="!isDivAddVisible(i)"></i>
                                <button (click)="eliminarDivAdd()" class="boton-eliminar">x</button>
                            </div>
                            <div class="detalle" id="detalleAdd" *ngIf="isDivAddVisible(i)">       
                                <h2>Emitida por:</h2>
                                <p class="parrafo">Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ div.DESCRIPCION }}</p>
                                <p class="parrafo">{{ div.SECCIONES }}</p>
                                <app-app-formulario></app-app-formulario>
                            </div> 
                        </div>  
                    </div>
                </div>
                  
                <ng-template #inputTemplate>
                    <div>
                      <input type="text" [(ngModel)]="nuevoDiv.anio">
                      <input type="text" [(ngModel)]="nuevoDiv.numero">
                      <textarea [(ngModel)]="nuevoDiv.descripcion"></textarea>
                      <textarea [(ngModel)]="nuevoDiv.secciones"></textarea>
                      <input type="text" [(ngModel)]="nuevoDiv.tipoNormatividad">
                    </div>
                </ng-template>
                             
                <div id="ContainerdetalleAdicionar">
                    <div class="adicionar" (click)="toggleSection('adicionarSocial')">
                        <button class="adicionarBtn" id="adicionarRequisitoTurismo">Adicionar requisito legal +</button>
                    </div>
                    <div class="detalleAdicionar" id="detalleAdicionarRequisito" *ngIf="adicionarVisibleSocial">
                        <form [formGroup]="tab4Form">
                                <label class="adicionarLabel">Tipo de normatividad</label>
                                <select class="adicionarInput" id="tipoNormatividadSelect" #selectOption (change)="onSelect(selectOption.value)"
                                formControlName="tipoNormatividad">
                                    <option value="" disabled selected hidden>Seleccione una opción</option>
                                    <option value="Ley">Ley</option>
                                    <option value="Decreto">Decreto</option>
                                    <option value="Decreto Ley">Decreto Ley</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                                    <label class="adicionarLabel">Otro ¿Cuál?</label>
                                    <input type="text" class="adicionarInput" id="otroInput" (input)="onOtroInputChange($event)" appLetras>
                                </div>
                                
                                <label class="adicionarLabel">Número</label>
                                <input type="number" class="adicionarInput" id="numeroInput" formControlName="numero" appNumeros> 
                                
                                <label class="adicionarLabel">Año</label>
                                <input type="number" class="adicionarInput" id="anioInput" maxlength="4" formControlName="anio" appNumeros>
                                
                                <label class="adicionarLabel">Descripción</label>
                                <textarea style="height: 100px" class="adicionarInput" id="descripcionTextAreaAdd" formControlName="descripcion"></textarea>
                                
                                <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
                                <textarea style="height: 100px" class="adicionarInput" id="seccionesTextAreaAdd" formControlName="secciones"></textarea>
                                
                                <button type="submit" class="btnAdd" (click)="agregarDiv()" [disabled]="tab4Form.invalid">Agregar</button>
                        </form>
                    </div>
                </div>
  
                <button type="button" (click)="goBack()" class="btn">Atrás</button> 
            </div>
        </div>
        <div *ngSwitchCase="'tab5'">
            <div class="containerTabActual">
                <div class="reporte">
                    <button type="submit" class="btnReporte" (click)="generateReporteEconomico()">Descargar reporte</button>
                </div>
                <div class="div" *ngFor="let campo of leyesEconomico; let i = index">
                    <div class="titulo" (click)="toggleSectionLey('primeraLey', i, campo.ID_MATRIZ)" [ngClass]="{'verde': isLeyVisible(i)}">
                        <div class="h3">
                            <h3>{{ campo.TIPO_NORMATIVIDAD }} {{ campo.NUMERO }} de {{ campo.ANIO }}</h3> 
                        </div>    
                        <div class="iconos">
                            <i class="fa-solid" [class.fa-angle-up]="isLeyVisible(i)" [class.fa-angle-down]="!isLeyVisible(i)"></i>
                        </div>
                    </div>
                    <div class="detalle" *ngIf="isLeyVisible(i)">
                        <ng-container *ngFor="let subCampo of campo.subLeyes; let j = index">
                            <div class="subdetalle">
                                <h2>Emitida por:</h2>
                                <p class="parrafo">{{campo.DESCRIPCION}}</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ subCampo.DOCS_ESPECIFICOS}}</p>
                                <app-app-formulario [selectedMatrizId]="subCampo.ID_MATRIZ" [idMatriz]="idMatriz"></app-app-formulario>
                            </div>
                        </ng-container>           
                    </div>
                </div>
                
                <div *ngIf="divsVisible">
                    <div class="div" id="divAdd" *ngFor="let div of divsTab5; let i = index">
                        <div *ngIf = "div.DESCRIPCION || div.SECCIONES || div.TIPO_NORMATIVIDAD || div.NUMERO || div.ANIO">
                            <div class="titulo" (click)="toggleSectionDivAdd('divAdd', i)" [ngClass]="{'verde': isDivAddVisible(i)}">
                                <div class="h3">
                                    <h3 id="tituloNormativa">{{div.TIPO_NORMATIVIDAD !== 'otro' ? div.TIPO_NORMATIVIDAD : otroValor}} {{div.NUMERO}} de {{div.ANIO}}</h3> 
                                </div> 
                                <i class="fa-solid" [class.fa-angle-up]="isDivAddVisible(i)" [class.fa-angle-down]="!isDivAddVisible(i)"></i>
                                <button (click)="eliminarDivAdd()" class="boton-eliminar">x</button>
                            </div>
                            <div class="detalle" id="detalleAdd" *ngIf="isDivAddVisible(i)">       
                                <h2>Emitida por:</h2>
                                <p class="parrafo">Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ div.DESCRIPCION }}</p>
                                <p class="parrafo">{{ div.SECCIONES }}</p>
                                <app-app-formulario></app-app-formulario>
                            </div> 
                        </div>  
                    </div>
                </div>
                  
                <ng-template #inputTemplate>
                    <div>
                      <input type="text" [(ngModel)]="nuevoDiv.anio">
                      <input type="text" [(ngModel)]="nuevoDiv.numero">
                      <textarea [(ngModel)]="nuevoDiv.descripcion"></textarea>
                      <textarea [(ngModel)]="nuevoDiv.secciones"></textarea>
                      <input type="text" [(ngModel)]="nuevoDiv.tipoNormatividad">
                    </div>
                </ng-template>
                             
                <div id="ContainerdetalleAdicionar">
                    <div class="adicionar" (click)="toggleSection('adicionarEconomico')">
                        <button class="adicionarBtn" id="adicionarRequisitoTurismo">Adicionar requisito legal +</button>
                    </div>
                    <div class="detalleAdicionar" id="detalleAdicionarRequisito" *ngIf="adicionarVisibleEconomico">
                        <form [formGroup]="tab5Form">
                                <label class="adicionarLabel">Tipo de normatividad</label>
                                <select class="adicionarInput" id="tipoNormatividadSelect" #selectOption (change)="onSelect(selectOption.value)"
                                formControlName="tipoNormatividad">
                                    <option value="" disabled selected hidden>Seleccione una opción</option>
                                    <option value="Ley">Ley</option>
                                    <option value="Decreto">Decreto</option>
                                    <option value="Decreto Ley">Decreto Ley</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                                    <label class="adicionarLabel">Otro ¿Cuál?</label>
                                    <input type="text" class="adicionarInput" id="otroInput" (input)="onOtroInputChange($event)" appLetras>
                                </div>
                                
                                <label class="adicionarLabel">Número</label>
                                <input type="number" class="adicionarInput" id="numeroInput" formControlName="numero" appNumeros> 
                                
                                <label class="adicionarLabel">Año</label>
                                <input type="number" class="adicionarInput" id="anioInput" maxlength="4" formControlName="anio" appNumeros>
                                
                                <label class="adicionarLabel">Descripción</label>
                                <textarea style="height: 100px" class="adicionarInput" id="descripcionTextAreaAdd" formControlName="descripcion"></textarea>
                                
                                <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
                                <textarea style="height: 100px" class="adicionarInput" id="seccionesTextAreaAdd" formControlName="secciones"></textarea>
                                
                                <button type="submit" class="btnAdd" (click)="agregarDiv()" [disabled]="tab5Form.invalid">Agregar</button>
                        </form>
                    </div>
                </div>
  
                <button type="button" (click)="goBack()" class="btn">Atrás</button>
            </div>
        </div>
        <div *ngSwitchCase="'tab6'">
            <div class="containerTabActual">
                <div class="reporte">
                    <button type="submit" class="btnReporte" (click)="generateReporteParticular()">Descargar reporte</button>
                </div>
                <div class="div" *ngFor="let campo of leyesParticular; let i = index">
                    <div class="titulo" (click)="toggleSectionLey('primeraLey', i, campo.ID_MATRIZ)" [ngClass]="{'verde': isLeyVisible(i)}">
                        <div class="h3">
                            <h3>{{ campo.TIPO_NORMATIVIDAD }} {{ campo.NUMERO }} de {{ campo.ANIO }}</h3> 
                        </div>    
                        <div class="iconos">
                            <i class="fa-solid" [class.fa-angle-up]="isLeyVisible(i)" [class.fa-angle-down]="!isLeyVisible(i)"></i>
                        </div>
                    </div>
                    <div class="detalle" *ngIf="isLeyVisible(i)">
                        <ng-container *ngFor="let subCampo of campo.subLeyes; let j = index">
                            <div class="subdetalle">
                                <h2>Emitida por:</h2>
                                <p class="parrafo">{{campo.DESCRIPCION}}</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ subCampo.DOCS_ESPECIFICOS}}</p>
                                <app-app-formulario [selectedMatrizId]="subCampo.ID_MATRIZ" [idMatriz]="idMatriz"></app-app-formulario>
                            </div>
                        </ng-container>  
                    </div>
                </div>
                
                <div *ngIf="divsVisible">
                    <div class="div" id="divAdd" *ngFor="let div of divsTab6; let i = index">
                        <div *ngIf = "div.DESCRIPCION || div.SECCIONES || div.TIPO_NORMATIVIDAD || div.NUMERO || div.ANIO">
                            <div class="titulo" (click)="toggleSectionDivAdd('divAdd', i)" [ngClass]="{'verde': isDivAddVisible(i)}">
                                <div class="h3">
                                    <h3 id="tituloNormativa">{{div.TIPO_NORMATIVIDAD !== 'otro' ? div.TIPO_NORMATIVIDAD : otroValor}} {{div.NUMERO}} de {{div.ANIO}}</h3> 
                                </div> 
                                <i class="fa-solid" [class.fa-angle-up]="isDivAddVisible(i)" [class.fa-angle-down]="!isDivAddVisible(i)"></i>
                                <button (click)="eliminarDivAdd()" class="boton-eliminar">x</button>
                            </div>
                            <div class="detalle" id="detalleAdd" *ngIf="isDivAddVisible(i)">       
                                <h2>Emitida por:</h2>
                                <p class="parrafo">Por la cual se expide la Ley General de Turismo y se dictan otras disposiciones</p>
                                <h4 style="font-weight: bolder;" class="parrafo">ARTÍCULOS / SECCIONES / REQUISITOS ESPECÍFICOS QUE APLICAN</h4>
                                <p class="parrafo">{{ div.DESCRIPCION }}</p>
                                <p class="parrafo">{{ div.SECCIONES }}</p>
                                <app-app-formulario></app-app-formulario>
                            </div> 
                        </div>  
                    </div>
                </div>
                  
                <ng-template #inputTemplate>
                    <div>
                      <input type="text" [(ngModel)]="nuevoDiv.anio">
                      <input type="text" [(ngModel)]="nuevoDiv.numero">
                      <textarea [(ngModel)]="nuevoDiv.descripcion"></textarea>
                      <textarea [(ngModel)]="nuevoDiv.secciones"></textarea>
                      <input type="text" [(ngModel)]="nuevoDiv.tipoNormatividad">
                    </div>
                </ng-template>
                             
                <div id="ContainerdetalleAdicionar">
                    <div class="adicionar" (click)="toggleSection('adicionarParticular')">
                        <button class="adicionarBtn" id="adicionarRequisitoTurismo">Adicionar requisito legal +</button>
                    </div>
                    <div class="detalleAdicionar" id="detalleAdicionarRequisito" *ngIf="adicionarVisibleParticular">
                        <form [formGroup]="tab6Form">
                                <label class="adicionarLabel">Tipo de normatividad</label>
                                <select class="adicionarInput" id="tipoNormatividadSelect" #selectOption (change)="onSelect(selectOption.value)"
                                formControlName="tipoNormatividad">
                                    <option value="" disabled selected hidden>Seleccione una opción</option>
                                    <option value="Ley">Ley</option>
                                    <option value="Decreto">Decreto</option>
                                    <option value="Decreto Ley">Decreto Ley</option>
                                    <option value="otro">Otro</option>
                                </select>
                                <div *ngIf="selectedOption === 'otro'" class="changeOtro">
                                    <label class="adicionarLabel">Otro ¿Cuál?</label>
                                    <input type="text" class="adicionarInput" id="otroInput" (input)="onOtroInputChange($event)" appLetras>
                                </div>
                                
                                <label class="adicionarLabel">Número</label>
                                <input type="number" class="adicionarInput" id="numeroInput" formControlName="numero" appNumeros> 
                                
                                <label class="adicionarLabel">Año</label>
                                <input type="number" class="adicionarInput" id="anioInput" maxlength="4" formControlName="anio" appNumeros>
                                
                                <label class="adicionarLabel">Descripción</label>
                                <textarea style="height: 100px" class="adicionarInput" id="descripcionTextAreaAdd" formControlName="descripcion"></textarea>
                                
                                <label class="adicionarLabel">Artículos / Secciones / Requisitos específicos que aplican</label>
                                <textarea style="height: 100px" class="adicionarInput" id="seccionesTextAreaAdd" formControlName="secciones"></textarea>
                                
                                <button type="submit" class="btnAdd" (click)="agregarDiv()" [disabled]="tab6Form.invalid">Agregar</button>
                        </form>
                    </div>
                </div>
  
                <button type="button" (click)="goBack()" class="btn">Atrás</button>
            </div>
        </div>
    </div>
  </div>
</div>
<app-app-footer></app-app-footer>
<ngx-spinner></ngx-spinner>