<div id="loginContainer" class="loginContainer">
    <img src='../../../../assets/imagenes/fondo.png' class="img">
    <div class="login">
        <h1>Inicio de sesión</h1>
        <form class="formBody" [formGroup] = "loginForm" (ngSubmit)="onLogin(loginForm.value)" errorTailor>
            <label for="correo">Correo*</label>
            <input type="text" formControlName="correo" placeholder="correo@email.com">
            
            <label for="registroNacionalDeTurismo">Registro Nacional de Turismo*</label>
            <input type="text" formControlName="registroNacionalDeTurismo" placeholder="Número de RNT">
                <div class="password">
                    <label for="pass">Contraseña*</label>
                    <div class="eye">
                        <span class='iconEye' (click)="seePassword()"><i class="fas fa-eye-slash"></i></span>
                    </div>
                    <input type="password" formControlName="pass" placeholder="Ingrese contraseña" id="passLogin" class="passLogin">
                    <p class="nota1">Nota:</p>
                    <p class="nota">- Mínimo 8 caracteres y máximo 12 caracteres </p>
                    <p class="nota">- 1 Mayuscula</p>
                    <p class="nota">- 1 Minúscula</p>
                    <p class="nota">- 1 Números</p>
                    <p class="nota">- 1 Caracter especial</p>
                </div>
            <button type="submit" class="btn" routerLink="/dashboard" routerLinkActive="activebutton">Ingresar</button>
            <p class="p">¿Olvidó su contraseña? <a routerLink="" routerLinkActive="activebutton">Ingrese aquí</a></p>
            <p class="p">¿No tienes una cuenta? <a routerLink="/register" routerLinkActive="activebutton">Registrarse como prestador</a></p>
        </form>
    </div>
</div>