<div class="containerEncuesta">
    <form [formGroup]="form" class="form" (ngSubmit)="enviarFormulario()">
        <div class="encabezado">
            <h1>{{datosPreguntaEncuesta.TITULO}}</h1>
            <p class="descripcion">{{datosPreguntaEncuesta.DESCRIPCION}}</p>
            <div class="linea"></div>
            <p class="obligatorio">Todos los campos con * son obligatorios</p>
        </div>
        <div class="containerTarjetas" *ngFor="let pregunta of datosPreguntaEncuesta.MAE_ENCUESTA_PREGUNTAS; let i = index">
            <div *ngIf="pregunta.TIPO === 'respuestaCorta'" class="tipoDiv">
                <label class="descripcion">{{pregunta.DESCRIPCION}}
                    <span *ngIf="pregunta.OBLIGATORIO == true" style="color: tomato;">*</span>
                </label>
                <input type="text" placeholder="Ingresar respuesta corta" class="respuestaCorta" [formControlName]="'respuestaCorta_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA"  [required]="pregunta.OBLIGATORIO">
            </div>
            <div *ngIf="pregunta.TIPO === 'respuestaLarga'" class="tipoDiv">
                <label class="descripcion">{{pregunta.DESCRIPCION}}
                    <span *ngIf="pregunta.OBLIGATORIO == true" style="color: tomato;">*</span>
                </label>
                <textarea placeholder="Ingresar respuesta larga" class="respuestaLarga" [formControlName]="'respuestaLarga_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA" 
                [required]="pregunta.OBLIGATORIO"></textarea>
            </div>
            <div *ngIf="pregunta.TIPO === 'radioButton'" class="tipoDiv">
                <label class="descripcion">{{pregunta.DESCRIPCION}}
                  <span *ngIf="pregunta.OBLIGATORIO == true" style="color: tomato;">*</span>
                </label>
                <div *ngFor="let opcion of pregunta.VALOR.split(';')">
                  <label>
                        <input type="radio" [required]="pregunta.OBLIGATORIO" [value]="opcion" [formControlName]="'radioButton_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA"
                        (change)="toggleOtroRadio(pregunta, opcion)"> {{opcion}}
                  </label>
                </div>
                <input *ngIf="pregunta.mostrarOtroRadio" type="text" placeholder="Otro" [formControlName]="'radioButtonOtro_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA">
            </div>                                   
            <div *ngIf="pregunta.TIPO === 'checkbox'" class="tipoDiv">
                <label class="descripcion">{{pregunta.DESCRIPCION}}
                    <span *ngIf="pregunta.OBLIGATORIO == true" style="color: tomato;">*</span>
                </label>
                <div *ngFor="let opcion of pregunta.VALOR.split(';')">
                    <label>
                        <input type="checkbox" [required]="pregunta.OBLIGATORIO" [value]="opcion" [formControlName]="'checkbox_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA"
                        (change)="toggleOtroCheckbox(pregunta, opcion)">{{opcion}}
                    </label>
                </div>
                <input *ngIf="pregunta.mostrarOtroCheckbox" type="text" placeholder="Otro" [formControlName]="'checkboxOtro_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA">
            </div>
            <div *ngIf="pregunta.TIPO === 'desplegable'" class="tipoDiv">
                <label class="descripcion">{{pregunta.DESCRIPCION}}
                    <span *ngIf="pregunta.OBLIGATORIO == true" style="color: tomato;">*</span>
                </label>
                <select [formControlName]="'desplegable_' + pregunta.ID_MAE_ENCUESTA_PREGUNTA" class="select" [required]="pregunta.OBLIGATORIO">
                    <option value="" selected disabled>Seleccione una opción</option>
                    <option *ngFor="let opcion of pregunta.VALOR.split(';'); let i = index" [value]="opcion">{{opcion}}</option>
                </select>
            </div>          
        </div>
        <button class="btn" type="submit" [disabled]="form.invalid">
            <i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i> Enviar
        </button> 
    </form>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>
<app-modal></app-modal>