:host ::ng-deep .hand-pointer {
    cursor: pointer;
  }
  :host ::ng-deep .btn-nuevo{
    background: #068460;
    color: white;
    border-radius: 10px;
    height:40px;
    width: 165px;
    border: none;
    cursor: pointer;
    margin: 0.5vh 0 3vh 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    align-self: flex-end;
   
  }
 

