<app-app-header  class="indicadores-app-header" ></app-app-header>
<app-modal></app-modal>
<app-app-header2></app-app-header2>
<div class="container">
  <div class=" header-container mt-0">
    <app-app-header-arrow-left [redirectToDashboard]="true"></app-app-header-arrow-left>
    <h1>VARIABLES</h1>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-menu-medicion-kpis class="menu-oculto"></app-menu-medicion-kpis>
    </div>
    <mat-menu #menu="matMenu">
      <app-menu-medicion-kpis
        class="responsi-gerencia-menu"
      ></app-menu-medicion-kpis>
    </mat-menu>
    <div class="resposi-icon">
      <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #ffffff">
        <i class="fa-solid fa-bars" style="font-size: 20px"></i>
      </button>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
             
              <div class="form-group alinear-buscador" appearance="outline" >
                <mat-icon
                  class="search-icon hand-pointer"
                  style="color: #068460"
                  matPrefix
                  (click)="obtenerTabla()"
                  >search</mat-icon
                >
                
                <input
                  matInput
                  [(ngModel)]="filter.search"
                  class="form-control borde-input"
                  
                  placeholder="Ingresar nombre de la variable"
                />
                
              </div>
            </div>
            <div class="col-md-4">
              <div style="text-align: right">
                <button
                  class="btn-nuevo"
                  (click)="aniadirVariable(1, undefined)"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Nueva Variable
                  <i class="fa-solid fa-plus" style="color: #fff"></i>
                </button>
              </div>
            </div>
          </div>
      <br />
      <div class="mat-elevation-z8 table-responsive text-center mt-1">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">
              {{ element.NOMBRE }}
            </td>
          </ng-container>

         

          <ng-container matColumnDef="opciones">
            <th class="text-center" mat-header-cell *matHeaderCellDef>
              Opciones
            </th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <mat-icon
                matTooltip="Editar"
                style="color: #068460"
                class="text-warning margen iconos hand-pointer"
                fontIcon="edit"
                (click)="aniadirVariable(2, element)"
              ></mat-icon>
              <mat-icon
                matTooltip="Borrar"
                style="color: #068460"
                class="text-danger margen iconos hand-pointer"
                fontIcon="delete"
                (click)="eliminar(element)"
              ></mat-icon>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="mat-header-row"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <footer class="page-style">
        <div class="container-label">
          <label class="paginas">
            Página: {{ pages }} / {{ totalPaginas }} Mostrando:
            {{ dataSource.length }} Registros: {{ totalItems }}
          </label>
          <div class="ls-pagina">
            <pagination
              lastText="&raquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              previousText="&lsaquo;"
              [maxSize]="3"
              [totalItems]="totalItems"
              [itemsPerPage]="pageSize"
              [(ngModel)]="currentPage"
              [boundaryLinks]="true"
              (pageChanged)="pageChanged($event)"
              [ngClass]="{ 'page-item': true }"
            >
            </pagination>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<br />
<app-app-footer></app-app-footer>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>
