.container{
    display: flex;
    background:#068460;
    color: white;
    font-size: 48px;
    height: 48px;
    cursor: pointer;
  }

  .logo-escudo{
    width: 136px;
    height: 24px;
    margin: -3px 17px 0px 86px !important;
  } 