<app-app-header></app-app-header>

    <div class="titulo">
      <h1 class="titulo-nav">
          Lista de verificación auditoría
      </h1>
  </div>
  <div class="componente-global">
       <div class="container-form">
        <div class="grup-table-global" id="table_audit">
          <div class="grup-btn-plan">
            <button class="btn-nueva-auditoria" (click)="redirigirAVista()">Nuevo plan de Auditoría
              <i class="fa-solid fa-plus" style="color: #fff;"></i>
            </button>
          </div>
          <table class="table"  style="text-align: center !important;">
            <thead class="tr-table">
              <tr>
                <th style="text-align: center;">AUDITOR LIDER</th>
                <th style="text-align: center;">FECHA DE AUDITORIA</th>
                <th style="text-align: center;">ACTIVIDADES</th>
                <th style="text-align: center;">ACCIONES</th>             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let audit of listaAuditoria">
                <td>{{ audit.auditoR_LIDER }}</td>
                <td>{{ audit.fechA_AUDITORIA }}</td>
                <td>{{ audit.proceso }}</td>
                <td>
                  <a (click)="seleccionarAuditoria(audit)"  title="Seleccionar">
                    <i class="fa-solid fa-file-circle-check" style="color: #06543c;font-size: 19px;margin: 4px;"></i>
                  </a>
                  <!-- <a (click)="seleccionarAuditoria(audit)"  title="Eliminar">
                    <i class="fa-solid fa-trash" style="color: #06543c;font-size: 19px;margin: 4px;"></i>
                  </a> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div class="page-style">
            <div class="container-label">
              <label class="paginas">  Página: {{ pages }} / {{ totalPaginas }} Registros: {{ totalRegistros }} </label>
              <div class="ls-pagina ">
              <pagination 
                  lastText="&raquo;"
                  nextText="&rsaquo;" 
                  firstText="&laquo;" 
                  previousText="&lsaquo;" 
                  [maxSize]="3" 
                  [totalItems]="contentArray.length"
                  [itemsPerPage]="6"
                  [boundaryLinks]="true" 
                  (pageChanged)="pageChanged($event)"
                  [ngClass]="{'page-item': true}">
                </pagination> 
            </div>
            </div>
          </div>  
        </div>
       
       


        <form id="formListaDeVerficacion"  
            style="display: none;"
            [formGroup]="formParent"
            class="controller-auditoria"
            (ngSubmit)="saveFormVerificacion()">  
          <div class="plan-auditoria">
                <label class="label-auditor">Fecha de auditoría : {{this.selectedAuditoria?.fechA_AUDITORIA}} </label>
                <br>
                <label class="label-auditor">Auditor lider :{{selectedAuditoria?.auditoR_LIDER}}</label>
                <br>
                <label for="leader" class="label-auditor">Seleccionar un líder:</label>
                <select class="select-lider" (change)="selectLeader($event)" formControlName="team">
                <option  selected>Seleccionar</option>
                <option *ngFor="let leader of leaders" [value]="leader?.nombre" id="{{leader.leader}}">{{ leader.nombre }}</option>
                </select>
                <label class="label-auditor" for="cargo">Cargo:</label>
                <label class="label-auditor" id="cargo" >{{ selectedLeaderCargo }}</label>
                <br>
                <label class="label-auditor">Nombre(s) de otra(s) persona(s) auditada(s): </label>
                <input type="text" formControlName="personasAuditadas" style="margin-left: 22px;"/>
                 <br>
                <label class="label-auditor">Objetivos de auditoría: {{this.selectedAuditoria.objetivo}} </label>
                <br>
                <label class="label-auditor">Alcance de auditoría: {{this.selectedAuditoria.alcance}}</label>
                <br>
                <label class="label-auditor">Documentos de referencia: </label>
                <input type="text" formControlName="documentos" style="margin-left: 22px;"/>
                <br>
                <label class="label-auditor">Norma(s) a auditar:{{this.normaSelected}}  </label>
                <br>
                <label class="label-auditor">Proceso(s) / Actividad / Requisito a auditar: {{this.selectedAuditoria.proceso}}</label>
                <br>

                <label class="label-auditor">Criterios de auditoría : {{this.selectedAuditoria.criterio}}</label>
                <br>
    
                <!-- aqui empieza lo dinámico -->
                <div *ngIf="requisitos?.length>0">
                <div formArrayName="formRequisitos">
                  <div *ngFor="let requisito of requisitos; let i=index" [formGroupName]="i">
                    <label for="titulo" class="label-auditor">Requisito:</label>
                    <input type="text" id="titulo" formControlName="requisito">
                    <br>
                    <label for="titulo" class="label-auditor">Posible evidencia:</label>
                    <input type="text" id="titulo" formControlName="evidencia">
                    <br>
                    <div class="select-value ">
                      <label class="label-auditor">Hallazgo(s)</label>
                      <select 
                      name="select"  
                      class="select-titulo"   
                      id="selectCategoria"  
                      formControlName="hallazgo"
                      (change)="getHallazgo($event)"
                      >
                        <option value="NC" >No Conformidad</option>  
                        <option value="OBS" >Observacion</option> 
                        <option value="OM" >Oportunidad de mejora</option>  
                        <option value="F" >Fortaleza</option>  
                        <option value="C" >Conforme</option>        
                      </select>
                    </div>
                    <label for="descripcion" class="label-auditor">Observaciones o comentarios o notas de auditor :</label>
                    <textarea type="text" style="height: 61px" class="obs"
                    formControlName="observacion"></textarea>
                    <div formArrayName="formPreguntas" class="label-auditor">
                      Pregunta:
                      <div *ngFor="let pregunta of preguntasArr; let j = index" [formGroupName]="j">
                     
                          <label>Pregunta {{j+1}}:</label>
                          <input type="text" formControlName="pregunta">
                        
                      </div>
                      <button (click)="agregarPregunta($event,i,requisito)" class="button-mas">+</button>
                    </div>
                  </div>
                </div>
              </div>
               <button 
               type="button" 
               class="agregar-req"
                (click)="addRequest($event)">
                Agregar requisito
              </button>
          </div>
          <div class="div-guardar">
            <button type="submit" class="btn-guardar"  [disabled]="formParent.invalid" >Guardar</button>
             <!-- disabled="formParent.isValid" -->
          </div>
        </form>
       </div>
 
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>
