<div class="table-auditoria">
    <h3>Menú</h3>
    <div class="linea"></div>
    <table class="dropdown">
      <tbody>
        <tr>
          <td class="td-menu">
            <p class="p-menu">
              <i class="fa-solid fa-square-poll-vertical" style="font-size: 20px; margin-right: 8px;"></i> Consultar resultados de auditorias
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu" (click)="openComponent($event)" id="item-1">
              <i class="fa-solid fa-magnifying-glass" style="font-size: 20px; margin-right: 8px;"></i> Plan de auditoria
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu" (click)="openComponentLista($event)" id="item-2">
              <i class="fa-solid fa-list-check" style="font-size: 20px; margin-right: 8px;"></i> Lista de Verificación auditoria interna
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu" (click)="openComponentInforme($event)" id="item-3">
              <i class="fa-regular fa-note-sticky" style="font-size: 20px; margin-right: 8px;"></i> Informe de auditoria
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu">
              <i class="fa-regular fa-paste" style="font-size: 20px; margin-right: 8px;"></i> Programa de auditoria
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu">
              <i class="fa-solid fa-chart-line" style="font-size: 20px; margin-right: 8px;"></i> Realizar auditoria interna
            </p>
          </td>
        </tr>
        <tr>
          <td class="td-menu">
            <p class="p-menu">
              <i class="fa-regular fa-calendar-days" style="font-size: 20px; margin-right: 8px;"></i> Programar actividades de auditoria
            </p>
          </td>
        </tr>
      </tbody>
    </table>
</div>