.arrow {
    margin-left: 5rem;
}

.custom-border {
    border-right: 0.7rem solid white;
}

.custom-background {
    background-color: #c6c6c6;
    color: white;
}

.bg-color {
    background-color: lightgray;
}

.custom-progress-bar-inicio {
    background-color: #abf573;
}

.custom-progress-bar-intermedia {
    background-color: #fc3a6a;
}

.custom-progress-bar-final {
    background-color: #f5d773;
}

.disabled {
    background-color: #878787;
    border-color: #878787;
    cursor: not-allowed;
    color: white;
}
  

/* .bg-lightgray {
    background-color: lightgray;
  }
  
  .bg-red {
    background-color: #abf573;
  } */