<div class="card">
  <div mat-dialog-content>
    <a
      title="Cancelar"
      id="cerrarModal"
      style="display: flex; justify-content: flex-end; align-items: center"
      data-dismiss="modal"
      aria-label="Close"
    >
      <i
        class="fa-solid fa-circle-xmark"
        style="color: #06543c; font-size: 25px"
        (click)="cerrarDialog(2)"
      ></i>
    </a>
    <form action="" #formObjetivo="ngForm">
      <div class="ms-2">
        <h1 class="text-center">
          <strong> Asignar Recordatorio</strong>
        </h1>
      </div>
    <hr>
        <div class="row">
          <div class="col-md-12">
            
              <h2 class="subtitulo">
                <strong>Indicador:</strong> {{ modelInfo.TITULO }}
              </h2>

              <div class="detalle">
                <p><strong>Proceso:</strong> {{ modelInfo.NOMBRE_PROCESO }}</p>
                <p>
                  <strong>Responsable:</strong>
                  {{ modelInfo.NOMBRE_RESPONSABLE }}
                </p>
              </div>
          
          </div>
          <hr>
        
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="fecha">Fecha:</label>
                  <div class="form-group alinear-buscador">
                    <input
                      class="form-control"
                      [ngClass]="{
                        'required-field-error': formObjetivo.controls.indicador?.invalid && formObjetivo.controls.indicador?.touched
                      }"
                      type="text"
                      [required]="true"
                      [(ngModel)]="model.FECHA_RECORDATORIOR"
                      name="fecha"
                      [minDate]="model.HORA_RECORDATORIOR"
                      placeholder="DD-MM-YYYY"
                      maxlength="10"
                      appDateInputMask
                      placement="top"
                      tooltip="Campo Obligatorio"
                      bsDatepicker
                      #dp="bsDatepicker"
                      [bsConfig]="{
                        adaptivePosition: true,
                        dateInputFormat: ' DD-MM-YYYY'
                      }"
                    />
                    <img
                      class="calendar-picker rp-calendar hand-pointer"
                      (click)="dp.show()"
                      [attr.aria-expanded]="dp.isOpen"
                      type="button"
                      src="assets/imagenes/calendar.png"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="timepicker">Seleccionar hora:</label>
                  <timepicker
                    name="hora"
                    id="hora"
                    [(ngModel)]="model.HORA_RECORDATORIOR"
                  ></timepicker>
                </div>
              </div>
              <div class="col-md-3 text-center mt-4">
                
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="inlineCheckbox1">¿Enviar Notificación por correo?</label>
                  <input class="form-check-input"  name="correo" [(ngModel)]="model.ENVIO_CORREO" type="checkbox" id="inlineCheckbox1" value="option1">
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      
    </form>

    <div
      mat-dialog-actions
      class="d-flex justify-content-center align-items-center"
    >
      <button mat-raised-button color="warn" (click)="cerrarDialog(2)">
        Cancelar
      </button>
      <button
        mat-raised-button
        style="background-color: #068460; color: aliceblue"
        (click)="registrar()"
        [disabled]="!formObjetivo.valid"
      >
        Registrar
      </button>
    </div>
  </div>
</div>
<app-modal></app-modal>
