
<div id="registerContainer" class="registerContainer">
  <div class="registre">
    <h1>Registrar Nuevo Prestador</h1>
    <form
      class="formRegister"
      [formGroup]="registerForm"
      (ngSubmit)="saveUser()"
    >
      <label>Número de identificación tributaria</label>
      <input
        type="text"
        placeholder="Número de identificación tributaria"
        size="28"
        formControlName="numeroDeIdentificacionTributaria"
        appNumeros
      />
      <label>Registro Nacional de Turismo</label>
      <input
        type="text"
        placeholder="Registro Nacional de Turismo"
        size="28"
        formControlName="registroNacionalDeTurismo"
      />
      <div class="selectDepar">
        <div class="select-value">
          <label>Categoría RNT</label>
          <select name="select" formControlName="categoriaRnt">
            <option value="1">Guia de turismo</option>
          </select>
        </div>
        <div class="select-value">
          <label style="margin: 0px -8px 3px 21px !important"
            >Subcategoría RNT
          </label>
          <select
            name="select"
            style="margin: 0px -8px 3px 21px !important"
            formControlName="subcategoriaRnt"
          >
            <option value="1">Guia de turismo</option>
          </select>
        </div>
      </div>
      <label>Nombre del PST</label>
      <input
        type="text"
        placeholder="Nombre del PST"
        formControlName="nombreDelPst"
      />
      <label>Razón Social del PST</label>
      <input
        type="text"
        placeholder="Razón Social del PST"
        formControlName="razonSocialDelPst"
        appNumeros
      />
      <label>Correo del PST</label>
      <input
        type="email"
        placeholder="Correo del PST"
        formControlName="correo"
      />
      <label
        class="control-error"
        *ngIf="registerForm.controls['correo'].hasError('pattern')"
      >
        Debe contener un correo válido
      </label>
      <label>Telefóno del PST</label>
      <input
        type="text"
        placeholder="Telefóno del PST"
        formControlName="telefonoDelPst"
        appNumeros
      />
      <label>Nombre del representate Legal</label>
      <input
        type="text"
        placeholder="Nombre del representate Legal"
        formControlName="nombreDelRepresenteLegal"
      />
      <label class="control-error">Correo del representate Legal</label>
      <input
        type="email"
        placeholder="Correo del representate Legal"
        formControlName="correoRepresentanteLegal"
      />
      <label
        class="control-error"
        *ngIf="
          registerForm.controls['correoRepresentanteLegal'].hasError('pattern')
        "
      >
        Debe contener un correo válido
      </label>
      <label>Telefóno del Representante Legal</label>
      <input
        type="text"
        placeholder="Telefóno del Representante Legal"
        formControlName="telefonoDelRepresentanteLegal"
        appNumeros
      />
      <label>Tipo de Identificación del Representante Legal</label>
      <select
        name="select"
        formControlName="tipoDeIdentificacionDelRepresentanteLegal"
      >
        <option value="value1">Representante Legal</option>
        <option value="value2" selected>Representante Legal</option>
        <option value="value3">Representante Legal</option>
      </select>
      <label>Identificación del Representante Legal</label>
      <input
        type="text"
        placeholder="Identificación del Representante Legal"
        formControlName="identificacionDelRepresentanteLegal"
      />
      <div class="selectDepar">
        <div class="select-value">
          <label>Departamento</label>
          <select name="select" formControlName="departamento">
            <option value="value1">Departamento</option>
            <option value="value2" selected>Departamento</option>
            <option value="value3">Departamento</option>
          </select>
        </div>
        <div class="select-value">
          <label>Municipio</label>
          <select name="select" formControlName="municipio">
            <option value="value1">Municipio</option>
            <option value="value2" selected>Municipio</option>
            <option value="value3">Municipio</option>
          </select>
        </div>
      </div>
      <label>Nombre del Responsable de Sostenibilidad</label>
      <input
        type="text"
        placeholder="Nombre del Responsable de Sostenibilidad"
        formControlName="nombreDelResponsableDeSostenibilidad"
      />
      <label>Correo del Responsable de Sostenibilidad</label>
      <input
        type="email"
        placeholder="Correo del Responsable de Sostenibilidad"
        formControlName="correoDelResponsableDeSostenibilidad"
      />
      <label
        class="control-error"
        *ngIf="
          registerForm.controls[
            'correoDelResponsableDeSostenibilidad'
          ].hasError('pattern')
        "
      >
        Debe contener un correo válido
      </label>
      <label>Teléfono del Responsable de Sostenibilidad</label>
      <input
        type="text"
        placeholder="Teléfono del Responsable de Sostenibilidad"
        formControlName="telefonoDelResponsableDeSostenibilidad"
        appNumeros
      />
      <div class="contraseña">
        <div class="password-input">
          <div class="passC">
            <label for="pass">Contraseña</label>
            <div class="eye">
              <span class="iconEye" (click)="seePasswordRegister()"
                ><i class="fas fa-eye-slash"></i
              ></span>
              <input
                type="password"
                id="passRegister"
                formControlName="password1"
                required="required"
              />
            </div>
          </div>

          <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('minlength') ||
              registerForm.controls['password1'].hasError('maxlength')
            "
          >
            Debe contener mínimo 8 caracteres y máximo 12 caracteres.
          </label>
          <br />
          <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('hasNumber')
            "
          >
            Debe contener al menos 1 número.
          </label>
          <br />
          <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('hasCapitalCase')
            "
          >
            Debe contener 1 letra mayúscula.
          </label>
          <br />
          <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('hasSmallCase')
            "
          >
            Debe contener 1 letra minúscula.
          </label>
          <br />
          <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError(
                'hasSpecialCharacters'
              )
            "
          >
            Debe contener 1 caracter especial.
          </label>
        </div>
        <div class="password">
          <div class="passC">
            <label>Repetir contraseña</label>
            <div class="eye">
              <span class="iconEye" (click)="seePasswordRegister2()"
                ><i id="i" class="fas fa-eye-slash"></i
              ></span>
              <input
                type="password"
                formControlName="confirmPassword"
                required="required"
                id="passRegister2"
              />
            </div>
          </div>
          <label
            class="control-error"
            *ngIf="
              registerForm.controls['confirmPassword'].hasError(
                'NoPassswordMatch'
              )
            "
          >
            Las contraseñas deben coincidir
          </label>
        </div>
      </div>
      <div class="checkbox-container">
        <i class="checkbox-tema" (click)="openModal()"
          >Acepto y autorizo el uso de mis datos por parte de MinCIT y Fontur</i
        >
      </div>
      <div class="button-container">
        <button type="submit" class="btn" [disabled]="registerForm.invalid">
          Guardar
        </button>
      </div>
      <div id="modalTerminos" style="width: 100vw">
        <div class="content-fluid" title="tERMINOS Y CONDICIONES">
          <section class="modal-content">
            <h2>Política de tratamiento de datos</h2>
            <p>
              ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </p>
            <div class="forma-label-sin-izquierda col-xs-12 col-md-12">
              <input
                class="checkbox"
                type="checkbox"
                formControlName="checkbox"
              />
              <label class="forma-label col-xs-12 col-md-9"
                >He leído la política de tratamiento de datos</label
              >
            </div>
            <div class="button-container-2">
              <button class="btn" (click)="closeModal()">Aceptar</button>
            </div>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
