
<app-app-header></app-app-header> 
<div id="registerContainer" class="registerContainer">
  <div class="registre">
    <h1>Registrar Nuevo Prestador</h1>
    <form
      class="formRegister"
      [formGroup]="registerForm"
      (ngSubmit)="saveUser()"
    >
    <div class="registro">
      <label>Número de identificación tributaria</label>
      <input
        type="text"
        placeholder="Número de identificación tributaria"
        size="28"
        formControlName="numeroDeIdentificacionTributaria"
        appNumeros
      />
      <label>Registro Nacional de Turismo</label>
      <input
        type="text"
        placeholder="Registro Nacional de Turismo"
        size="28"
        formControlName="registroNacionalDeTurismo"
        appNumeros
      />
      <div class="selectDepar select-botton">
        <div class="select-value ">
          <label>Categoría RNT</label>
          <select name="select" id="selectCategoria"  formControlName="categoriaRnt" (change)="onLoadCategory($event)" >
            <option value="" selected>Seleccionar categoría</option>
            <option *ngFor="let element of data" [ngValue]="element">{{element.name}}</option>
          </select>
        </div>
        <div class="select-value select-margin margin-div">
          <label class="padding-label"
            >Subcategoría RNT
          </label>
          <select
            name="select"
            id="1"
            formControlName="subcategoriaRnt"
          >  
          <option value="" selected>Seleccionar subcategoría</option>
          <option *ngFor="let element of arrAgency"[ngValue]="element">{{element.name}}</option>
          </select>
        </div>
      </div>
      <label>Nombre del PST</label>
      <input
        type="text"
        placeholder="Nombre del PST"
        formControlName="nombreDelPst"
      />
      <label>Razón Social del PST</label>
      <input
        type="text"
        placeholder="Razón Social del PST"
        formControlName="razonSocialDelPst"
        
      />
      <label>Correo del PST</label>
      <input
        type="email"
        placeholder="Correo del PST"
        formControlName="correo"
      />
      <label
        class="control-error textDanger"
        *ngIf="registerForm.controls['correo'].hasError('pattern')"
      >
        Debe contener un correo válido
      </label>
      <br>
      <label>Teléfono del PST</label>
      <!-- <input
        type="text"
        maxlength="10" 
        placeholder="Teléfono del PST"
        formControlName="telefonoDelPst"
        appNumeros
      /> -->
      <input type="text" [formControl]="telefono"  maxlength="10"  appNumeros placeholder="Ingresa tu número de teléfono">
      <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
      <!-- <div *ngIf="telefono.errors.required">
    El número de teléfono es requerido.
  </div> -->
  <div *ngIf="telefono.errors.pattern" class="control-error textDanger">
    Ingresa un número de teléfono válido con 10 dígitos.
  </div>
</div>
      <label>Nombre del representate Legal</label>
      <input
        type="text"
        placeholder="Nombre del representate Legal"
        formControlName="nombreDelRepresenteLegal"
      />
      <label class="control-error">Correo del representate Legal</label>
      <input
        type="email"
        placeholder="Correo del representate Legal"
        formControlName="correoRepresentanteLegal"
      />
      <label
        class="control-error textDanger"
        *ngIf="
          registerForm.controls['correoRepresentanteLegal'].hasError('pattern')
        "
      >
        Debe contener un correo válido
      </label>
      <br>
      <label>Teléfono del Representante Legal</label>
      <input
        type="text"
        maxlength="10" 
        placeholder="Teléfono del Representante Legal"
        formControlName="telefonoDelRepresentanteLegal"
        appNumeros
      />
      <div class="select-botton">
        <label>Tipo de Identificación del Representante Legal</label>
        <select
          name="select"
          formControlName="tipoDeIdentificacionDelRepresentanteLegal"
        >
          <option value="value1" >Cédula de Ciudadanía</option>
          <option value="value2" >Cédula de Extranjería</option>
          <option value="value3" >Pasaporte</option>
          <option value="value4" >Documento Nacional de Identidad</option>
        </select>
      </div>
      
      <label>Identificación del Representante Legal</label>
      <input
        type="text"
        placeholder="Identificación del Representante Legal"
        formControlName="identificacionDelRepresentanteLegal"
      />
      <div class="selectDepar select-botton">
        <div class="select-value">
          <label>Departamento</label>
          <select  id="selectDepartment" name="select" formControlName="departamento" (change)="setDepartments($event)">
          </select>
        </div>
        <div class="select-value select-margin margin-div padding-label">
          <label>Municipio</label>
          <select id="selectMunicipality" name="select" formControlName="municipio">
            <option></option>
          </select>
        </div>
      </div>
      <label>Nombre del Responsable de Sostenibilidad</label>
      <input
        type="text"
        placeholder="Nombre del Responsable de Sostenibilidad"
        formControlName="nombreDelResponsableDeSostenibilidad"
      />
      <label>Correo del Responsable de Sostenibilidad</label>
      <input
        type="email"
        placeholder="Correo del Responsable de Sostenibilidad"
        formControlName="correoDelResponsableDeSostenibilidad"
      />
      <label
        class="control-error textDanger"
        *ngIf="
          registerForm.controls[
            'correoDelResponsableDeSostenibilidad'
          ].hasError('pattern')
        "
      >
        Debe contener un correo válido
      </label>
      <br>
      <label>Teléfono del Responsable de Sostenibilidad</label>
      <input
        type="text"
        maxlength="10" 
        placeholder="Teléfono del Responsable de Sostenibilidad"
        formControlName="telefonoDelResponsableDeSostenibilidad"
        appNumeros
      />
      <div class="contraseña">
        <div class="password">
          <label for="pass">Contraseña</label>
          <div class="eye">
            <span class='iconEye' (click)="seePasswordRegister()"><i class="fas fa-eye-slash"></i></span>
        </div>
        <input type="password" formControlName="password1" placeholder="Ingrese contraseña" id="passRegister" required="required" class="passLogin">


            <label 
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('minlength') ||
              registerForm.controls['password1'].hasError('maxlength')">
          <div style="margin-top: 0;">
            Debe contener mínimo 8 caracteres y máximo 12 caracteres.
          </div>
            
          </label>
 
            <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('hasNumber')">
            <div style="margin-top: 0;">
              Debe contener al menos 1 número.
            </div>
         
          </label>
         
            <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('hasCapitalCase')">
          <div style="margin-top: 0;">
            Debe contener 1 letra mayúscula.
          </div>
           
          </label>
         
            <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError('hasSmallCase') ">
          <div style="margin-top: 0;">
          Debe contener 1 letra minúscula.
          </div>
          
          </label>

            <label
            class="textDanger"
            *ngIf="
              registerForm.controls['password1'].hasError('required') ||
              registerForm.controls['password1'].hasError(
                'hasSpecialCharacters')">
          <div style="margin-top: 0;">
            Debe contener 1 caracter especial.
          </div>
            
          </label>
        </div>
 
        <div class="password">
          <label for="pass">Repetir contraseña</label>
          <div class="eye">
            <span class='iconEye' (click)="seePasswordRegister2()"><i class="fas fa-eye-slash"></i></span>
        </div>
        <input type="password" formControlName="confirmPassword" required="required" placeholder="Ingrese contraseña" id="passRegister2" class="passLogin">

          <label
            class="control-error"

            *ngIf="
              registerForm.controls['confirmPassword'].hasError(
                'NoPassswordMatch'
              )
            "
          >

            Las contraseñas deben coincidir
          </label>
        </div>
      </div>
      <div class="checkbox-container">
        <i class="checkbox-tema" (click)="openModal()">Acepto y autorizo el uso de mis datos por parte de MinCIT y Fontur
          </i>
      </div>
      <div class="button-container">
        <button type="submit" class="btn" [disabled]="registerForm.invalid" >
          Guardar
        </button>
      </div>
    </div>
    </form>
    <div id="modalTerminos" style="width: 100vw">
      <div class="content-terminos" title="TERMINOS Y CONDICIONES">
        <section class="modal-content">
          <h2 class="datos">Política de tratamiento de datos</h2>
          <p class="terminos">
            Acepto y autorizo el uso de mis datos personales por 
            Innovación Empresarial Isoluciones SAS, los cuales 
            serán tratados de acuerdo con la política de tratamiento 
            de datos de Innovación Empresarial Isoluciones SAS, la cual puede 
            consultar en: 
          </p>
          <a class="enlace" href="http://drive.google.com/file/d/1VOCQrTfuhWNpcZuLRQlRs-ZbH8BDDGJ_/view?usp=sharing">Política de protección de datos personales</a>
          <div class="forma-label-sin-izquierda ">
            <input
              class="checkbox"
              type="checkbox"
              formControlName="checkbox"
              (click)="change($event)"
            />
            <label class="checkbox-datos"
              >He leído la política de tratamiento de datos</label
            >
          </div>
          <div class="button-container-2">
            <button class="btn" (click)="closeModal($event)" id="btnAceptar" disabled>Aceptar</button>
          </div>
        </section>
      </div>
    </div>
    <app-app-modal-success></app-app-modal-success>
  </div>
</div> 
<app-app-footer></app-app-footer>
