.registre{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .registerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 77px; */
    margin: 15px;
    
 }
 .registro{
    width: 100%;
  }
.margin-div{
    margin-left: 10px;
}
  .padding-label{
    padding-left: 4px;
  }
 .register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    border: none;
    padding: 3rem;
    width: 28vw;

 }
 .formRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 17px;
    align-items: center;
 }

 .formRegister input, select{ 
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 40px;
    width: 754px;
    margin: 2px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

select{
    width: 100% !important;
}


.formRegister label {
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #474749;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #068460;
    display: flex;
    justify-content: center;
    margin: 71px 6px 10px;
 }
 
 .label {
    margin: 10px 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #474749;
    margin: 5px 0 15px 0;
}



input{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
    height: 16px;
    width: 323px;
    padding: 4px;
    margin-top: 9px; 
}

 .p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #474749;
}

::placeholder{
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #999999;
}

/* .eye{
    display: flex;
    align-items:center;
    position: relative;
    justify-content: center;
  }
  .iconEye{
    color: #068460;
    position: absolute;
    right: 5px;
    margin: 5px;
    cursor: pointer;
    margin-top: 8px;
  } */

.password{
    display: flex;
    flex-direction: column;
}
.eye{
    position: relative;
    display: inline-block;
  }
.iconEye{
    color: #068460;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 2.5vh 3vw 0 0;
  }




  .nota{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #474749;
    font-weight: bold;
}

.textDanger{
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    color: #474749;
    font-weight: bold;
}
/* .textDanger{
    margin-bottom: 30px;
}
.textDanger label{
    margin-top: 10px;
} */
.formRegister label, .control-error{
    /* margin: 5px 0 8px 0; */
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #474749;
}
.control-error{
    margin: 3px 5px 7px 0px !important;
}

input.ng-invalid.ng-touched {
    border: solid 2px tomato !important;
    border-radius: 10px;
  }

  input.ng-valid,select.ng-valid{
    border: solid 2px #068460 !important;
    border-radius: 10px;
  }

  .formRegister input{
    /* margin: 3px 0 8px 0; */
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px 0 15px 0;
    /* height: 40px; */
    width: 100%;
    padding: 5px;
}

.selectDepar{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 16px;
}


.select-value{
    width: 50%;
    flex-direction:column;   
}

.contraseña{
    display: flex;
    flex-direction:column;
    width: 100%; 
    justify-content: space-between;
}

/* .password {
    margin-top: 10px;
} */
/* .password-input{
    flex-direction:column;   
} */

.passC{
    width: 100% !important; 
}

.btn{
    display: flex;
    justify-content: space-around;
    margin: 60px 0 15px 0;
    height: 35px;
    width: 165px;
    padding: 5px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:disabled{
    background-color: #999999;
    color: #000000;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start;
    column-gap: 12px;
    
}

.checkbox-container > i {
    text-decoration: underline;
}
.checkbox-container > .checkbox{
    width: 20px;
    height: 20px;
   
} 
.checkbox-tema{
    margin: 25px 5px 7px 0px !important;
}
.button-container{
    display: flex;
    flex-direction:row;
    width: 100%; 
    justify-content:center;
}
#modalTerminos{
    display: none;
}
#modalTerminos.active{
  display: block;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}

#modalTerminos.active>.content-terminos{
    background-color: white;
    border: 1px solid orange;
    width: 723px;
    height: 483px;
    display: flex;
    margin: 5% auto;
    justify-content: center;
    border-radius: 15px;
}

#modalTerminos.active>.content-terminos>.modal-content{
    color: #474749;
    padding-top: 58px;
    width:600px;
   
}
#modalTerminos.active>.content-terminos>.modal-content>.forma-label-sin-izquierda {
    font: bold 12px helvetica;
    text-align: left;
    color: #4D4C4D;
    vertical-align: bottom;
    display: flex;
    padding: 1px 0px 1px 0px !important;
    column-gap: 9px;
    margin-top:22px;
}

#modalTerminos.active>.content-terminos>.modal-content>.forma-label {
    font: bold 12px helvetica;
    text-align: left;
    color: #666;
    vertical-align: bottom;
    display: inline-block;
    padding: 1px 0px 1px 20px !important;
}
#modalTerminos.active>.content-terminos>.modal-content>.forma-label-sin-izquierda>.checkbox {
   width: 20px!important;
   height:  20px!important;
   margin: 0px;
}

.button-container-2{
    display: flex;
    justify-content:center;
}

.terminos{
    font-family:'Work Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.content-terminos{
    display: flex; 
    justify-content: center;
}

.datos{
    margin: 25px 5px 19px 146px ;
    font-size: 16px;
    font-family:'Work Sans', sans-serif;
}

.checkbox-datos{
    font-family:'Work Sans', sans-serif;
    font-size: 16px;
}
 @media(max-width: 480px) {
     .selectDepar{
        display: flex;
        flex-direction:column;
        align-items: stretch;
    } 
    #modalTerminos.active>.content-terminos{
        width: 330px;
        display: flex;
        margin: 22% auto;
        padding: 0px 16px;
   }

   .datos{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    
}
.terminos{
    font-size: 14px;
    margin: 10px;
}
.enlace {
    font-family:'Work Sans', sans-serif;
    margin: 9px;
    color: red !important;
    text-decoration:double !important;
    
}
.registre{
    width: 90vw;

 }

 .select-margin{
    padding-top: 16px;
}

.select-botton{
    padding-bottom: 16px;
}

.padding-label{
    padding-left: 0px;
  }

  .select-value{
    width: 100%;
 
}

.margin-div{
    margin-left: 0px;
}
}