<app-app-header class="encuesta-app-header"></app-app-header>
<div class="containerEncuesta">
    <div class="titulo">
        <h1>{{ editandoEncuesta ? 'Actualizar encuesta' : 'Crear encuesta' }}</h1>
        <app-app-header-arrow-left></app-app-header-arrow-left>
    </div>
    <div class="encuesta">
        <!-- <app-menu-corto  class="menu-corto menu collapse navbar-collapse"  [ngClass]="{ 'mostrar-notificaciones': mostrarNotificacion }"[collapse]="isCollapsed"></app-menu-corto>
        <div class="resposi-icon">
            <i class="fa-solid fa-bars navbar-toggle collapsed" style="color: #ffffff;font-size: 20px;" (click)="isCollapsed = !isCollapsed"></i>
        </div> -->
        <app-menu-corto class="menu"></app-menu-corto>
        <div class="row containerForm">
            <button class="compartir" (click)="compartirEncuesta()" *ngIf="!editandoEncuesta">
                <i class="fa-solid fa-share-nodes" style="color: #ffffff;"></i> Compartir encuesta
            </button>  
            <button class="compartir" (click)="compartirEncuestaEditar()" *ngIf="editandoEncuesta">
                <i class="fa-solid fa-share-nodes" style="color: #ffffff;"></i> Compartir encuesta
            </button> 
            <form class="form" [formGroup]="formEncuesta">                                   
                <p class="p">{{ editandoEncuesta ? 'Ingresa los datos para actualizar la encuesta' : 'Ingresa los datos para crear una encuesta nueva'}}</p>
                <div class="encabezado">
                    <input type="text" class="tituloInput" (ngModelChange)="Obtenertitulo($event)" placeholder="Título de la encuesta" formControlName="tituloEncuesta">
                    <input type="text" class="descripcion"  (ngModelChange)="Obtenertitulo($event)" placeholder="Descripción de la encuesta" formControlName="descripcionEncuesta">
                </div>
                <div class="containerTarjetas">
                    <app-app-tarjetas [tituloEditar]="tituloEditar" [descripcionEditar]="descripcionEditar" [id]="0" 
                    (tarjetaCompletada)="guardarRespuesta($event, 0)" 
                    [editandoEncuesta]="editandoEncuesta" [valoresPreguntas]="valoresPreguntas" [datosPreguntaEncuesta]="datosPreguntaEncuesta" 
                    ></app-app-tarjetas>
                    <div class="botones" *ngIf="!editandoEncuesta">
                        <button class="agregar" id="agregarTarjetaPrimera" (click)="agregarTarjeta()">
                           <i class="fa-solid fa-plus" style="color: #068460;"></i> Agregar
                       </button> 
                   </div>
                </div>
                <div class="containerTarjetas" *ngFor="let tarjeta of tarjetas; let i = index">
                    <app-app-tarjetas [tituloEditar]="tituloEditar" [descripcionEditar]="descripcionEditar" [id]="tarjeta.id" [index]="i+1" (eliminarTarjeta)="eliminarTarjeta(i)" 
                    (tarjetaClicada)="agregarTarjeta(i)" (tarjetaCompletada)="guardarRespuesta($event, i+1)" [valoresPreguntas]="valoresPreguntas" 
                    [editandoEncuesta]="editandoEncuesta" [datosPreguntaEncuesta]="datosPreguntaEncuesta"></app-app-tarjetas>
                    <div class="botones" *ngIf="!editandoEncuesta">
                        <button class="agregar" id="agregarTarjetas" (click)="eliminarTarjeta(i)">
                            <i class="fa-solid fa-trash" style="color: #068460;"></i> Eliminar
                        </button>
                        <button class="agregar" (click)="agregarTarjeta(i)">
                            <i class="fa-solid fa-plus" style="color: #068460;"></i> Agregar
                        </button> 
                    </div>
                </div>
                <button class="btn" type="submit" *ngIf="!editandoEncuesta" (click)="saveEncuesta()"
                [disabled]="!formEncuesta.valid || !tarjetaCompleta">
                    <i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i> Guardar
                </button>                                                   
            </form>
        </div>
    </div>
</div>
<app-app-footer></app-app-footer>
<app-modal></app-modal>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner> 