<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="http://tu_servidor/iconos/favicon.ico">
</head>
<body>
  <app-app-header></app-app-header>
<div class="container">
 <div class="container-norma" *ngIf="!newUser">
    <div class="norma-opcion">
      <select  class="select-norma" name="select" *ngIf="arrNormas.length > 0"   >    
        <option 
          value="1" 
          *ngFor="let element of arrNormas"
          id="selectNorma"
          [selected]="element.norma===normaSelected">
          {{element.norma}}
        ​</option>
      </select>
  </div>
</div>
</div>
<div class="button-cerrar">
  <p routerLink="">Cerrar Sesión</p>
</div>
<div class="grid-img">
  <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
    <img src="../../../../assets/img-dashboard/caracterizacion.svg"
     alt="caracterizacion" id="caracterizacion" style="width: 70px;">
     <p id="p-caracterizacion" class="sub-titulo">CARACTERIZACIÓN</p>
  </div>
  <div class="item-img"  (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">    
    <img src="../../../../assets/img-dashboard/diagnostico.svg"
     alt="diagnostico" style="width: 70px;">
     <p class="sub-titulo">DIAGNÓSTICO</p>
  </div>
    <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/planificacion.svg"
       alt="planificacion" style="width: 70px;">

       <p class="sub-titulo">PLANIFICACIÓN</p>
    </div>
    <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/documentacion.svg"
       alt="documentacion" style="width: 70px;">
       <p class="sub-titulo">DOCUMENTACIÓN</p>
    </div>
    <div class="item-img"  (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/cronograma.svg"
       alt="cronograma" style="width: 70px;">
       <p class="sub-titulo">CRONOGRAMA</p>
    </div>
    <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/formacion.svg"
       alt="formacion" style="width: 70px;">
       <p class="sub-titulo">FORMACIÓN</p>
    </div>
    <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/medicion.svg"
       alt="medicion" style="width: 70px;">
       <p class="sub-titulo">MEDICIÓN</p>
    </div>
    <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/noticias.svg"
       alt="noticias" style="width: 70px;">
       <P class="sub-titulo">NOTICIAS</P>
    </div>
    <div class="item-img" (click)="menuFilter($event)" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
      <img src="../../../../assets/img-dashboard/gerencia.svg"
       alt="gerencia" style="width: 70px;">
       <p class="sub-titulo">GERENCIA</p>
    </div> 
</div>
</body>
</html>
<app-modal></app-modal>

