<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="http://tu_servidor/iconos/favicon.ico">
</head>
<body>
<div class="container">
 <div class="logo-escudo">
 <img src="../../../../assets/img-dashboard/logo.svg" alt="" (click)="Logo()">
 </div> 
  <div>
    <button class="idioma-icon-barra-superior-govco float-right" aria-label="Button to change the language of the page to English">EN</button>
  </div>
</div>
<div class="button-cerrar">
  <p routerLink="">Cerrar Sesión</p>
</div>
<div class="grid-img">
  <div class="item-img" (click)="menuFilter($event)">
    <img src="../../../../assets/img-dashboard/caracterizacion-1.svg"
     alt="caracterizacion" value="caracterizacion" style="width: 120px;" >
     <p class="sub-titulo">CARACTERIZACIÓN</p>
  </div>
  <div class="item-img" (click)="menuFilter($event)">
    <img src="../../../../assets/img-dashboard/diagnostico-1.svg"
     alt="diagnostico" style="width: 120px;">
     <p class="sub-titulo">DIAGNÓSTICO</p>
  </div>
    <div class="item-img" (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/planificacion-1.svg"
       alt="planificacion" style="width: 120px;">
       <P class="sub-titulo">PLANIFICACIÓN</P>
    </div>
    <div class="item-img" (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/documentacion-1.svg"
       alt="documentacion" style="width: 120px;">
       <P class="sub-titulo">DOCUMENTACIÓN</P>
    </div>
    <div class="item-img"  (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/cronograma-1.svg"
       alt="cronograma" style="width: 120px;">
       <P class="sub-titulo">CRONOGRAMA</P>
    </div>
    <div class="item-img" (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/formacion-1.svg"
       alt="formacion" style="width: 120px;">
       <P class="sub-titulo">FORMACIÓN</P>
    </div>
    <div class="item-img" (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/medicion-1.svg"
       alt="medicion" style="width: 120px;">
       <P class="sub-titulo">MEDICIÓN</P>
    </div>
    <div class="item-img" (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/noticias-1.svg"
       alt="noticias" style="width: 120px;">
       <P class="sub-titulo">NOTICIAS</P>
    </div>
    <div class="item-img" (click)="menuFilter($event)">
      <img src="../../../../assets/img-dashboard/gerencia-1.svg"
       alt="gerencia" style="width: 120px;">
       <P class="sub-titulo">GERENCIA</P>
    </div> 
</div>

</body>
</html>

