.password-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
}

.password-toggle i {
  font-size: 1.25rem;
}

/* .item-1:active{
  background-color: green;
} */
.grid-img {
  justify-items: center;
  margin: 1vh 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /*grid-gap: 40px;
   gap: 1vw; */
  justify-content: center;
  align-content: center;
  cursor: pointer;
  height: 91vh;
  width: 75vw;
  column-gap: 20px;
  row-gap: 20px;
}

.item-1 {
  cursor: pointer;
}

.item-img {
  height: 15vh;
}

.item-img i {
  font-size: 4.5vw;
}

.item-img-sinHover i {
  font-size: 4.5vw;
}

.item-img:hover i {
  font-size: 6vw;
}

.sub-titulo:hover {
  font-family: 'Work Sans', sans-serif;
  color: #068460;
  font-weight: bold;
}

.sub-titulo-sinHover {
  color: #9999 !important;
}

.sub-titulo,
.sub-titulo-sinHover {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: #068460;
  margin: 1vh 0 0 -0.4vw !important;
  text-align: center;
}

.button-cerrar {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  margin: 6vh 6vw 6vh 0 !important;
  cursor: pointer;
  align-self: flex-end;
}

.button-cerrar:hover {
  font-weight: bold;
}

.logo-escudo {
  width: 136px;
  height: 24px;
  margin: -3px 17px 0px 86px !important;
}

.item-img,
.item-img-sinHover {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}

.container-norma {
  display: flex;
  flex-direction: column;
  margin: -9vh 10vw 0 0;
  position: absolute;
}

.select-norma {
  color: #068460;
  height: 27px;
  width: 350px;
  border-radius: 5px;
}

.historial-fa-clock {
  font-size: 20px;
  margin: -6vh 1vw 0 -4vw;
  position: absolute;
  cursor: pointer;
}

.containerDashboard {
  display: flex;
  height: 91vh;
  width: 100vw;
}

.mainContainer {
  /* background-color: var(--color-wallpaper, #f6f8f9); */
  display: flex;
  width: 100vw;
  height: 91vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 91vh;
}

.notificaciones {
  display: flex;
  width: 20vw;
  height: 91vh;
  align-items: flex-start;
  background-color: #068460;
  font-family: 'Work Sans', sans-serif;
  justify-content: center;
  flex-direction: column;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin: 1vh 0 0.5vh 0
}

.tituloNot,
.tituloRec {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */
  margin: 0 2vw 0 0;
}

/* .tituloNot::-webkit-scrollbar {
  width: 3px;
}
.tituloNot::-webkit-scrollbar-track {
  background-color: #dddddd;
}
.tituloNot::-webkit-scrollbar-thumb {
  background-color: #888888;
}
.tituloRec::-webkit-scrollbar {
  width: 3px;
}
.tituloRec::-webkit-scrollbar-track {
  background-color: #dddddd;
}
.tituloRec::-webkit-scrollbar-thumb {
  background-color: #888888;
} */
.not1,
.not22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.not2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.verMas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vh 0;
  margin-top: auto;
}

.a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.linea {
  border-top: 2px solid white;
  width: 15vw;
}

.lineaTarjeta {
  border-top: 1px solid rgb(197, 197, 197);
  height: 2px;
  width: 10vw;
  padding: 0;
  margin: 0 0.2vw 0 0.2vw;
}

.containerTarjeta,
.containerTarjetaRec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: auto;
  margin: 1vh 0 0 2vw;
}

.containerTarjetaRec {
  margin-left: 2.3vw !important;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 1vh; */
}

.imagenTarjeta,
.imagenTarjetaRec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 9vh;
  background-color: white;
}

.imagenTarjetaRec,
.contRec {
  height: 5vh !important;
}

.contRec {
  width: 15vw !important;
}

.cont,
.contRec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 14vw;
  height: 9vh;
  background-color: white;
  padding: 3px;
  cursor: pointer;
}

.imagenTarjeta img,
.imagenTarjetaRec img {
  max-width: 100%;
  max-height: 100%;
}

.pTarjeta,
.pTitulo {
  margin: 0;
  font-size: 10px;
}

.pTitulo {
  text-align: center;

}

.cont {
  max-height: 100px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-container {
  /* padding: 0 !important;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header,
.modal-body {
  /* display: flex;
  justify-content: flex-end;
  padding: 0 !important; */

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 25px;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  color: #06543c;
  cursor: pointer;
  margin-bottom: 14px;
}

.modal-body {
  padding-top: 9px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-modal {
  cursor: pointer !important;
  padding: 12px 24px;
  margin: 5px;
  height: 60px;
  width: 240px;
  background-color: #068460;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-in-out;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-modal:hover {
  background-color: #057551;
  cursor: pointer;
}

.btn-modal:disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
}

.disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
  pointer-events: none;
  /* Evita interacciones del usuario */

}

label {
  font-weight: 100;
  padding: 15px;
}

.oculto {
  display: none;
}
h4 {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin: 1vh 0 0.5vh 0
}
.close {
  display: none;
}

/* .fa-clock {
  display: block;
} */

.container-header {
  display: none;
}

/* Estilos para pantallas pequeñas */

@media (max-width: 768px) {
 
  .custom-app-header .container {
      padding-left: 1px;
    }

    .custom-app-header .container-pst {
      display: none;
    }
  
  
  /* NOTICIAS */
  .cont {
      width: 63vw !important;
    }

    .imagenTarjeta img, .imagenTarjetaRec img {
      max-width: 70%;
      max-height: 98%;
      margin-left: 5px;
  }

  .containerTarjeta, .containerTarjetaRec{
    margin: 2vh 0 0 7vw;
  }
  
  .historial-fa-clock {
    display: none;
  }

  .header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-header {
    width: 95%;
    top: 17px;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    flex-direction: row;
  }

  .navbar-toggle {
    padding: 0;
    margin-right: 15px;
    margin-top: 0;
    position: relative;
  }

  .button-cerrar {
    display: block;
    /* margin: -1vh 6vw 6vh 0 !important; */
    margin: 25vh 6vw 6vh 0 !important;
  }

  .container-norma {
    display: none !important;
  }

  .notificaciones {
    position: absolute;
    right: 0;
    width: 98%;
    height: auto;
    background-color: #a09a9a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
  }

  .notificaciones h3 {
    font-size: 20px;
  }

  .notificaciones .imagenTarjeta {
    width: 11vw;
  }

  .imagenTarjeta img,
  .imagenTarjetaRec img {
    max-width: 54%;
    max-height: 98%;
  }

  .cont {
    width: 37vw;
  }

  .dashboard {
    width: 100%;
  }
.closeValidacion{
  margin-top: 66px ;
}
  .close {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 91vh;
    justify-content: flex-end;
    opacity: 2;
    font-weight: 100;
    text-shadow: none;
  }

  .close p:hover {
    font-weight: bold;
  }

  .close p {
    margin-top: 115px;
    padding: 7px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: black;
  }

  .grid-img {
    padding: 1px;
    height: auto;
    width: 100%;
    margin: 1px;
    grid-template-columns: repeat(2, 1fr);
    /* Cambiar a 2 columnas */
    row-gap: 10px;
    column-gap: 10px;
    gap: 19px;
  }

  .item-img i,
  .item-img-sinHover i {
    font-size: 3rem;
    /* Reducir el tamaño de fuente */
  }
}

/* Otros ajustes de estilo para pantallas pequeñas */
@media (max-width: 675px) {
  .custom-app-header 
    .container {
      /* background-color: #ffcc00; */
      padding-left: 1px;
    }
  

  .header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imagenTarjeta img,
  .imagenTarjetaRec img {
    max-width: 95%;
    max-height: 98%;
  }

  .container-header {
    width: 86%;
    top: 17px;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    flex-direction: row;
  }

  /* tarjetas de noticias  */
  .containerTarjeta,
  .containerTarjetaRec {
    width: 100%;
  }
  .containerTarjeta, .containerTarjetaRec{
    margin: 2vh 0 0 2vw;
  }

  .cont {
    width: 72vw;
  }
}

@media (max-width: 430px) {

  .imagenTarjeta img,
  .imagenTarjetaRec img {
    max-width: 90%;
    max-height: 98%;
  }
}