
.password-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
}

.password-toggle i {
  font-size: 1.25rem;
}

/* .item-1:active{
  background-color: green;
} */
.grid-img {
  justify-items: center;
  margin: 1vh 0;
  
  
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /*grid-gap: 40px;
   gap: 1vw; */
  justify-content: center;
  align-content: center;
  cursor: pointer;
  height: 72vh;
  width: 65vw;
  column-gap: 10px;
  row-gap: 5px;
  
}

.item-1 {
  cursor: pointer;
}

.item-img {
  height: 15vh;
}

.item-img i {
  font-size: 4.5vw;
}

.item-img-sinHover i {
  font-size: 4.5vw;
}

.item-img:hover i {
  font-size: 6vw;
}

.sub-titulo:hover {
  font-family: 'Work Sans', sans-serif;
  color: #068460;
  font-weight: bold;
}

.sub-titulo-sinHover {
  color: #9999 !important;
}

.sub-titulo,
.sub-titulo-sinHover {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: #068460;
  margin: 1vh 0 0 -0.4vw !important;
  text-align: center;
}

.button-cerrar {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  margin: 6vh 6vw 6vh 0 !important;
  cursor: pointer;
  align-self: flex-end;
}

.button-cerrar:hover {
  font-weight: bold;
}

.logo-escudo {
  width: 136px;
  height: 24px;
  margin: -3px 17px 0px 86px !important;
}

.item-img,
.item-img-sinHover {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.container-norma {
  display: flex;
  flex-direction: column;
  margin: -9vh 30vw 0 0;
  position: absolute;
}

.select-norma {
  color: #068460;
  height: 27px;
  width: 350px;
  border-radius: 5px;
}

.historial-fa-clock {
  font-size: 20px;
  margin: -6vh 1vw 0 -4vw;
  position: absolute;
  cursor: pointer;
}

.containerDashboard {
  
 
  width: 88vw;
  
  
}

.mainContainer {
  /* background-color: var(--color-wallpaper, #f6f8f9); */
  
  width: 88vw;

  
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
 
  
}

/* .notificaciones {
  display: flex;
  width: 20vw;
  height: 92vh;
  align-items: flex-start;
  background-color: #068460;
  
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
} */

h3 {
  font-family: Nunito Sans,'Roboto' !important;
  font-size: 22px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  
}

.tituloNot,
.tituloRec {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */
  margin: 0 2vw 0 0;
}

/* .tituloNot::-webkit-scrollbar {
  width: 3px;
}
.tituloNot::-webkit-scrollbar-track {
  background-color: #dddddd;
}
.tituloNot::-webkit-scrollbar-thumb {
  background-color: #888888;
}
.tituloRec::-webkit-scrollbar {
  width: 3px;
}
.tituloRec::-webkit-scrollbar-track {
  background-color: #dddddd;
}
.tituloRec::-webkit-scrollbar-thumb {
  background-color: #888888;
} */
/* .not1,
.not22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 46vh;
  width: 100%;
} */
.notificaciones{
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.not1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 51vh; 
  width: 100%;
  margin-bottom: 20px;
  background-color: #068460;
  overflow: hidden;
  /* Ajusta el espacio entre .not1 y .not22 según tu preferencia */
}
#card-seguimiento {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 55vh; /* La tarjeta tomará la altura del contenedor .not1 */
  max-width: 100%; /* La tarjeta tomará el ancho del contenedor .not1 */
}

.not22 {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: end; 
  height: 50.5vh !important; 
  width: 25vw;
  /* background-color: #068460; */
  background-color: white;
  overflow: hidden;
  margin-top: 5vh;
  
  

}
.not222 {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: end; 
  height: 35.5vh !important;
  
  /* background-color: #068460; */
  background-color: white;
  overflow: hidden;
  margin-top: 5vh;
}


.not2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  
}

.titulo-noticia{
  /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.container-texto-noticia {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn-footer{
  display: flex;
  align-content: flex-end;
  flex-direction: row-reverse !important;
  justify-content: flex-end !important;
}
.verMas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vh 0;
  margin-top: auto;
}

.a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.linea {
  border-top: 2px solid #a0a0a0;
  width: 10vw;
}

.lineaTarjeta {
  border-top: 1px solid rgb(197, 197, 197);
  height: 2px;
  width: 10vw;
  padding: 0;
  margin: 0 0.2vw 0 0.2vw;
}

.containerTarjeta,
.containerTarjetaRec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: auto;
  margin: 1vh 0 0 2vw;
}

.containerTarjetaRec {
  margin-left: 2.3vw !important;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 1vh; */
}

.imagenTarjeta,
.imagenTarjetaRec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 9vh;
  background-color: white;
}

.imagenTarjetaRec,
.contRec {
  height: 5vh !important;
}

.contRec {
  width: 15vw !important;
}

.cont,
.contRec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5vw;
  height: 9vh;
  background-color: white;
  padding: 1px;
  cursor: pointer;
}

.imagenTarjeta img,
.imagenTarjetaRec img {
  max-width: 100%;
  max-height: 100%;
}

.pTarjeta,
.pTitulo {
  margin: 0;
  font-size: 10px;
}

.pTitulo {
  text-align: center;

}

.cont {
  max-height: 100px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-container {
  /* padding: 0 !important;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  
}
.container-buton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}
.modal-header,
.modal-body {
  /* display: flex;
  justify-content: flex-end;
  padding: 0 !important; */

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  padding: 25px;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  color: #06543c;
  cursor: pointer;
  margin-bottom: 14px;
}

.modal-body {
  padding-top: 9px;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-modal {
  cursor: pointer !important;
  padding: 12px 24px;
  margin: 5px;
  height: 60px;
  width: 240px;
  background-color: #068460;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-in-out;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-modal:hover {
  background-color: #057551;
  cursor: pointer;
}

.btn-modal:disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
}

.disabled {
  background-color: #e1e1e1;
  cursor: not-allowed;
  pointer-events: none;
  /* Evita interacciones del usuario */

}

label {
  font-weight: 100;
  padding: 15px;
}

.oculto {
  display: none;
}

.pcard-img-top {
width: 5rem;
height: 6rem;
}
.container-header {
  display: none;
}

/* Estilos para pantallas pequeñas */

@media (max-width: 768px) {
 
  .custom-app-header .container {
      padding-left: 1px;
    }

    .custom-app-header .container-pst {
      display: none;
    }
  
  
  /* NOTICIAS */
  .cont {
      width: 63vw !important;
    }

    .imagenTarjeta img, .imagenTarjetaRec img {
      max-width: 70%;
      max-height: 98%;
      margin-left: 5px;
  }

  .containerTarjeta, .containerTarjetaRec{
    margin: 2vh 0 0 7vw;
  }
  
  .historial-fa-clock {
    display: none;
  }

  .header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-header {
    width: 95%;
    top: 17px;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    flex-direction: row;
  }

  .navbar-toggle {
    padding: 0;
    margin-right: 15px;
    margin-top: 0;
    position: relative;
  }

  .button-cerrar {
    display: block;
    /* margin: -1vh 6vw 6vh 0 !important; */
    margin: 25vh 6vw 6vh 0 !important;
  }

  .container-norma {
    display: none !important;
  }

  .notificaciones {
    position: absolute;
    right: 0;
    width: 98%;
    height: auto;
    background-color: #a09a9a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
  }

  .notificaciones h3 {
    font-size: 20px;
  }

  .notificaciones .imagenTarjeta {
    width: 11vw;
  }

  .imagenTarjeta img,
  .imagenTarjetaRec img {
    max-width: 54%;
    max-height: 98%;
  }

  .cont {
    width: 37vw;
  }

  .dashboard {
    width: 100%;
  }
.closeValidacion{
  margin-top: 66px ;
}
  .close {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 91vh;
    justify-content: flex-end;
    opacity: 2;
    font-weight: 100;
    text-shadow: none;
  }

  .close p:hover {
    font-weight: bold;
  }

  .close p {
    margin-top: 115px;
    padding: 7px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: black;
  }

  .grid-img {
    padding: 1px;
    height: auto;
    width: 100%;
    margin: 1px;
    grid-template-columns: repeat(2, 1fr);
    /* Cambiar a 2 columnas */
    row-gap: 5px;
    column-gap: 10px;
    gap: 19px;
  }

  .item-img i,
  .item-img-sinHover i {
    font-size: 3rem;
    /* Reducir el tamaño de fuente */
  }
}

/* Otros ajustes de estilo para pantallas pequeñas */
@media (max-width: 675px) {
  .custom-app-header 
    .container {
      /* background-color: #ffcc00; */
      padding-left: 1px;
    }
  

  .header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imagenTarjeta img,
  .imagenTarjetaRec img {
    max-width: 95%;
    max-height: 98%;
  }

  .container-header {
    width: 86%;
    top: 17px;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    flex-direction: row;
  }

  /* tarjetas de noticias  */
  .containerTarjeta,
  .containerTarjetaRec {
    width: 100%;
  }
  .containerTarjeta, .containerTarjetaRec{
    margin: 2vh 0 0 2vw;
  }

  .cont {
    width: 72vw;
  }
}

@media (max-width: 430px) {

  .imagenTarjeta img,
  .imagenTarjetaRec img {
    max-width: 90%;
    max-height: 98%;
  }
}

/* COMENZANDO BOOTSTRAP */



.icono{
 cursor: pointer;
 margin: -10px;
  transition: transform 0.15s; /* Transición suave en el cambio de tamaño */
}

.icono:hover {
  transform: scale(1.15); /* Aumenta el tamaño al 105% del tamaño original */
}

/* .#header-dashboard{
  width: 100%;
  height: auto;
} */
#img-container{
  width:100%;
  height:auto;
  margin: 0px, 0px, 0px, 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color:#fff;*/
}

.img-header{
  width: 100px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-dashboard{
  
  

    width: 20rem;

}


.card img:not(#img-noticia) {
  width: auto; 
  height: 80px;
  padding: 0.5rem;
}



#card-carousel{
  margin-top: 1.2vh !important;
  margin-bottom: 1.5vh !important;
  height: 15rem !important; 
  width: 18.5vw;
  margin: 0 auto;/* Asegurar que la tarjeta tenga margen para centrarse */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.carousel-item {
  
  
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.container-carousel-general{
  position: relative !important
}
.noticia-carousel{
  position: relative;
}






.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}



/* Reducir el espaciado entre los elementos dentro de la tarjeta */
.card-body {
  padding: 10px; /* Reducir el relleno alrededor del contenido */
}

.card-title {
 
  /* margin-bottom: 5px;
  text-align: left;
  font-weight: 800;  */

  margin-bottom: 5px;
    text-align: left;
    font-weight: 800;
    /* font-family: Nunito Sans,'Roboto'; */
    /* font-size: 15px; */
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.card-text {
  margin-bottom: 10px;
  text-align: left; /* Reducir el margen inferior del texto */
}

.btn {
  margin-top: 5px; /* Reducir el margen superior de los botones */
  margin-bottom: 5px; /* Reducir el margen inferior de los botones */
}

#img-noticia{
  width: 100%; 
  height: 6rem;
   /* Ajusta el tamaño de la imagen, dejando espacio para el texto y el botón */
  object-fit: cover; /* Asegura que la imagen ocupe todo el espacio disponible sin deformarse */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}




.carousel-caption{
  text-align: center;
  padding: 0 10rem ;
}
 
.imgPerfil{
  border-radius: 50%;
  width: 10rem;
}
 
 
@media (max-width: 768px) {
 
  .imgPerfil{
    width: 10rem;
  }
  .carousel-caption{
    padding: 0;
  }
 
}
 
@media (max-width: 480px){
 
}

/*ESTO ES PARA SEGUIMIENTO*/

.modulo-item {
  display: flex; /* Alinear elementos horizontalmente */
  align-items:center;
   /* Centrar verticalmente los elementos */
}

/* Estilo de la imagen del módulo */
.modulo-imagen {

  max-width: 100px; /* Ancho máximo de la imagen */
  max-height: 100px; /* Altura máxima de la imagen */
  margin-right: 10px;
  margin-left: -10px; /* Espacio entre la imagen y la información */
  
}

/* Estilo de la información del módulo */


.not1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 51vh;
  width: 100%;
  margin-bottom: 20px;
  background-color: #068460;
  position: relative;
  padding-top: 40px; /* Agrega un padding superior para el título */
}

.titulo {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.contenedorCard {
  /* Agrega un margen superior igual al padding del .not1 */
  width: 27vw;
  max-width: 100%;
  height: calc(100% ); /* Calcula la altura restando el padding superior e inferior */
  
  position: absolute;
  box-sizing: border-box; /* Asegura que el padding y borde no afecten el tamaño total */
}
.container-notificaciones{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -2.2rem;

}
.menu-icono{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  right: 0; /* Posicionar a la derecha */
  margin-top: -3rem;

}

#collapseContent{
  z-index: 99999;
  
}
.margen-card{
}



 .custom-popover {  
    max-width: 200px; 
      background-color: #fff;             
      border: 1px solid #ccc;            
      border-radius: 5px;            
    padding: 10px;           
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
      transition: none;    
      margin-top: 0.8rem;   
      margin-left: -0.6rem;  
    }

    .custom-popover::before {    
      margin-top: 5px;
      content: '';
      position: absolute;
      top: -15px; /* Ajusta la distancia del triángulo a la parte superior */
      left: 50%;
      margin-left: -10px; /* Ajusta la posición del triángulo */
      border-width: 0 15px 15px; /* Ajusta el tamaño del triángulo */
      border-style: solid;
      border-color: transparent transparent #fff;        
    
     }

    
     .custom-popover.collapse {             
      transition: none;        
     }

     .cardnotificaciones{
      display:block !important;
      
      
     }
     .header-two{
    
     }
     @media (min-width: 767px) {
      .footer2 {
        margin-top: -4.9rem !important;
        display: flex !important;
        justify-content: flex-end !important;
       
       
      }
      .menu-icono{
        display: none;
      }
  }
  @media (max-width: 1319px) {
    .footer2 {
     
      
    margin-right: 5rem;
     
    }
    
}
  
 
  @media(max-width: 767px){
    .container-notificaciones{
      display: none;
    }
   
    .seguimiento{
      display: none;
    }
    
  }
  @media(max-width: 995px){
    .container-notificaciones{margin-right: 100px;}
  }
  
     
/*******ACORDEON*********/
/* Oculta el ícono de flecha arriba por defecto */
.accordion-button .fa-circle-down {
  display: none;
}

/* Muestra el ícono de flecha arriba cuando el acordeón está desplegado */
.accordion-button[aria-expanded="true"] .fa-circle-down{
  display: inline-block;
}

/* Muestra el ícono de flecha abajo por defecto */
.accordion-button[aria-expanded="false"] .fa-circle-right {
  display: inline-block;
}

/* Oculta el ícono de flecha abajo cuando el acordeón está desplegado */
.accordion-button[aria-expanded="true"] .fa-circle-right {
  display: none;
}
.accordion-button::after {
  content: none; /* Elimina el contenido que representa la flecha */
}

/* Asegura que el botón aún se ve como un botón */
.accordion-button {
  background-color: #fff; /* Fondo blanco o el color que desees */
  color: #000; /* Color de texto negro o el color que desees */
  border: 1px solid #ddd; /* Borde o estilo que desees */
}
#card-seguimiento-acordeon {
  display: flex;
  
  align-items: center;
  
  font-size: 12px;
  height: 43.2vh; /* La tarjeta tomará la altura del contenedor .not1 */
  max-width: 100%; /* La tarjeta tomará el ancho del contenedor .not1 */
  
}
#card-carousel2{
  margin-top: 1.5vh !important;
  
  width: 16rem;
  margin: 0 auto;/* Asegurar que la tarjeta tenga margen para centrarse */
  

}
/* En tu archivo de estilos CSS o en línea en tu componente */
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel  {
  position: fixed !important;
  top: 3rem !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

}




h2{
  font-size: 1.375rem !important;
  font-weight: 400 !important;
  color: #0B5738 !important;
  width: 100% !important;
  text-align: center !important;
  padding: 1.7rem;
}

.dot-red {
  background-color: red;
  display: inline-block;
  width: 10px; /* Tamaño de la bolita */
  height: 10px;
  border-radius: 50%; /* Forma redonda */
  margin-right: 5px; /* Espacio entre la bolita y el texto */
  margin-top: -1rem;
}
.accordion-button[aria-expanded="true"] .dot-red {
  display: none;
}


.accordion-button{
  padding: 0 !important;
  border: 1px solid #ddd !important;
  margin-bottom: -1rem !important;
  
}

.accordion-item{
border: none;
margin-top: -1rem
}


.accordion-item:first-of-type .accordion-button {
   border-top-left-radius: none;
   border-top-right-radius: none
}

.modulo-imagen {
  flex-shrink: 0; /* Evita que la imagen se redimensione */
}


.gianfranco{
  height: 16em !important;
  width: 50em;
  
}
.pepe{
  max-height:  20rem !important;
}

.pepe2{
  margin-top: 2vh;
  height:  16rem !important;
}
.pin{
  height: 10em;
}
.PEPE{
  margin-bottom: -2vh;
}
.row{
  --bs-gutter-x: initial !important; /* Reinicia el valor a su estado inicial */
}

.campana{
  display: flex;
  justify-content: end;
}







