.containerPolitica {
    display: flex;
    flex-direction: column;
    margin: 2vh 1vw;
}

header {
    margin: 16px;
}

h1 {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #068460;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 0 0 2vh 0;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
}
.texto,
.info{
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    margin: 0;
    color: black;
}
.texto{
    margin-top: 1vh !important;
}

.info{
    color: #888888;
    font-size: 15px !important;
}
select{
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    height: 35px;
    padding: 3px;
    width: 89%;
    margin: 1vh 0 0.5vh 0;
}
.date-conte {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    width: 50%;
    margin: 1vh 0 0.5vh 0;
    height: 32px;
    width: 125px;

}
.container1{
    width: 50%;
}

.container-politica{
    display: flex;
}
.container-check{
    display: flex;
    align-items: baseline;
}
.input-check{
    width: 31px;
    height: 16px;
}
.containerBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.botonG,
.btnReporte{
    margin: 4vh 0 2vh 2vw;
    height: 40px;
    width: 200px;
    padding: 5px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}
.btnReporte{
    margin: 0 0 3vh 0 !important;
    align-self: flex-end !important;
}
:disabled{
    background-color: #e1e1e1;
}
select:disabled{
    background-color: #e1e1e1;
}
button:disabled{
    background-color: #737373;
}
/* .validarEstablecimientoVacio{
    visibility;
} */

textarea{
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    height: 70px;
    padding: 3px;
    width: 100%;
    margin: 1vh 0 0.5vh 0;
}
input{
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    height: 35px;
    padding: 3px;
    width: 100%;
    margin: 1vh 0 0.5vh 0;
}
.botonCancelar{
    margin: 4vh 0 2vh 2vw;
    height: 40px;
    width: 200px;
    padding: 5px;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}
.botonAgregar{
    margin:  4vh 0 2vh 1vw;
    height: 40px;
    width: 200px;
    padding: 5px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}
.label-auditor{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #474749;
    margin: 2px 0 15px 0;
  }
  .botonEliminar{
    margin: 4vh 0 2vh 0;
    height: 40px;
    width: 120px;
    padding: 5px;
    background-color: #d9534f;
    border-color: #d43f3a;
    /* background-color: #068460; */
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
  }
  .tabAggregarMas{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    border-bottom: 1px solid #ddd;
  }
  .divTabPregunta{
    width: 40%;
  }
  .textarea-agg{
    width: 421px;
    height: 119px;
  }


