<app-app-header></app-app-header>
<div class="containerMatrizPartesInteresadas">
    <div class="titulo">
        <h1>Matriz de partes interesadas</h1>
        <app-app-header-arrow-left routerLink="/dashboard"></app-app-header-arrow-left>
    </div>
    <button type="button" class="btnReporte" (click)="generatePDF()">
        <i class="fa-solid fa-download" style="color: #ffffff; margin-right: 0.5vw;"></i>Descargar reporte
    </button>
    <div class="form">
        <h3>Agregue las partes interesadas:</h3>
        <button type="button" class="boton"> 
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i> Agregar parte interesada
        </button>
        <form class="form" (ngSubmit)="saveForm()">
            <div class="section1">
                <label class="adicionarLabel">Seleccione parte interesada</label>
                <select class="adicionarInput">
                    <option value="" disabled selected hidden>Parte interesada</option>
                    <option value="proveedores">Proveedores</option>
                    <option value="gubernamentales">Organizaciones gubernamentales</option>
                    <option value="nogubernamentales">Organizaciones no gubernamentales</option>
                    <option value="otro">Otro ¿Cuál?</option>
                </select>
                <div class="changeOtro">
                    <label class="adicionarLabel">Otro ¿Cuál?</label>
                    <input type="text" class="adicionarInput" appLetras>
                </div>
            </div>
            <div class="section2">
                <label class="adicionarLabel">Necesidades de la parte interesada</label>
                <input type="text" class="adicionarInput"> 
                <label class="adicionarLabel">Expectativas de la parte interesada</label>
                <input type="text" class="adicionarInput"> 
            </div>
            <p>¿La organización cumple con los requisitos de las partes interesadas</p>
            <div class="subContainerform">
                <label for="estadoCumplimiento" class="estado">Estado de cumplimiento</label>
                <select name="estadoCumplimiento" class="estadoForm">
                    <option value="" disabled [selected]="true">Seleccione una opción</option>
                    <option value="cumple">Cumple</option>
                    <option value="noCumple">No cumple</option>
                    <option value="cumpleParcialmente">Cumple parcialmente</option>
                </select>
            </div>      
                <div class="subContainerform">
                    <label for="observaciones" class="estado">Observaciones</label>
                    <input type="text" class="estadoForm">
                </div> 
                <div class="subContainerform">
                    <label for="evidencia" class="estado">Acciones a realizar</label>
                    <input type="text" class="estadoForm">
                </div>
                <div class="subContainerformB">
                    <label class="estado">Fecha para la ejecución</label>
                    <input type="date" class="estadoFormB">
                </div>
                <div class="subContainerformB">
                    <label for="responsableCumplimiento" class="estado">Responsable de ejecución</label>
                    <select name="responsableCumplimiento" class="estadoFormB">
                        <option value="" disabled [selected]="true">Seleccione de cumplimiento</option>
                        <option value="ResponsableC">Responsable de dar cumplimiento</option>
                        <option value="ResponsableD">Responsable</option>
                    </select>
                </div>
                <div class="subContainerformB">
                    <label class="estado">Estado</label>
                    <select name="estado" class="estadoFormB">
                        <option value="" disabled [selected]="true">Seleccione una opción</option>
                        <option value="Abierto">Abierto</option>
                        <option value="Cerrado">Cerrado</option>
                    </select>
                </div>
        </form>
        <div class="containerBtn">
            <button type="submit" class="botonG">
                <i class="fa-regular fa-floppy-disk" style="color: #fff;"></i> Guardar
            </button>
            <button type="button" class="botonG"> 
                <i class="fa-solid fa-pen" style="color: white; margin: 0 0.4vw;"></i> Editar
            </button>
        </div>
    </div>
</div>
<app-app-footer></app-app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>