.containerMatrizPartesInteresadas{
    display: flex;
    flex-direction: column;
    margin: 2vh 1vw;
}
.titulo{
    display: flex;
    flex-direction: row-reverse;
    margin: 2vh 0;
}
h1{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #068460;
    text-align: center;
    margin: 2vh 0;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 0 0 2vh 0;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
}
.botonG,
.btnReporte,
.boton{
    margin: 4vh 0 2vh 2vw;
    height: 45px;
    width: 200px;
    padding: 5px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}
.botonC {
  margin: 4vh 0 2vh 2vw;
  height: 40px;
  width: 200px;
  padding: 5px;
  background-color: #B93131;
  border-radius: 100px;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}
.btnReporte{
    margin: 0 0 2vh 0 !important;
    align-self: flex-end !important;
}
.boton{
    width: 253px !important;
    margin: 2vh 0 2vh 0 !important;
}
:disabled{
    background-color: #737373;
}

select:disabled{
    background-color: #e1e1e1;
}
input:disabled{
    background-color: #e1e1e1;
}
.containerBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2vh 0 3vh 0;
}
.adicionarLabel,
.adicionarP{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    margin: 1vh 0;
    font-weight: 500;
}
.adicionarP{
    font-size: 16px !important;
    margin: 3vh 0 1vh 0 !important;
    font-weight: bold;
}
a {
  margin-left: 5px;
  margin-right: 5px;
}
.adicionarInput,
.adicionarInputSection{
    background: #FFFFFF;
    border-radius: 10px;
    height: 6vh;
    padding: 5px;
    width: 45vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    border: 1px solid #000000;
    margin: 0.5vh 0;
}
.containerFormulario{
    display: flex;
}
.section{
    display: flex;
}
.section1,
.section2,
.changeOtro,
.subContainerform,
.subForm{
    display: flex;
    flex-direction: column;
}
.subForm{
    margin: 0 0 0 2vw !important;
}
.section1{
    margin: 0 4vw 0 0 !important;
}
.subContainerform .adicionarInput,
.subContainerform .adicionarInputSection{
    width: 30vw !important;
}
/*input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: solid 2px tomato !important;
    border-radius: 10px;
  }*/

tr th {
  text-align: center !important;
}

.table-gestion {
  width: 100%;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  min-width: 450px;
  border: 2px solid #068460;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 2vh 4vw 4vh 0vw;
}

  .table-gestion thead tr {
    background-color: #068460;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
  }

  .table-gestion th,
  .table-gestion tbody td {
    padding: 15px;
  }

  .table-gestion tbody tr {
    border-bottom: 1px solid white;
  }
/* pagination */
.page-style {
  display: flex;
  justify-content: flex-end;
}

.paginas {
  display: inline-block;
  max-width: 100%;
  margin: 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}

.container-label {
  display: flex;
  align-items: center;
}

.check-mejora{
    display:flex;
}
.input-check{
    margin:5px;
}

@media (max-width: 970px) {
  /* NOMBRE DE LA CABECERA  */
  .matriz-partes-app-header .container-pst p {
            display: none;
        }
    
}
