<app-modal></app-modal>
<app-app-header class="indicadores-app-header"></app-app-header>

<app-app-header2></app-app-header2>
<div class="container">
  <div class=" header-container mt-0">
    <app-app-header-arrow-left [redirectToDashboard]="true"></app-app-header-arrow-left>
    <h1>RECORDATORIOS</h1>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-menu-medicion-kpis class="menu-oculto"></app-menu-medicion-kpis>
    </div>
    <mat-menu #menu="matMenu">
      <app-menu-medicion-kpis
        class="responsi-gerencia-menu"
      ></app-menu-medicion-kpis>
    </mat-menu>
    <div class="resposi-icon">
      <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #ffffff">
        <i class="fa-solid fa-bars" style="font-size: 20px"></i>
      </button>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="norma">Norma</label>
            <mat-select
              [(ngModel)]="dataEnvio.ID_NORMA"
              name="norma"
              class="form-control"
              required
              (selectionChange)="cambiarNorma($event)"
            >
              <mat-option
                *ngFor="let item of normas; let index = index"
                id="ID_NORMA-{{ index }}"
                [value]="item.ID_NORMA"
              >
                {{ item.NORMA }}
              </mat-option>
            </mat-select>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="paquete">Paquete</label>
            <select
              class="form-control"
              [(ngModel)]="dataEnvio.ID_PAQUETE"
              name="paquete"
              required
              (selectionChange)="cambiarPaquete($event)"
              (change)="cambiarPaquete($event)"
            >
              <option id="todos" [value]="0">
                TODOS LOS PAQUETES
              </option>
              <option
                *ngFor="let item of dataPaquete; let index = index"
                id="ID_PAQUETE-{{ index }}"
                [value]="item.Id"
              >
                {{ item.Nombre }}
              </option>
            </select>
          </div>
        
        </div>
        <div class="col-md-2">
         
        </div>
        <div
          class="col-md-12 col-sm-12 col-12 text-center mt-3"
         
        ><div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="form-group alinear-buscador" appearance="outline">
              <mat-icon
                class="search-icon hand-pointer"
                style="color: #068460"
                matPrefix
                (click)="buscar()"
                >search</mat-icon
              >

              <input
                matInput
                [(ngModel)]="filter.search"
                class="form-control"
                placeholder="Ingresar título del KPI"
              />
            </div>
          </div>
        </div>
          
        </div>
      </div>

      <br />
      <div class="col-md-12">
        <div class="mat-elevation-z8 table-responsive text-center mt-1">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="paquete">
              <th mat-header-cell *matHeaderCellDef>Paquete</th>
              <td mat-cell *matCellDef="let element">
                {{ element.NOMBRE_PAQUETE }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Título</th>
              <td mat-cell *matCellDef="let element">
                {{ element.TITULO }}
              </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element">
                {{ element.DESCRIPCION }}
              </td>
            </ng-container>
            <ng-container matColumnDef="calculo">
              <th mat-header-cell *matHeaderCellDef>Cálculo</th>
              <td mat-cell *matCellDef="let element">
                {{ element.FORMULA_TEXT }}
              </td>
            </ng-container>
            <ng-container matColumnDef="periodo">
              <th mat-header-cell *matHeaderCellDef>Responsable</th>
              <td mat-cell *matCellDef="let element">
                {{ element.NOMBRE_RESPONSABLE }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fechaRecordatorio">
              <th mat-header-cell *matHeaderCellDef>Fecha Recordatorio</th>
              <td mat-cell *matCellDef="let element">
                {{ element.FECHA_RECORDATORIO }}
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones" class="text-center">
              <th class="text-center" mat-header-cell *matHeaderCellDef>
                Opciones
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <mat-icon
                  matTooltip="Asignar Recordatorio"
                  style="color: #068460"
                  class=" margen iconos hand-pointer"
                  fontIcon="notification_important"
                  (click)="asignarRecordatorio(2, element)"
                ></mat-icon>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="mat-header-row"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <footer class="page-style">
          <div class="container-label">
            <label class="paginas">
              Página: {{ pages }} / {{ totalPaginas }} Mostrando:
              {{ dataSource.length }} Registros: {{ totalItems }}
            </label>
            <div class="ls-pagina">
              <pagination
                lastText="&raquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                previousText="&lsaquo;"
                [maxSize]="3"
                [totalItems]="totalItems"
                [itemsPerPage]="pageSize"
                [(ngModel)]="currentPage"
                [boundaryLinks]="true"
                (pageChanged)="pageChanged($event)"
                [ngClass]="{ 'page-item': true }"
              >
              </pagination>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
<br />
<app-app-footer></app-app-footer>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>
