
  .titulo {
    display: flex;
    flex-direction: row-reverse;
    margin: 2vh 0;
  }
  .mat-header-row {
    background-color: #068460;
    color: #fff !important;
  }
  th {
    color: #fff;
  
    font-size: 14px;
  }
  .container-header {
    width: 50%;
  }
  app-app-header {
    width: 50%; /* Otra forma de hacer que el componente ocupe todo el ancho del contenedor padre */
    background-color: lightblue; /* Un ejemplo de estilo adicional */
  }
/* pagination */
.page-style {
    display: flex;
    justify-content: flex-end;
  }
  .paginas {
    display: inline-block;
    max-width: 100%;
    margin: 10px;
    font-weight: 700;
    font-size: 14px;
 
  }
  .container-label {
    display: flex;
    align-items: center;
  }

  
/*menu*/
.resposi-icon {
  display: none;
}
@media (max-width: 970px) {
    /* NOMBRE DE LA CABECERA  */
  
    .indicadores-app-header 
      .container-pst p {
        display: none;
      }
    
  
    /* MENU */
  
    .menu-oculto {
      display: none;
    }
    .responsi-gerencia-menu 
      .linea {
        width: auto;
      }
      .responsi-gerencia-menu 
        .td-menu {
        width: auto;
      }
    
    .resposi-icon {
      display: flex;
      
      
    }
  
    .resposi-icon {
      width: 95%;
  
      top: 3px;
  
      justify-content: flex-end;
  
      display: flex;
  
      position: absolute;
  
      flex-direction: row;
    }
  }
  td,th
  {
    font-size: 16px; /* Ajusta el tamaño de fuente del input según tus necesidades */
  
  }
  th{
    font-weight: bold;
  }
  label {
    color: black !important;
    font-size: 13px;
  }


  .header-container {
    display: flex;
    justify-content: space-between; /* Espaciado entre los elementos dentro del contenedor */
    align-items: center;
   
  }
  
  /* Media query para estilos responsivos */
  @media (max-width: 767px) {
    .header-container {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    h1 {
      order: 1;
    }
    .container{
        padding-left: 0rem;
    }
    app-app-header-arrow-left {
      order: 2; 
      
    }
  }