/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}
/* Estilos para la página actual activa */
.pagination > .active > a,
.pagination > .active > span {
    background-color: #068460 !important;
    color: #fff !important;
}

/* Estilos para los números de página y los puntos suspensivos */
.pagination > li > a,
.pagination > li > span {
    color: #068460 !important;
}
