<app-app-header></app-app-header>
<div class = "cointainer">
<!-- <p>rol colaborador</p> -->
<a href="../../../../assets//Politica-de-datos/POLITICA DE TRATAMIENTO DE DATOS  ISOLUCIONES.pdf"></a>
<div class="titulo">
  <h1>{{datos.TITULO_PRINCIPAL}}</h1>
  <app-app-header-arrow-left class="arrow"></app-app-header-arrow-left>
</div>
<form [formGroup]="formParent" class="controllerDiagnostico" (ngSubmit)="saveForm()"> 
  <p>Todos los campos con el asterisco (*) son obligatorios</p>
    <div *ngFor="let campo of datos.campos; let j = index" class="diagnostico">
        <h3>{{campo.TITULO_PRINCIPAL}}</h3>
        <div *ngFor="let subcampo of campo.listacampos; let i = index" class="formDiagnostico">
          <h2>{{subcampo.TITULO}}</h2>  
          <label>Numero principal</label>
          <input type="text" [value]="subcampo.NUMERAL_PRINCIPAL" disabled="true" [id]="'requisito-' + i">
          <label>Numero específico</label>
          <input type="text" [value]="subcampo.NUMERAL_ESPECIFICO" disabled="true" [id]="'requisito-' + i">
          <label>Titulo del requisito</label>
          <input type="text" [value]="subcampo.TITULO" disabled="true" [id]="'requisito-' + i">
           <label>*Requisito</label>
          <textarea type="text" [value]="subcampo.REQUISITO" style="height: 200px" disabled="true" [id]="'requisito-' + i"></textarea>
          <label>*Posible evidencia</label>
          <textarea type="text" [value]="subcampo.NOMBRE_EVIDENCIA" style="height: 200px" disabled="true" [id]="'requisito-' + i"></textarea>
          <label>Escoge una de las siguientes opciones<span style="color: red;">*</span></label>
          <div class="cont">
            <div *ngFor="let opcion of subcampo.desplegable" class="containerRadio">
              <label>{{opcion.descripcion}}</label>
              <div class="radio">
                <input type="radio" [value]="opcion.ITEM" [name]="'radio' + j + '-' + i" (change)="capturarValor($event, opcion.ITEM, subcampo.NUMERAL_PRINCIPAL , subcampo.NUMERAL_ESPECIFICO)" 
                (click)="valorSeleccionado = opcion.ITEM" [id]="subcampo.NUMERAL_ESPECIFICO" (change)="opcionSeleccionada = true"
                [formControlName]="'radio' + j + '-' + i"> {{opcion.DESCRIPCION}}
              </div>
            </div>
          </div>
          <label>Observacion</label>
          <textarea type="text" style="height: 200px" [id]="'observacion-' + subcampo.NUMERAL_ESPECIFICO" 
          (input)="capturarValorObs($event, subcampo.NUMERAL_PRINCIPAL ,subcampo.NUMERAL_ESPECIFICO)" class="obs"></textarea>
          <div class="linea"></div>
        </div>
    </div>
    <label *ngIf="!isFormValid()" class="completarCamposLabel">Completa todos los campos obligatorios del formulario</label>
    <div>
      <button type="submit" class="btn" [disabled]="!isFormValid()">Guardar</button>
    </div>
    
</form>
<app-app-footer></app-app-footer>
<app-modal></app-modal>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="small"
  template="<img src='https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif' width='50' height='50'/>"
>
</ngx-spinner>

</div>
