.controllerDiagnostico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.diagnostico,
.formDiagnostico{
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #068460;
    margin: 15vh 0 2vh 0;
    width: 60vw;
    text-align: center;
}
h3{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 5px 0 0 0;
}
h2{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 5px 0 0 0;
}
label,
p{
    margin: 10px 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 5px 0 5px 0;
}
p{
    color: red !important;
}
input, textarea{ 
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 40px;
    margin: 5px 0 15px 0;
    padding: 5px;
    width: 60vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000000;
}
.btn{
    margin: 6vh 3vw;
    height: 40px;
    width: 200px;
    padding: 5px;
    background-color: #068460;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.divBtn{
    display: flex;
    justify-content: row;
  }
.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerRadio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 16.5vw;
}
.radio{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    width: 16vw;
    height: 20px !important;
    margin: 10px 5px 10px 0 !important;
    padding: 3px;
}
input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10%;
    height: 150%;
    background-color: white;
    border: 2px solid #068460;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    border-radius: 50%;
}
div.radio input[type=radio]:checked:before{
    content: "●";
    font-size: 18px;
    color: #068460;
    position: absolute;
    top: 50%;
    transform: translate(0%, -55%);
}
.inputContainer {
    background: #FFFFFF;
    border: 2px solid #068460;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin: 5px 0 5px 15px !important;
    width: 40vw !important;
}
.linea{
    border-top: 1px solid rgb(192, 192, 192);
    height: 2px;
    width: 60vw;
    padding: 0;
    margin: 10px auto 15px auto;
}
@media (max-width: 900px) {
    .cont{
        flex-direction: column;
    }    
    .containerRadio {
        width: 26vw;
    }
    input[type=radio]{
        width: 20%;
    }
}